h2 {
  margin: 3vh auto;
  font-weight: 400;
  font-size: 250%;
  text-align: center;
}

.challenge {
  padding: 15px;
}

.col {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .col-0 {
    display: none;
  }
}
