<h2>{{ 'challenges' | translate }}</h2>
<mat-tab-group>
  <mat-tab [label]="'last10' | translate">
    <div class="row challenge">
      <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-8 col-8">
        {{ 'date' | translate }}
      </div>
      <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
        {{ 'time' | translate }}
      </div>
      <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
        {{ 'record' | translate }}
      </div>
      <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-0 col-0">
        {{ 'start' | translate }}
      </div>
      <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-0 col-0">
        {{ 'finish' | translate }}
      </div>
    </div>
    <div *ngIf="latest10.length > 0">
      <challenge-list-element
        *ngFor="let challengeForm of latest10"
        [challengeForm]="challengeForm"
        ></challenge-list-element>
      </div>
    </mat-tab>
    <mat-tab [label]="'all' | translate">
      <div class="row challenge">
        <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-8 col-8">
          {{ 'date' | translate }}
        </div>
        <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
          {{ 'time' | translate }}
        </div>
        <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
          {{ 'record' | translate }}
        </div>
        <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-0 col-0">
          {{ 'start' | translate }}
        </div>
        <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-0 col-0">
          {{ 'finish' | translate }}
        </div>
      </div>
      <div *ngIf="allChallenges.length > 0">
        <challenge-list-element
          *ngFor="let challengeForm of allChallenges"
          [challengeForm]="challengeForm"
        ></challenge-list-element>
      </div>
    </mat-tab>
  </mat-tab-group>
