.outerCard {
  color: var(--mainFont);
  margin: 0 auto;
  max-width: 1440px;
  background: var(--mainBackground);
  padding: 1% 1%;
  margin: 1rem auto;
}

@media only screen and (max-width: 768px) {
  .outerCard {
    margin: 0 auto;
  }
}
