<div class="page">
  <scroll-indicator></scroll-indicator>
  <toolbar></toolbar>
  <developer-header (scrollClicked)="scroll(target)"></developer-header>
  <div #target></div>
  <mat-card class="outerCard">
    <about-section></about-section>
    <gallery-section></gallery-section>
    <webdev-section></webdev-section>
    <experience-section></experience-section>
  </mat-card>

  <scroll-top></scroll-top>
  <footer></footer>
</div>
