.background {
  padding: 2rem 0;
  width: 100%;
  background-color: var(--mainBackground);
}

.formWrapper {
  max-width: 900px;
  margin: 0 auto;
}

p {
  color: var(--mainFont);
}


@media only screen and (max-width: 768px) {
  p {
    font-size: 80%;
  }

  .col-12 {
    .button {
      margin: 0.5rem 0;
      width: 100%;
    }
  }
}