<toolbar></toolbar>
<switched-leaflet-view-marker
  *ngIf="wall"
  [layers]="wallMarker"
  [marker]="wall"
></switched-leaflet-view-marker>
<div class="background">
  <div class="formWrapper">
    <wall-form *ngIf="wallForm" [wallForm]="wallForm"></wall-form>
    <div class="row" *ngIf="wallForm && wallForm.get('statusUpdates').value.length > 0">
      <div class="col-12" *ngFor="let update of wallForm.get('statusUpdates').value">
        <p>{{ update }}</p>
        <hr />
      </div>
    </div>
    <div class="row" *ngIf="loggedIn">
      <div class="col-12 center">
        <button
          class="button main"
          *ngIf="wallForm && !updated && !editmode"
          (click)="openConfirmDialog()"
        >
          {{ 'confirm' | translate }}
        </button>
        <button
          class="button alt"
          *ngIf="wallForm && !updated && !editmode"
          (click)="changeLegalState()"
        >
          {{ 'update' | translate }}
        </button>
        <button class="button main" *ngIf="wallForm && editmode" (click)="openConfirmDialog()">
          {{ 'save' | translate }}
        </button>
        <button class="button alt" routerLink="/graffmap">{{ 'back' | translate }}</button>
      </div>
    </div>
    <div class="center" *ngIf="!loggedIn">
      <button class="button alt" routerLink="/graffmap">{{ 'back' | translate }}</button>
    </div>
  </div>
</div>
<footer></footer>
