.section {
  margin-bottom: 12vh;
  text-align: center;
}

h2 {
  margin: 3vh auto;
  font-weight: 400;
  font-size: 250%;
}

.webdevButton {
  margin-top: 2rem;
}

p {
  margin: 0 auto;
  letter-spacing: 1px;
  max-width: 900px;
  font-size: 125%;
}

a {
  font-size: 200%;
  text-decoration: none;
  transition: 0.2s;
  margin: 0 10px;
}

a:hover {
  color: var(--main);
}

.fa-discord {
  color: #7289da;
}

.fa-gitlab {
  color: #fa7035;
}

.fab {
  transition: 0.2s;
}

.fab:hover {
  color: var(--mainFont);
}

.contactLinks {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .section {
    margin-bottom: 10vh;
  }

  h2 {
    font-size: 200%;
  }

  p {
    padding: 15px;
    text-align: justify;
    font-size: 100%;
  }
}
