<div class="section">
  <h2>{{ 'aboutSection' | translate }}</h2>
  <p class="aboutText">{{ 'aboutSectionText' | translate }}</p>
  <div class="contactLinks">
    <a href="https://gitlab.com/fiehra" target="_blank"><i class="fab fa-gitlab"></i></a>
    <a href="https://discord.gg/wkTGSHA" target="_blank"><i class="fab fa-discord"></i></a>
  </div>
</div>
