mat-form-field {
  width: 100%;
  font-size: 140% !important;
  margin: 2px auto;
}

input {
  letter-spacing: 1px;
  word-spacing: 1px;
}

input[type="text"]:disabled {
  color: var(--main) !important;
}

.mat-input-element:disabled {
  color: var(--main) !important;
}