<mat-form-field>
  <input matInput placeholder="{{placeholder}}" [formControl]="inputControl" [type]="hidePw ? 'password' : 'text'" />
  <button tabindex="-1" mat-icon-button matSuffix (click)="hidePw = !hidePw">
    <mat-icon>{{hidePw ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error *ngIf="inputControl.hasError('required')">{{requiredErrorMessage}}</mat-error>
  <mat-error *ngIf="inputControl.hasError('email')">{{'email_invalid' | translate}}</mat-error>
  <mat-error *ngIf="inputControl.hasError('pwNotSame')">{{'pwsNotSame' | translate}}</mat-error>
  <mat-error *ngIf="inputControl.hasError('noValidNumber')">{{noValidNumberErrorMessage}}</mat-error>
</mat-form-field>