mat-toolbar {
  margin: 1rem auto 0 auto;
  max-width: 1440px;
  background: var(--mainBackground);
  padding: 15px;
  height: auto;
  color: var(--mainFont);
}

h1 {
  font-size: 200%;
  margin: 2% auto;
  color: var(--mainFont);
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 100;
}

.title {
  width: 70%;
  padding-right: 25px;
}

.spacer {
  height: 55px;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

i {
  position: relative;
  top: 3px;
  font-size: 125%;
}

span {
  position: relative;
  bottom: 7px;
}

.backButton {
  cursor: pointer;
  font-size: 300%;
  color: var(--mainDark);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.backButton:hover {
  color: var(--mainLight);
}

@media only screen and (max-width: 768px) {
  mat-toolbar {
    margin: 0;
  }

  switched-input {
    display: none;
  }

  h1 {
    display: none;
  }

  span {
    display: none;
  }

  .spacer {
    display: block;
  }

  i {
    top: 3px;
    font-size: 100%;
  }


}