<mat-toolbar>
  <div class="backButton">
    <i class="material-icons" routerLink="/viewForumList" matTooltip="{{'back'|translate}}" matTooltipPosition="below" matTooltipShowDelay="1000">arrow_left</i>
  </div>
  <h1 *ngIf="userId !== forumPostForm.get('writerId').value"> {{forumPostForm.get('title').value}}</h1>
  <span class="spacer"></span>

  <button *ngIf="loggedIn && userId === forumPostForm.get('writerId').value" matTooltip="{{'deletePost'|translate}}" matTooltipPosition="below" matTooltipShowDelay="1000" class="button main" (click)="openDeleteConfirmation()">
    <i class="material-icons">delete</i>
    <span>{{'delete'|translate }}</span>
  </button>
  <button *ngIf="!editmode && loggedIn && userId === forumPostForm.get('writerId').value" matTooltip="{{'editPost'|translate}}" matTooltipPosition="below" matTooltipShowDelay="1000" class="button main" (click)="enableEditing()">
    <i class="material-icons">create</i>
    <span>{{'edit'|translate}}</span>
  </button>
  <button *ngIf="editmode && loggedIn && userId === forumPostForm.get('writerId').value" matTooltip="{{'savePost'|translate}}" matTooltipPosition="below" matTooltipShowDelay="1000" class="button alt" (click)="emitSaved()">
    <i class="material-icons">save</i>
    <span>{{'save'|translate}}</span>
  </button>

  <button *ngIf="loggedIn" (click)="emitCommentClicked()" matTooltip="{{'commentTooltip'|translate}}" matTooltipPosition="below" matTooltipShowDelay="1000" class="button main">
    <i class="material-icons">chat_bubble_outline</i>
    <span> {{'comment'|translate }}</span>
  </button>
</mat-toolbar>