<div class="shopForm center">
  <p>{{'shopInfo'|translate}}</p>
  <div class="row">
    <div class="col-12 col-sm-12 col-xl-6 col-md-12 col-lg-6">
      <switched-input [placeholder]="'name'|translate" [control]="shopForm.get('name')"></switched-input>
    </div>
    <div class="col-12 col-sm-12 col-xl-6 col-md-12 col-lg-6">
      <switched-input [placeholder]="'website'|translate" [control]="shopForm.get('website')"></switched-input>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-xl-12 col-md-12 col-lg-12">
      <switched-textarea [minRows]="5" [placeholder]="'description'|translate" [control]="shopForm.get('description')"></switched-textarea>
    </div>
  </div>
</div>