.devHeader {
  height: calc(100vh - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.h2 {
  cursor: default;
  color: var(--light);
  font-size: 500%;
  font-weight: 200;
  margin-bottom: 5vh;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.devHeaderText {
  cursor: default;
  padding: 0 15px;
  text-align: center;
  color: var(--light);
  font-size: 125%;
}

.headerButton {
  margin-top: 1.5rem;
}

.h2:hover {
  text-shadow: 0 0 15px var(--main);
  color: var(--mainLight);
  cursor: default;
}

@media only screen and (max-width: 768px) {
  .h2 {
    font-size: 250%;
  }
}
