<div class="devHeader">
  <h2 class="h2">
    {{'fiehra'|translate}}
  </h2>
  <h3 class="devHeaderText">
    {{'fiehraHeaderText'|translate}}
  </h3>
  <button class="button main headerButton" (click)="showMoreScroll()">{{'showMoreButton'|translate}}</button>
</div>