.outerCard {
  color: var(--mainFont);
  margin: 1rem auto;
  width: 100%;
  max-width: 1440px;
  background: var(--mainBackground);
  padding: 1% 1%;
}

h2 {
  margin: 3vh auto;
  font-weight: 400;
  font-size: 250%;
  text-align: center;
}

.combotool {
  height: 80vh;
  max-width: 100%;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.colorPreview {
  position: relative;
  top: 5px;
}

#wall {
  background-color: var(--altBackground);
}

// menu and graff color desktop
#outlines {
  fill: var(--mainFont);
}

#background {
  fill: var(--mainDark);
}

#secondary-background {
  fill: var(--mainLight);
}

#fillIn {
  fill: var(--mainSuperDark);
}

#effects {
  fill: var(--alt);
}

#blocks {
  fill: var(--altFont);
}

// menu and graff color mobile
#mobile-outlines {
  fill: var(--mainFont);
}

#mobile-background {
  fill: var(--mainDark);
}

#mobile-secondary-background {
  fill: var(--mainLight);
}

#mobile-fillIn {
  fill: var(--mainSuperDark);
}

#mobile-effects {
  fill: var(--alt);
}

#mobile-blocks {
  fill: var(--altFont);
}

@media only screen and (max-width: 768px) {
  h2 {
    display: none;
  }

  .outerCard {
    margin: 0;
  }

  .combotool {
    height: calc(100vh - 55px);
    max-width: 100%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
