<toolbar></toolbar>
<mat-card class="outerCard">
  <h2>{{ 'colorcombo' | translate }}</h2>

  <div class="combotool" id="wall">
    <div class="desktop">
      <background id="background"></background>
      <secondary-background id="secondary-background"></secondary-background>
      <fill-in id="fillIn"></fill-in>
      <effects id="effects"></effects>
      <outline id="outlines"></outline>
      <block-effects id="blocks"></block-effects>
    </div>

    <div class="mobile">
      <mobile-background id="mobile-background"></mobile-background>
      <mobile-secondary-background
        id="mobile-secondary-background"
      ></mobile-secondary-background>
      <mobile-fill-in id="mobile-fillIn"></mobile-fill-in>
      <mobile-effects id="mobile-effects"></mobile-effects>
      <mobile-outline id="mobile-outlines"></mobile-outline>
      <mobile-blocks id="mobile-blocks"></mobile-blocks>
    </div>
  </div>

  <div class="outerDiv">
    <color-menu
      class="desktop"
      [menuName]="'desktopMenu'"
      (colorSelected)="setColor($event)"
    ></color-menu>
    <color-menu
      class="mobile"
      [menuName]="'mobileMenu'"
      (colorSelected)="setColor($event)"
    ></color-menu>
  </div>
</mat-card>
<footer></footer>
