<scroll-indicator></scroll-indicator>
<toolbar></toolbar>
<mat-card class="outerCard">
  <div class="flexbox">
    <h2>{{ 'howToPreventClogging' | translate }}</h2>
    <mat-card-content>
      <p>{{ 'preventClog1Text' | translate }}</p>
      <br />
      <img src="/assets/img/smash.jpeg" alt="graffiti" />
      <br />
      <br />
      <p>{{ 'preventClog2Text' | translate }}</p>
      <br />
      <p>{{ 'preventClog3Text' | translate }}</p>
      <br />
      <br />
      <p class="cloggingHeader">{{ 'conclusion' | translate }}</p>
      <br />
      <p>{{ 'preventClog4Text' | translate }}</p>
      <br />
      <p>{{ 'preventClog5Text' | translate }}</p>
      <br />
      <p>{{ 'preventClog6Text' | translate }}</p>
    </mat-card-content>
  </div>
</mat-card>
<scroll-top></scroll-top>
<footer></footer>
