<div class="row center">
  <div class="col-12">
    <h2>
      {{ 'stats' | translate }}
    </h2>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
    <p>{{ 'streak' | translate }}</p>
    <p>{{ streak }}</p>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
    <p>{{ 'record' | translate }}</p>
    <p>{{ record }}</p>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
    <p>{{ 'averageTime' | translate }}</p>
    <p>{{ averageTime }}</p>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
    <button
      class="button alt scrollButton"
      *ngIf="difference !== 0"
      routerLink="/createChallenge"
    >
      <i class="material-icons">add</i>
      <span>{{ 'create' | translate }}</span>
    </button>
    <div *ngIf="difference === 0">
      <p>{{ 'daily' | translate }}</p>
      <i class="material-icons done">done</i>
    </div>
  </div>
</div>
