h2 {
  margin: 3vh auto;
  font-weight: 400;
  font-size: 250%;
}

.scrollButton {
  width: 100%;
  height: 4rem;
}

.done {
  font-size: 250%;
  color: green;
  font-weight: bold;
}

i {
  position: relative;
  top: 3px;
  font-size: 125%;
}

span {
  position: relative;
  bottom: 7px;
}

@media only screen and (max-width: 768px) {
  span {
    display: none;
  }
}
