<div class="verifiationPage">
  <toolbar></toolbar>
  <div class="flexbox">
    <mat-card>
      <mat-card-header>
        <mat-card-title> {{ 'pleaseVerify' | translate }} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="center">
          <p>{{ 'resendVerification' | translate }}</p>
          <button
            class="button main"
            [disabled]="disableResend ? true : null"
            (click)="resendLink()"
          >
            {{ 'resend' | translate }}
          </button>
          <p>
            {{ 'routeHome' | translate }}
            <a routerLink="/home"> {{ 'home' | translate }} </a>
          </p>
          <p>
            {{ 'alreadyVerified' | translate }}
            <a routerLink="/login"> {{ 'login' | translate }} </a>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <footer></footer>
</div>
