.router-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.65)), var(--image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: min-content;
  min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  .router-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.65)), var(--imageVert);
    background-size: cover;
    background-position: center;
    background-attachment: fixed !important;
  }
  @supports (-webkit-touch-callout: none) {
    .router-wrapper {
      /* CSS specific to iOS devices */
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.65)), var(--imageVert);
      background-attachment: scroll !important;
    }
  }
}
