  .scroll-progress--fixed {
    width: 100%;
    height: 15px;
    background: var(--main);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 3;
  }

  /* The progress bar (scroll indicator) */
  .scroll-progress__indicator {
    height: 15px;
    background: var(--mainSuperDark);
    width: 0%;
  }