<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 max-width="100%" max-height="100%" viewBox="0 0 800 400" enable-background="new 0 0 800 400" xml:space="preserve">
<g id="effects">
	<path stroke-width="0.5" stroke-miterlimit="10" d="M134.583,193.5l-7.5,7.75C142.667,215.25,159,240,159,240
		l1-1.5L134.583,193.5z M129.583,201.417l5.167-4.75l16.667,29.75C151.417,226.417,143.75,215.168,129.583,201.417z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M142.917,143.333l-20.583-0.583
		c4.583,5.167,23.25,50.75,23.25,50.75l5.833-1.167L142.917,143.333z M126.417,144.833l15.083,0.583L149.333,190l-3.083,0.667
		C146.25,190.667,129.25,148.75,126.417,144.833z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M216.292,198.375l-13.333,24.875
		c6.042,1.458,10.625,3.208,10.625,3.208l12-21.75L216.292,198.375z M212.875,224.708c0,0-2.333-0.999-7.208-2.166l11.375-21.667
		l6.542,4.042L212.875,224.708z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M227.542,206.042l-11.667,21.375l6.25,2.166l11.583-19.041
		L227.542,206.042z M221.417,228.042l-3.458-1.25l10.125-18.542l3.833,2.583L221.417,228.042z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M235.833,296.084c0,0-3.167,7.083-19.167,20.833l-0.417,7.667
		c0,0,6.417-3.833,36-7.5L235.833,296.084z M219,317.751c13.167-11.083,17.417-17.917,17.417-17.917l11.25,15.417
		c-17.583,1.667-28.667,5.833-28.667,5.833V317.751z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M274.833,323.417c-35.5,4-60.917,16.834-60.917,16.834
		c5.167,6.083,7.333,11.583,7.333,11.583c28.583-20.833,54.167-26,54.167-26L274.833,323.417z M221.75,348.751
		c0,0-1.5-3.667-5-7.667c0,0,23.333-10.666,50.833-14.833C267.583,326.251,240.75,334.001,221.75,348.751z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M310.125,231.959c-3,3.292-7.418,9.375-7.418,9.375
		l5.334,3.916l6.957-9.833L310.125,231.959z M307.791,243.25l-3.207-2.166l5.625-7.625l3.125,2.291L307.791,243.25z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M317.5,237.5l-7.918,9.292
		c5.177,4.211,10.293,9.792,10.293,9.792l9.082-10.417L317.5,237.5z M311.791,246.709l6.043-7.5l9.125,7.041l-7.084,8.375
		C319.875,254.625,315.75,249.334,311.791,246.709z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M354.832,231.584c0,0-2.666,2.125-6.541,4.5l17.875,14.042
		c0,0,1.875-0.834,4.707-3.084L354.832,231.584z M350.875,236.167c2.082-1.334,3.875-2.791,3.875-2.791l14.375,13.666l-2.75,1.625
		L350.875,236.167z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M365.906,220.156c0,0-3.917,5.387-9.614,10.178l16.791,15.083
		c0,0,7.795-6.687,11.043-15.083L365.906,220.156z M373.25,243.438l-14.845-12.969c0,0,4.095-3.219,7.875-8.75l16.188,9.344
		C382.469,231.063,379.875,237.563,373.25,243.438z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M370.625,149.563L355.5,166.375
		c0,0,13.188,8.25,21.438,16.938l2.75-1.875L370.625,149.563z M358.438,166.125l11.875-12.813l7.813,27.125l-1.063,0.813
		C377.063,181.25,366.875,171.75,358.438,166.125z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M364.875,127.938L346,160.813l7.313,4.063l16.25-19.063
		L364.875,127.938z M353.188,162.438l-4.438-2.313l15.813-27.063l3.031,11.313L353.188,162.438z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M235.5,212.416l-11.125,18.209c0,0,9.375,4.75,19.063,10.813
		l13.313-13.125C256.75,228.313,244.125,218.707,235.5,212.416z M226.75,230.313L236.125,215l18.25,13.625l-10.938,11.063
		C243.438,239.688,233.5,233.563,226.75,230.313z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M343.75,175.375l-22.313,18.75L333,204.875
		c8.438-6.875,25.875-17.625,25.875-17.625L343.75,175.375z M324.375,194.125l19.688-16.438l11.438,9.563
		c0,0-13.5,7.938-22.063,14.813L324.375,194.125z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M319.125,196.083l-6.043,4.833L324.916,212
		c2.125-2.083,5.793-5.375,5.793-5.375L319.125,196.083z M324.75,208.875l-8.75-7.709l3.332-2.833l8.334,8.125L324.75,208.875z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M285.125,140.5c-48.125-1.917-40.875,25.125-40.875,25.125
		l23.25,1.438c5.125-10.938,22.688-12.188,22.688-12.188L285.125,140.5z M265.917,164.875l-19.75-1.208c0,0-2.5-23.083,37.25-21
		l3.5,10.646C286.917,153.313,272.167,153.583,265.917,164.875z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M267.024,170l-22.712-1.25
		c0.813,6.75,3.125,12.313,3.125,12.313l18.625-2C265.938,173,267.024,170,267.024,170z M264.438,177.5l-15.75,1.688
		c0,0-1.25-3.875-1.875-8.25l18.125,0.938C264.938,171.875,264.375,174.563,264.438,177.5z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M370.207,279.875l-25.832,19.25
		c0,0,4.041,16.959,3.207,35.792L352,335.5c0,0,3.875-19.375,23.625-51L370.207,279.875z M350.75,333.063h-1.668
		c0,0,1.334-13.998-2.75-33.166l24.25-18.166l3.084,3.166C373.666,284.896,355.75,311.646,350.75,333.063z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M430.063,217.188l-27.188-0.438l-3.75,17.938l32.813-1.899
		C431.5,225.262,430.063,217.188,430.063,217.188z M401.938,232.578l2.75-13.516l23.625,0.313L430,231.25L401.938,232.578z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M432.563,236.188L398,238.938l-4.813,14.875
		c18.313-8.125,40.125-10.375,40.125-10.375C433,239.313,432.563,236.188,432.563,236.188z M396.438,250.688l2.688-10.188l32-2.438
		l0.438,4C431.563,242.063,412.688,243.625,396.438,250.688z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M539.334,232.251v26.334l16.166,2.582l5.209-33.416
		L539.334,232.251z M554.25,259.21l-13.666-2.167v-23.458l18.166-3.25L554.25,259.21z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M530.709,233.813l0.541,23.23l5.834,1v-25.5L530.709,233.813z
		 M535.5,256.376l-2.625-0.416l-0.709-20.917l3.334-0.625V256.376z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M586.25,240.25c-3.75-0.188-5.75-1.5-5.75-1.5l-3.313,30.313
		c13.438,8.438,24.875,6.813,24.875,6.813L586.25,240.25z M579.188,268.125l2.563-26.875c2.063,0.813,3.688,1.063,3.688,1.063
		L598.75,274C587.633,273.868,579.188,268.125,579.188,268.125z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M604.688,242.125c-2.151,4.884-5.5,6.375-5.5,6.375
		l23.625,42.625c16.75-9.063,21.438-29.438,21.438-29.438L604.688,242.125z M623.625,288.75l-22.375-39.5
		c0,0,2.688-1.563,3.938-5.125l36.875,18.438C642.063,262.563,637.564,278.991,623.625,288.75z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M617.625,212.438l-15.875,0.75
		c-1.188,13.375-4.125,20.063-4.125,20.063l28.125,5.5C624.625,220.375,617.625,212.438,617.625,212.438z M603,214.813l14.188-0.563
		c0,0,5.563,8.188,6.75,22.25l-23.813-4.375C600.125,232.125,602.375,226.625,603,214.813z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M650.438,160.375l-7.5,47.375l4.375-1.438l23.438-43.875
		L650.438,160.375z M646.25,204.875l-1.125,0.313l6.875-42.5l15.625,1.438L646.25,204.875z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M512,308.188l-15.125,39l12.063-1.813l4-37.188H512
		L512,308.188z M507.188,343.75l-7.5,1.25l11.125-29.375L507.188,343.75z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M533.957,169.417l34.459,25l3.541-9.792L533.957,169.417z
		 M567.791,191.708l-23.041-16.333l25.125,10.167L567.791,191.708z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M549.332,164.167l-1.25,3.625l28.543,9.083l2.166-6.708
		L549.332,164.167z M575.457,174.75l-25.5-7.708l0.334-1.125l26.209,5.417L575.457,174.75z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M480.834,301.497c6.667,23.75,0,38.087,0,38.087l5.167,2
		c13.25-21.246,18.415-37.754,18.415-37.754L480.834,301.497z M485.251,338.913l-2.001-0.746c0,0,6.166-10.09,0.666-33.67
		L501,306.163C501.001,306.163,496.085,319.996,485.251,338.913z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M502.563,153.813l-12.438,7l6.063,8.604L507,162.5
		L502.563,153.813z M492.438,161.25l9.813-5.438l2.813,6.25l-8.25,5.188L492.438,161.25z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M488.563,162l-6.813,4.344l6.625,8.75l6.25-4.469L488.563,162
		z M483.781,166.594l4.625-2.75l4.595,6.5l-4.281,2.813L483.781,166.594z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M524.166,170.521c-8.384,3.944-16.875,8.896-16.875,8.896
		l14.375,22.292l17.916-10L524.166,170.521z M509.582,180.041l14.25-7.375l13.543,18.542l-15,8.417L509.582,180.041z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M540.406,192.969l-17.655,10.406l6,9.156l17.563-11.938
		L540.406,192.969z M524.625,203.625l15.313-8.844l4.344,5.469l-15.063,10.156L524.625,203.625z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M475,271.298l-4.961,6.542c0,0,4.238,3.376,10.086,21.368
		l24.957,2.289l4.084-11.282L475,271.298z M503.625,299.375L482.25,297.5c0,0-2.688-9.313-9.375-19.563l2.688-4.188l31.063,17.375
		L503.625,299.375z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M479.25,266.313l-2.25,3.375l33.188,17.688L515.625,271
		L479.25,266.313z M509.166,284.875l-29.791-15.625l0.813-1.438l33.063,4.563L509.166,284.875z"/>
	<path stroke-miterlimit="10" d="M507.291,118.167l-1.875-3.083l-45.166,40l5.834,8.083
		c15.25-11.917,33.332-19.917,33.332-19.917C498,126,507.291,118.167,507.291,118.167z M497.416,142.167
		c0,0-23.916,12.333-30.832,18.583l-4-5.167l42.666-37.5C505.25,118.083,496.381,126.417,497.416,142.167z"/>
</g>
<circle cx="418.52" cy="188.782" r="5"/>
<circle cx="255.668" cy="260.249" r="5"/>
<circle cx="122.772" cy="229.271" r="5"/>
<circle cx="164.5" cy="187.604" r="5"/>
<circle cx="163" cy="173.188" r="5"/>
<circle cx="160" cy="153.733" r="5"/>
<circle cx="168.625" cy="160.719" r="3"/>
<circle cx="163.5" cy="197.042" r="3"/>
<circle cx="189.875" cy="183.958" r="3"/>
<circle cx="131.834" cy="228.188" r="3"/>
<circle cx="169.5" cy="179.458" r="3"/>
<circle cx="174" cy="184.792" r="3"/>
<circle cx="174" cy="166.187" r="3"/>
<circle cx="160" cy="163.947" r="3"/>
<circle cx="167.125" cy="149.5" r="1.5"/>
<circle cx="168" cy="154" r="1.5"/>
<circle cx="160.188" cy="180.74" r="1.5"/>
<circle cx="184.656" cy="181.792" r="1.5"/>
<circle cx="196.188" cy="186.292" r="1.5"/>
<circle cx="186.834" cy="178.188" r="1.5"/>
<circle cx="171" cy="171.292" r="1.5"/>
<circle cx="165.625" cy="166.187" r="1.5"/>
<circle cx="178.656" cy="175.792" r="6"/>
<circle cx="163" cy="203.043" r="1.5"/>
<circle cx="163.5" cy="207.543" r="1.5"/>
<circle cx="171.938" cy="190.542" r="1.5"/>
<circle cx="124.272" cy="220.688" r="1.5"/>
<circle cx="128.459" cy="223.125" r="1.5"/>
<circle cx="136.896" cy="231.188" r="1.5"/>
<circle cx="128.834" cy="233.063" r="1.5"/>
<circle cx="411.271" cy="169.417" r="1.5"/>
<circle cx="384.18" cy="151.999" r="3"/>
<circle cx="265.25" cy="258.249" r="3"/>
<circle cx="286.167" cy="273.312" r="1.5"/>
<circle cx="286.167" cy="273.312" r="1.5"/>
<circle cx="256.375" cy="267.875" r="1.5"/>
<circle cx="274.75" cy="296.084" r="1.5"/>
<circle cx="255.168" cy="272.375" r="1.5"/>
<circle cx="267.32" cy="263.417" r="1.5"/>
<circle cx="262.75" cy="263.417" r="1.5"/>
<circle cx="270.25" cy="278.063" r="1.5"/>
<circle cx="250.668" cy="268.417" r="3"/>
<circle cx="285.584" cy="256" r="3"/>
<circle cx="285.876" cy="248.938" r="3"/>
<circle cx="266.156" cy="282.188" r="3"/>
<circle cx="271.75" cy="291.034" r="3"/>
<circle cx="259.375" cy="281.063" r="3"/>
<circle cx="264.25" cy="272.375" r="6"/>
<circle cx="249.168" cy="277.375" r="5"/>
<circle cx="276.542" cy="247.042" r="5"/>
<circle cx="271.281" cy="285.188" r="1.5"/>
<circle cx="256.668" cy="276.563" r="1.5"/>
<circle cx="262.25" cy="285.875" r="1.5"/>
<circle cx="242.999" cy="282.375" r="1.5"/>
<circle cx="291.291" cy="251.167" r="1.5"/>
<circle cx="280.292" cy="253.749" r="1.5"/>
<circle cx="263.75" cy="239.136" r="1.5"/>
<circle cx="293.251" cy="245.938" r="3"/>
<circle cx="268.709" cy="242.345" r="3"/>
<circle cx="297.751" cy="242.938" r="1.5"/>
<circle cx="328.687" cy="168.75" r="1.5"/>
<circle cx="330.709" cy="159.078" r="1.5"/>
<circle cx="287.084" cy="243.845" r="1.5"/>
<circle cx="273.719" cy="239.938" r="1.5"/>
<circle cx="316.833" cy="174.688" r="1.5"/>
<circle cx="412.292" cy="178.125" r="6"/>
<circle cx="322.687" cy="162.186" r="6"/>
<circle cx="391.063" cy="158.813" r="5"/>
<circle cx="630.478" cy="197.896" r="5"/>
<circle cx="322.687" cy="172.042" r="3"/>
<circle cx="314.208" cy="179.989" r="3"/>
<circle cx="315.735" cy="169.042" r="3"/>
<circle cx="332.625" cy="163.947" r="3"/>
<circle cx="313.833" cy="163.376" r="1.5"/>
<circle cx="310.833" cy="184.412" r="1.5"/>
<circle cx="319.687" cy="177.292" r="1.5"/>
<circle cx="427.563" cy="204.125" r="1.5"/>
<circle cx="426.395" cy="189.771" r="1.5"/>
<circle cx="429.562" cy="179.625" r="1.5"/>
<circle cx="412.062" cy="192.354" r="1.5"/>
<circle cx="420.02" cy="175.031" r="1.5"/>
<circle cx="407.562" cy="170.292" r="1.5"/>
<circle cx="409.062" cy="187.854" r="3"/>
<circle cx="427.031" cy="184.344" r="3"/>
<circle cx="427.563" cy="195.625" r="3"/>
<circle cx="630.021" cy="206.958" r="3"/>
<circle cx="416.583" cy="169.125" r="3"/>
<circle cx="421.52" cy="180.625" r="2.5"/>
<circle cx="428.292" cy="208.042" r="1.5"/>
<circle cx="432.24" cy="192.625" r="1.5"/>
<circle cx="423.083" cy="200.969" r="3"/>
<circle cx="421.77" cy="195.625" r="1.5"/>
<circle cx="389.188" cy="166.438" r="1.5"/>
<circle cx="389.903" cy="151.063" r="1.5"/>
<circle cx="382.188" cy="146.407" r="1.5"/>
<circle cx="387.18" cy="146.407" r="1.5"/>
<circle cx="635.031" cy="204.209" r="1.5"/>
<circle cx="450.25" cy="204.125" r="1.5"/>
<circle cx="444.344" cy="205.613" r="3"/>
<circle cx="447.344" cy="200.313" r="1.5"/>
<circle cx="452.125" cy="197.125" r="3"/>
<circle cx="455.084" cy="191.916" r="1.5"/>
<circle cx="507.291" cy="226.416" r="1.5"/>
<circle cx="511.582" cy="222.115" r="3"/>
<circle cx="508.125" cy="235.375" r="6"/>
<circle cx="492.582" cy="240.866" r="5"/>
<circle cx="511.582" cy="227.448" r="1.5"/>
<circle cx="511.937" cy="216.616" r="1.5"/>
<circle cx="485.25" cy="239.574" r="1.5"/>
<circle cx="501.874" cy="243.21" r="3"/>
<circle cx="499.626" cy="237.624" r="1.5"/>
<circle cx="484.582" cy="245.293" r="3"/>
<circle cx="479.168" cy="245.866" r="1.5"/>
<circle cx="489.751" cy="253.168" r="1.5"/>
<circle cx="489.751" cy="247.71" r="1.5"/>
<circle cx="507.792" cy="243.793" r="1.5"/>
<circle cx="513.291" cy="244.074" r="3"/>
<circle cx="505.791" cy="248.874" r="3"/>
<circle cx="496.874" cy="251" r="5"/>
<circle cx="491.874" cy="256.543" r="1.5"/>
<circle cx="487.582" cy="256.543" r="1.5"/>
<circle cx="479.582" cy="240.21" r="3"/>
<circle cx="474.438" cy="238.074" r="1.5"/>
<circle cx="624.938" cy="192.375" r="1.5"/>
<circle cx="636.031" cy="192.896" r="1.5"/>
<circle cx="630.021" cy="212.209" r="1.5"/>
<circle cx="525.124" cy="347.938" r="3"/>
<circle cx="523.001" cy="342.063" r="1.5"/>
<circle cx="527.168" cy="342.781" r="1.5"/>
<circle cx="523.584" cy="336.501" r="3"/>
<circle cx="522.584" cy="330.834" r="1.5"/>
</svg>
