<toolbar></toolbar>
<div class="flexbox">
  <mat-card>
    <mat-card-header>
      <mat-card-title> {{ 'imprint' | translate }} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        skillcap.org <br />
        Berlin <br />
        Germany
      </p>
      <br />
      <p>
        {{ 'routeHome' | translate }}
        <a routerLink="/home">{{ 'home' | translate }}</a>
      </p>
      <p>
        {{ 'gotQuestions' | translate }}
        <a routerLink="/contact">{{ 'contactUs' | translate }}</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
<footer></footer>
