.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

mat-card {
  max-width: 550px;
  padding: 5%;
  background: var(--mainBackground) !important;
  color: var(--mainFont);
}

mat-card-title {
  font-size: 200% !important;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin-bottom: 2rem !important;
}

a {
  text-decoration: none;
  color: var(--main);
  transition: 0.2s;
}

a:hover {
  color: var(--mainDark);
}

p {
  font-size: 1rem;
  letter-spacing: 1px;
  word-spacing: 1px;
}

@media only screen and (max-width: 768px) {
  footer {
    position: unset;
    width: 100%;
  }

  mat-card {
    padding: 2rem;
  }

  mat-card-title {
    margin-bottom: 1rem !important;
  }

  p {
    font-size: 125%;
  }
}
