.section {
  margin-bottom: 12vh;
  text-align: center;
}

h2 {
  margin: 3vh auto;
  font-weight: 400;
  font-size: 250%;
}

p {
  margin: 0 auto;
  letter-spacing: 1px;
  max-width: 700px;
  font-size: 125%;
}

.aboutText {
  margin-bottom: 2rem;
}

.scrollButton {
  height: 5rem;
  margin: 12px auto;
  width: 100%;
}

.material-icons {
  display: none;
}

@media only screen and (max-width: 768px) {
  .section {
    margin-bottom: 10vh;
  }

  h2 {
    font-size: 200%;
  }

  p {
    padding: 15px;
    font-size: 100%;
    text-align: justify;
  }

  .aboutText {
    margin-bottom: 20px;
  }

  .scrollButton {
    height: 6rem;
  }

  span {
    font-weight: 400;
    font-size: 60%;
  }

  .material-icons {
    margin: 0;
    display: block;
    font-size: 125%;
  }

}