<div class="section">
  <h2>{{ 'learn' | translate }}</h2>
  <p class="aboutText">{{ 'learnSectionText' | translate }}</p>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
      <button class="button main scrollButton" routerLink="/comingSoon">
        <i class="material-icons">school</i
        ><span>{{ 'videos' | translate }}</span>
      </button>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
      <button class="button main scrollButton" routerLink="/workshops">
        <span class="icon-spraycan material-icons"></span
        ><span>{{ 'workshops' | translate }}</span>
      </button>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
      <button class="button main scrollButton" routerLink="/listTricks">
        <i class="material-icons">help_outline</i
        ><span>{{ 'tipsAndTricks' | translate }}</span>
      </button>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
      <button class="button main scrollButton" routerLink="/contact">
        <i class="material-icons">mail_outline</i
        ><span>{{ 'contact' | translate }}</span>
      </button>
    </div>
  </div>
</div>
