<button mat-menu-item (click)="changeLanguage('en')">
  {{ 'englishMenu' | translate }}
</button>
<button mat-menu-item (click)="changeLanguage('jp')">
  {{ 'japaneseMenu' | translate }}
</button>
<button mat-menu-item (click)="changeLanguage('de')">
  {{ 'germanMenu' | translate }}
</button>
