<scroll-indicator></scroll-indicator>
<toolbar></toolbar>
<mat-card class="outerCard">
  <div class="flexbox">
    <h2>{{ 'howToChangePressure' | translate }}</h2>
    <mat-card-content>
      <p>{{ 'changePressure1' | translate }}</p>
      <br />
      <img src="/assets/img/releaseGas-min.jpeg" alt="releaseGas" />
      <br />
      <p class="pressureHeader">{{ 'changePressure2' | translate }}</p>
      <br />
      <p>{{ 'changePressure3' | translate }}</p>
      <br />
      <p>{{ 'changePressure4' | translate }}</p>
      <br />
      <p>{{ 'changePressure5' | translate }}</p>
      <br />
      <br />
      <p class="pressureHeader">{{ 'changePressure6' | translate }}</p>
      <br />
      <p>{{ 'changePressure7' | translate }}</p>
      <br />
      <p>{{ 'changePressure8' | translate }}</p>
      <br />
      <p>{{ 'changePressure9' | translate }}</p>
      <br />
      <p>{{ 'changePressure10' | translate }}</p>
      <br />
      <br />
      <p class="pressureHeader">{{ 'changePressure11' | translate }}</p>
      <br />
      <p>{{ 'changePressure12' | translate }}</p>
      <br />
      <p>{{ 'changePressure13' | translate }}</p>
      <br />
      <p>{{ 'changePressure14' | translate }}</p>
      <br />
      <p>{{ 'changePressure15' | translate }}</p>
      <br />
      <img src="/assets/img/reduceGas.jpeg" alt="reduceGas" />
      <br />
      <p class="pressureHeader">{{ 'conclusion' | translate }}</p>
      <br />
      <p>{{ 'changePressure16' | translate }}</p>
      <br />
      <p>{{ 'changePressure17' | translate }}</p>
      <br />
      <br />
      <p>{{ 'changePressure18' | translate }}</p>
      <br />
      <p>{{ 'changePressure19' | translate }}</p>
      <p>{{ 'changePressure20' | translate }}</p>
    </mat-card-content>
  </div>
</mat-card>
<scroll-top></scroll-top>
<footer></footer>
