mat-card {
  margin: 0 auto;
  max-width: 900px;
  background: var(--mainBackground) !important;
  color: var(--mainFont);
}

.outerCard {
  margin: 1rem auto;
  padding: 3% 3%;
}

@media only screen and (max-width: 768px) {
  .outerCard {
    margin: 0;
  }
}
