<mat-card class="outerCard">
  <mat-card-content>
    <div class="row">
      <div class="col-12 col-sm-12 col-xl-6 col-md-6">
        <switched-input
          *ngIf="userId === userForm.get('id').value"
          [placeholder]="'playerEmail' | translate"
          [control]="userForm.get('email')"
        ></switched-input>
        <switched-input
          [placeholder]="'username' | translate"
          [control]="userForm.get('username')"
        ></switched-input>
        <switched-input
          [placeholder]="'age' | translate"
          [control]="userForm.get('age')"
        ></switched-input>
        <switched-input
          [placeholder]="'currentLocation' | translate"
          [control]="userForm.get('currentLocation')"
        ></switched-input>
        <switched-input
          [placeholder]="'tag' | translate"
          [control]="userForm.get('tag')"
        ></switched-input>
      </div>
      <div class="col-12 col-sm-12 col-xl-6 col-md-6">
        <profile-image
          (imagePicked)="emitImagePicked($event)"
          [userForm]="userForm"
          [userId]="userId"
        ></profile-image>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <switched-textarea
          [minRows]="5"
          [maxRows]="50"
          [placeholder]="'aboutme' | translate"
          [control]="userForm.get('aboutme')"
        ></switched-textarea>
      </div>
      <div class="col-12 col-sm-12 col-xl-6 col-md-6">
        <switched-input
          [placeholder]="'faveColor' | translate"
          [control]="userForm.get('faveColor')"
        ></switched-input>
      </div>
      <div class="col-12 col-sm-12 col-xl-6 col-md-6">
        <switched-select
          [placeholder]="'faveTheme' | translate"
          [control]="userForm.get('faveTheme')"
          [options]="selectOptions"
        ></switched-select>
      </div>
    </div>
    <div class="row" *ngIf="userId === userForm.get('id').value">
      <div class="col-12 col-sm-12 col-xl-6 col-md-6">
        <switched-input
          [placeholder]="'inventory' | translate"
          [control]="userForm.get('inventory')"
        ></switched-input>
      </div>
    </div>
  </mat-card-content>
</mat-card>
