<scroll-indicator></scroll-indicator>
<toolbar></toolbar>
<gallery-toolbar></gallery-toolbar>
<mat-card>
  <gallery
    class="mobileGallery"
    [flexBorderSize]="10"
    [flexImageSize]="35"
    [maxRowsPerPage]="45"
    [galleryName]="'galleryVertical'"
  >
  </gallery>
  <gallery
    class="desktopGallery"
    [flexBorderSize]="10"
    [flexImageSize]="7"
    [maxRowsPerPage]="45"
    [galleryName]="'galleryHorizontal'"
  >
  </gallery>
</mat-card>
<scroll-top></scroll-top>
<footer></footer>
