mat-card {
  margin: 1rem auto;
  max-width: 1440px;
  color: var(--mainFont);
  background: var(--mainBackground);
}

.mobileGallery {
  display: none;
}

.desktopGallery {
  display: block;
}

@media only screen and (max-width: 768px) {
  mat-card {
    margin: 0;
  }
  
  .mobileGallery {
    display: block;
  }

  .desktopGallery {
    display: none;
  }
}