<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 max-width="100%" height="100%" viewBox="200 -200 400 800" enable-background="new 200 -200 400 800" xml:space="preserve">
<g id="backgroundEffects">
	<rect x="436.73" y="-88.623" width="6.853" height="34.817"/>
	<rect x="405.361" y="-149.489" width="6.66" height="36.731"/>
	<rect x="489.809" y="5.147" width="6.298" height="42.036"/>
	<rect x="440.156" y="38.049" width="7.934" height="38.624"/>
	<rect x="363.656" y="-3.599" width="6.333" height="49.987"/>
	<rect x="354.755" y="-81.571" width="10.296" height="43.939"/>
	<rect x="517.135" y="213.438" width="5.854" height="32.984"/>
	<rect x="484.316" y="196.237" width="8.364" height="63.121"/>
	<rect x="523.452" y="102.204" width="5.557" height="30.295"/>
	<rect x="328.861" y="129.222" width="8.896" height="29.179"/>
	<rect x="346.408" y="163.07" width="12.609" height="49.234"/>
	<rect x="484.316" y="326.487" width="8.364" height="53.182"/>
	<rect x="311.86" y="-3.599" width="9.732" height="41.648"/>
	<rect x="284.987" y="219.817" width="5.231" height="26.605"/>
	<rect x="412.021" y="407.079" width="11.063" height="47.717"/>
	<rect x="416.232" y="528.535" width="6.852" height="49.076"/>
	<rect x="375.107" y="463.732" width="10.854" height="49.184"/>
	<rect x="324.741" y="379.669" width="8.226" height="49.202"/>
	<rect x="274.985" y="349.131" width="6.173" height="30.538"/>
	<rect x="279.136" y="269.727" width="5.851" height="22.193"/>
	<rect x="334.319" y="238.184" width="6.874" height="31.543"/>
	<rect x="472.677" y="388.948" width="4.445" height="52.01"/>
</g>
</svg>
