<button mat-menu-item routerLink="/comingSoon">
  {{ 'videos' | translate }}
</button>
<button mat-menu-item routerLink="/workshops">
  {{ 'workshops' | translate }}
</button>
<button mat-menu-item routerLink="/listTricks">
  {{ 'tipsAndTricks' | translate }}
</button>
