<mat-card>
  <mat-card-header>
    <mat-card-title> {{ 'signup' | translate }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ 'enterLoginInfo' | translate }}</p>
    <div class="center">
      <switched-input (keyup.enter)="signingUp()" [placeholder]="'playerEmail'|translate" [control]="userForm.get('email')"></switched-input>
      <switched-input (keyup.enter)="signingUp()" [placeholder]="'username'|translate" [control]="userForm.get('username')"></switched-input>
      <switched-password (keyup.enter)="signingUp()" [placeholder]="'playerPassword'|translate" [control]="userForm.get('password')"></switched-password>
      <switched-password (keyup.enter)="signingUp()" [placeholder]="'repeatPlayerPassword'|translate" [control]="userForm.get('passwordConfirmation')"></switched-password>
    </div>
    <button class="button main" (click)="signingUp()">{{'signup'|translate}}</button>
    <p> {{ 'existingUser' | translate }} <a routerLink="/login"> {{'logInNow' | translate }} </a></p>
  </mat-card-content>
</mat-card>