mat-card {
  margin: 1rem auto;
  max-width: 450px;
  padding: 12%;
  background: var(--mainBackground) !important;
  color: var(--mainFont);
}

mat-card-title {
  font-size: 200% !important;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin-bottom: 20px !important;
}

mat-form-field {
  width: 100%;
}

mat-card-content {
  padding: 0 auto;
}

p {
  padding: 0 0;
  font-size: 125%;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 1px;

  a {
    color: var(--main);
    transition: 0.2s;
  }

  a:hover {
    color: var(--mainDark);
    text-decoration: none;
  }
}


.mat-icon-button {
  height: 1.65em !important;
}

.button {
  width: 100%;
  margin: 35px 0 !important;
  letter-spacing: 1px;
  word-spacing: 1px;
}

::ng-deep .mat-form-field-label {
  color: var(--mainFont);
}

::ng-deep .mat-form-field-underline {
  background-color: var(--main) !important;
}

::ng-deep .mat-form-field-ripple {
  background-color: var(--mainFont) !important;
}

@media only screen and (max-width: 768px) {
  mat-card {
    margin: 0 auto;
  }
}