<div class="section">
  <h2>{{'tools'|translate}}</h2>
  <p class="aboutText">{{'toolsSectionText'|translate}}</p>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-0 col-sm-0 col-0">
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
      <button class="button main scrollButton" routerLink="/graffmap"><i class="material-icons">map</i><span>{{'map'|translate}}</span></button>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
      <button class="button main scrollButton" routerLink="/combo"><i class="material-icons">palette</i><span>{{'colorcombo'|translate}}</span></button>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-0 col-sm-0 col-0">
    </div>
  </div>
</div>