<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 max-width="100%" height="100%" viewBox="200 -200 400 800" enable-background="new 200 -200 400 800" xml:space="preserve">
<g id="blocks">
	<polygon points="352.719,3.295 357.304,-27.076 363.893,-33.245 357.304,-1.844 	"/>
	<polygon points="360.063,-4.589 366.34,-35.141 368.469,-37.256 361.736,-6.528 	"/>
	<polygon points="381.565,-37.632 374.788,-6.983 370.947,-10.208 378.554,-39.484 	"/>
	<polygon points="376.98,-7.601 383.971,-37.632 387.46,-39.484 380.268,-9.529 	"/>
	<path d="M388.588-5.825l13.61-30.711c0,0,1.235,7.546-0.46,19.739L387.46,11.361
		C387.46,11.361,388.392,1.984,388.588-5.825z"/>
	<path d="M401.102-11.998c0,0-0.5,3.8-1.318,8.503l-13.622,23.539l0.819-4.799L401.102-11.998z"/>
	<path d="M485.425-28.928L467.587-5.14c0,0-8.642,2.263-13.921,6.029l9.73-18.408
		C463.398-17.519,472.72-25.798,485.425-28.928z"/>
	<path d="M459.5-14.592L450.331,3.08c0,0-7.867,4.439-18.425,16.409C431.906,19.489,444.201-1.583,459.5-14.592z"/>
	<path d="M309.941,92.744l-0.915,38.159c0,0,4.3-3.023,10.833-6.088l1.595-36.412
		C321.454,88.402,313.866,91.01,309.941,92.744z"/>
	<polygon points="321.807,124.134 323.521,87.667 329.34,85.752 326.531,121.873 	"/>
	<polygon points="328.244,121.187 330.851,85.413 333.043,85.059 329.818,120.708 	"/>
	<polygon points="307.812,92.54 307.271,130.902 299.045,127.838 299.045,90.829 	"/>
	<path d="M254.074,25.024l12.185,36.328c0,0,4.682,4.724,8.247,13.643l-9.259-33.734
		C265.248,41.261,260.247,32.154,254.074,25.024z"/>
	<path d="M353.898,130.125l3.108-31.445c0,0,4.84,3.023,7.726,5.16l-9.141,26.924L353.898,130.125z"/>
	<path d="M356.922,130.986l0.402,0.234c0,0,9.28-5.118,19.101-18.059c0,0-3.758-3.215-9.759-7.671L356.922,130.986z"
		/>
	<path d="M418.654,182.67c0,0,7.882-4.599,12.543-11.036c0,0-1.37-3.564-5.144-8.364l-14.117,11.452
		C411.936,174.722,415.802,179.054,418.654,182.67z"/>
	<path d="M425.313,161.915l-14.501,11.897l-3.289-3.754l14.19-12.687
		C421.713,157.37,423.915,160.089,425.313,161.915z"/>
	<path d="M420.98,156.162l-14.621,12.943l-0.773-0.777c0,0,14.438-12.844,14.572-12.844
		C420.3,155.483,420.98,156.162,420.98,156.162z"/>
	<path d="M434.544,79.759l12.932,15.427c0,0,1.671,0.082,3.923,0.749l10.885-12.581
		C462.283,83.354,454.89,75.498,434.544,79.759z"/>
	<path d="M452.838,97.029l11.241-12.473c0,0,1.51,1.229,1.924,2.885L454.841,98.67L452.838,97.029z"/>
	<polygon points="467.319,88.995 455.858,99.79 456.283,100.32 467.928,90.453 	"/>
	<path d="M273.751,173.488l14.801,37.008l2.746,0.68l-3.703-32.966C287.594,178.211,281.22,175.125,273.751,173.488z
		"/>
	<path d="M293.212,211.73l-2.948-32.348l9.121,3.766l-3.426,29.476C295.959,212.625,294.585,212.07,293.212,211.73z"
		/>
	<polygon points="297.469,213.438 301.575,184.126 305.28,185.927 298.674,213.798 	"/>
	<path d="M348.323,198.227l13.365-19.184c0,0,3.503,6.915,7.685,11.576l-13.705,11.854l-5.278-1.156L348.323,198.227
		z"/>
	<path d="M370.606,192.408c0,0,2.331,2.594,4.661,4.446l-12.484,8.58l-4.661-1.79L370.606,192.408z"/>
	<polygon points="376.64,198.366 365.19,206.238 367.042,206.793 377.895,199.163 	"/>
	<path d="M319.262,266.979l21.389,25.433c0,0-4.799,5.063-18.643,9.385l-6.512-33.708
		C315.496,268.089,317.348,267.812,319.262,266.979z"/>
	<path d="M319.464,302.477l-6.021-33.924l-2.747,0.556v35.773C310.697,304.883,315.559,303.988,319.464,302.477z"/>
	<path d="M308.984,269.234l-0.818,36.328c0,0-1.575,0.43-3.301,0.555l3.086-36.883H308.984z"/>
	<path d="M306.191,269.757l-4.12,36.544c0,0,0,0.34-2.394,0.465L306.191,269.757z"/>
	<path d="M357.005,261.321l-28.931-6.409v-6.575l29.389-1.471C357.463,246.866,358.836,256.467,357.005,261.321z"/>
	<path d="M356.728,244.592l-28.654,2.275l-0.587-2.275l28.145-5.937
		C355.632,238.654,356.645,241.125,356.728,244.592z"/>
	<polygon points="354.73,236.462 327.113,243.439 326.738,241.928 353.837,233.313 	"/>
	<polygon points="353.272,231.331 326.223,240.693 352.911,230.526 	"/>
	<polygon points="299.759,214.394 307.069,186.733 308.346,187.427 	"/>
	<path d="M334.34,202.089l-19.101,21.03l-1.776-1.43l17.367-21.653C330.831,200.036,332.648,200.949,334.34,202.089z
		"/>
	<polygon points="312.188,221.205 329.221,198.961 328.074,198.165 	"/>
	<polygon points="304.184,269.914 295.681,306.609 294.245,306.609 	"/>
	<path d="M451.968,209.754l15.771,11.451l-9.412,2.809c0,0-17.811,0.869-30.836-2.066l-1.369-1.728L451.968,209.754z
		"/>
	<polygon points="441.547,201.934 439.488,197.952 420.98,211.328 422.357,213.86 	"/>
	<path d="M415.362,264.296l-5.278,7.22h-7.747c0,0-4.938-4.134-9.321-7.22H415.362z"/>
	<path d="M387.675,265.745l-11.652,10.556c0,0-29.676-4.383-33.009-4.785l9.151-7.221l6.682,1.048l9.629-0.555
		L387.675,265.745z"/>
	<polygon points="354.078,280.6 374.469,297.218 385.524,298.371 355.828,280.769 	"/>
	<polygon points="372.862,298.841 371.586,307.29 350.654,286.026 351.625,281.003 	"/>
	<polygon points="371.225,309.205 370.808,311.632 349.558,289.472 350.016,287.855 	"/>
	<polygon points="370.53,313.492 370.298,314.355 348.801,291.303 	"/>
	<polygon points="336.192,358.558 336.217,358.604 354.016,392.819 356.208,379.794 336.532,353.494 	"/>
	<polygon points="356.718,376.953 337.936,352.29 340.96,353.494 356.902,375.411 	"/>
	<path d="M464.034,342.55l-4.771-0.639c0,0-1.997-3.106-5.021-7.49l5.687,1.747L464.034,342.55z"/>
	<polygon points="457.627,333.506 452.882,332.313 450.58,329.593 455.795,330.952 	"/>
	<polygon points="320.454,421.536 319.815,460.542 334.34,453.964 330.775,420.937 	"/>
	<path d="M336.192,452.265l-3.01-27.563l6.853,25.155l4.598-2.066C344.632,447.791,342.781,449.518,336.192,452.265z
		"/>
	<path d="M343.121,380.287l10.757,21.451c0,0-2.979,2.131-6.465,8.489l-8.231-26.812
		C339.181,383.414,340.555,381.348,343.121,380.287z"/>
	<path d="M337.821,385.051l8.386,27.605c0,0-1.256,1.955-3.003,6.297l-7.671-30.836L337.821,385.051z"/>
	<polygon points="342.162,421.465 341.247,424.126 333.182,392.015 334.021,389.948 	"/>
	<path d="M376.384,279.325l-26.826-4.577l6.65,3.939l1.747,0.167l3.074,2.149l25.412,7.449
		C386.44,288.453,380.226,282.321,376.384,279.325z"/>
	<path d="M389.388,291.303l-20.592-6.041l11.056,6.041l17.089,7.067
		C396.941,298.371,393.299,294.438,389.388,291.303z"/>
	<polygon points="454.714,328.464 449.097,327.444 447.862,325.593 453.139,326.397 	"/>
	<path d="M412.758,438.282l-14.867-21.05l-5.154-1.728l5.631,18.983
		C398.369,434.488,403.645,436.707,412.758,438.282z"/>
	<polygon points="396.164,434.023 392.738,432.852 390.622,418.127 391.379,416.553 	"/>
	<path d="M430.856,436.431l9.182,24.538c0,0-7.544,2.531-12.33,3.551l-6.173-21.237L430.856,436.431z"/>
	<polygon points="420.023,444.643 425.918,465.115 420.436,466.475 417.789,455.198 417.789,446.154 	"/>
	<polygon points="418.83,466.947 415.865,467.987 415.405,464.117 417.418,462.73 417.47,459.623 	"/>
	<polygon points="456.32,467.883 473.635,492.207 460.519,490.077 451.691,467.883 	"/>
	<polygon points="450.085,467.883 458.387,490.015 454.776,489.429 448.788,467.883 	"/>
	<polygon points="447.521,467.883 452.894,489.335 451.968,489.088 447.061,467.883 	"/>
	<path d="M438.738,438.282l-9.733-21.882l1.03-2.532l10.619,18.304C440.652,432.172,440.037,434.918,438.738,438.282
		z"/>
	<polygon points="441.134,429.641 430.783,412.143 431.948,412.143 442.368,426.062 	"/>
	<polygon points="424.919,408.036 419.569,393.415 422.236,391.265 428.387,404.055 	"/>
	<polygon points="429.302,402.459 423.542,390.351 424.365,389.753 430.536,400.947 	"/>
	<polygon points="431.311,399.65 425.415,388.755 432.133,398.672 	"/>
	<polygon points="402.252,326.21 420.701,343.575 410.083,339.637 398.41,325.184 	"/>
	<polygon points="394.749,324.1 404.189,336.891 392.196,329.848 392.196,322.715 	"/>
	<polygon points="451.288,324.295 447.243,324.111 446.318,322.322 450.425,322.322 	"/>
	<polygon points="255.927,353.002 261.589,342.478 261.822,344.423 266.281,344.669 266.728,351.365 	"/>
	<polygon points="267.516,344.883 267.932,351.275 269.877,351.025 269.877,344.883 	"/>
	<polygon points="270.664,350.842 270.664,345.13 271.42,345.13 271.729,350.764 	"/>
</g>
</svg>
