.flexbox {
  display: flex;
  min-height: 73vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-card {
  color: var(--mainFont);
}

.outerCard {
  margin: 1rem auto;
  width: 100%;
  max-width: 1440px;
  background: var(--mainBackground);
}

@media only screen and (max-width: 768px) {
  .outerCard {
    margin: 0;
  }

}