<toolbar></toolbar>
<div class="flexbox">
  <mat-card class="outerCard" *ngIf="applications.length > 0 && fiehra">
    <list-application-form *ngFor="let applicationForm of applications" [applicationForm]="applicationForm"></list-application-form>
  </mat-card>
</div>
<scroll-top></scroll-top>
<footer></footer>