<scroll-indicator></scroll-indicator>
<toolbar></toolbar>
<mat-card class="outerCard">
  <div class="flexbox">
    <h2>{{ 'howSpraypaintWorks' | translate }}</h2>
    <mat-card-content>
      <p>{{ 'sprayTechnology1' | translate }}</p>
      <br />
      <p class="sprayHeader">{{ 'sprayTechnology2' | translate }}</p>
      <br />
      <p>{{ 'sprayTechnology3' | translate }}</p>
      <br />
      <img src="/assets/img/sprayPaintTech.png" alt="howSpraypaintWorks" />
      <br />
      <p class="sprayHeader">{{ 'sprayTechnology4' | translate }}</p>
      <br />
      <p>
        {{ 'sprayTechnology5' | translate
        }}<a class="trickLink" href="https://www.youtube.com/watch?v=JoLdPoBM1fs" target="_blank">{{
          'spraycanBirth' | translate
        }}</a>
      </p>
      <br />

      <br />
      <p class="sprayHeader">{{ 'sprayTechnology6' | translate }}</p>
      <br />
      <p>{{ 'sprayTechnology7' | translate }}</p>
      <br />
    </mat-card-content>
  </div>
</mat-card>
<scroll-top></scroll-top>
<footer></footer>
