<svg version="1.1" id="blocks" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 max-width="100%" max-height="100%" viewBox="0 0 800 400" enable-background="new 0 0 800 400" xml:space="preserve">
<polygon points="201.313,267.25 173.625,263.063 168,257.063 196.625,263.063 "/>
<polygon points="194.127,260.55 166.273,254.82 164.335,252.883 192.356,259.028 "/>
<polygon points="164,240.938 191.938,247.125 189,250.625 162.313,243.688 "/>
<polygon points="191.375,245.125 164,238.75 162.313,235.563 189.625,242.125 "/>
<path d="M193,234.544l-28-12.416c0,0,6.875-1.126,18,0.416l25.667,13.019
	C208.667,235.563,200.125,234.713,193,234.544z"/>
<path d="M187.375,223.125c0,0,3.458,0.459,7.75,1.209l21.458,12.417l-4.375-0.75L187.375,223.125z"/>
<path d="M171.938,146.25l21.688,16.25c0,0,2.063,7.875,5.5,12.688l-16.792-8.854
	C182.333,166.333,174.792,157.833,171.938,146.25z"/>
<path d="M185,169.875l16.125,8.375c0,0,4.042,7.166,14.958,16.792C216.083,195.042,196.873,183.832,185,169.875z"/>
<path d="M282.875,306.25l34.792,0.833c0,0-2.75-3.917-5.542-9.875l-33.208-1.458
	C278.917,295.75,281.292,302.667,282.875,306.25z"/>
<polygon points="311.5,295.438 278.25,293.875 276.5,288.563 309.438,291.125 "/>
<polygon points="308.813,289.563 276.188,287.188 275.875,285.188 308.375,288.125 "/>
<polygon points="282.688,308.188 317.667,308.688 314.875,316.188 281.125,316.188 "/>
<path d="M221.125,357.188l33.124-11.104c0,0,4.314-4.271,12.439-7.521L235.938,347
	C235.938,347,227.625,351.563,221.125,357.188z"/>
<path d="M316.958,266.167l-28.667-2.834c0,0,2.75-4.416,4.708-7.041l24.542,8.333L316.958,266.167z"/>
<path d="M317.75,263.417l0.208-0.375c0,0-4.667-8.459-16.458-17.417c0,0-2.941,3.43-7,8.896L317.75,263.417z"/>
<path d="M364.875,207.125c0,0-4.188-7.188-10.063-11.438c0,0-3.25,1.25-7.625,4.688l10.438,12.875
	C357.625,213.25,361.574,209.723,364.875,207.125z"/>
<path d="M345.955,201.051l10.842,13.225l-3.425,3.003l-11.565-12.947
	C341.806,204.331,344.279,202.328,345.955,201.051z"/>
<path d="M340.708,205l11.792,13.334l-0.708,0.708c0,0-11.708-13.167-11.708-13.292S340.708,205,340.708,205z"/>
<path d="M271.041,192.64l14.058-11.809c0,0,0.082-1.506,0.693-3.567l-11.471-9.926
	C274.321,167.338,267.15,174.074,271.041,192.64z"/>
<path d="M286.784,175.962l-11.371-10.256c0,0,1.12-1.372,2.625-1.759l10.244,10.176L286.784,175.962z"/>
<polygon points="279.455,162.741 289.306,173.188 289.781,172.817 280.79,162.186 "/>
<path d="M356.5,339.25l33.75-13.5l0.625-2.5l-30.063,3.375C360.813,326.625,358,332.438,356.5,339.25z"/>
<path d="M391.375,321.5l-29.5,2.688l3.438-8.313L392.188,319C392.188,319,391.688,320.25,391.375,321.5z"/>
<polygon points="392.918,317.626 366.208,313.876 367.844,310.5 393.25,316.531 "/>
<path d="M379.063,271.25l-17.5-12.188c0,0,6.313-3.188,10.563-7l10.813,12.5l-1.063,4.813L379.063,271.25z"/>
<path d="M373.75,250.938c0,0,2.375-2.125,4.063-4.25l7.813,11.375l-1.625,4.25L373.75,250.938z"/>
<polygon points="379.188,245.438 386.375,255.875 386.875,254.188 379.917,244.292 "/>
<path d="M441.75,297.75l23.188-19.5c0,0,4.625,4.375,8.563,17l-30.75,5.938
	C442.75,301.188,442.5,299.5,441.75,297.75z"/>
<path d="M474.125,297.563l-30.938,5.5l0.5,2.5h32.625C476.313,305.563,475.5,301.125,474.125,297.563z"/>
<path d="M443.813,307.125l33.125,0.75c0,0,0.375,1.438,0.5,3l-33.625-2.813V307.125z"/>
<path d="M444.281,309.671l33.313,3.75c0,0,0.313,0,0.438,2.188L444.281,309.671z"/>
<path d="M436.584,263.334l-5.834,26.385h-6l-1.333-26.802C423.417,262.917,432.168,261.667,436.584,263.334z"/>
<path d="M421.334,263.584l2.083,26.135l-2.083,0.532l-5.417-25.667C415.917,264.584,418.168,263.667,421.334,263.584
	z"/>
<polygon points="413.917,265.417 420.292,290.598 418.917,290.931 411.042,266.228 "/>
<polygon points="409.25,266.738 417.792,291.405 408.5,267.072 "/>
<polygon points="393.792,315.542 368.583,308.875 369.208,307.708 "/>
<path d="M382.583,284l19.167,17.417l-1.292,1.625l-19.75-15.834C380.708,287.208,381.542,285.542,382.583,284z"/>
<polygon points="400,304.208 379.729,288.667 379,289.719 "/>
<polygon points="444.438,311.5 477.875,319.25 477.875,320.563 "/>
<path d="M389.563,176.75L400,162.375l2.563,8.563c0,0,0.813,16.25-1.875,28.125l-1.563,1.25L389.563,176.75z"/>
<polygon points="382.438,186.25 378.813,188.125 391,205 393.313,203.75 "/>
<path d="M439.313,210.125l6.563,4.813V222c0,0-3.75,4.5-6.563,8.5V210.125z"/>
<path d="M440.625,235.375L450.25,246c0,0-4,27.061-4.375,30.093l-6.563-8.343l0.938-6.094l-0.5-8.78L440.625,235.375
	z"/>
<polygon points="454.166,266.001 469.333,247.417 470.376,237.334 454.334,264.415 "/>
<polygon points="470.792,248.874 478.501,250.04 459.126,269.124 454.542,268.249 "/>
<polygon points="480.251,250.374 482.459,250.749 462.271,270.124 460.792,269.707 "/>
<polygon points="484.156,251 484.938,251.219 463.938,270.813 "/>
<polygon points="525.25,282.313 525.297,282.288 556.5,266.063 544.625,264.063 520.626,282 "/>
<polygon points="542.031,263.594 519.531,280.719 520.626,277.969 540.625,263.438 "/>
<path d="M510.667,165.751l-0.584,4.333c0,0-2.833,1.833-6.833,4.583l1.583-5.167L510.667,165.751z"/>
<polygon points="502.417,171.584 501.333,175.918 498.833,178.001 500.083,173.251 "/>
<polygon points="582.67,296.668 618.253,297.252 612.25,284 582.125,287.25 "/>
<path d="M610.688,282.313l-25.125,2.75l22.938-6.25l-1.875-4.188C606.625,274.625,608.188,276.313,610.688,282.313z"
	/>
<path d="M545.063,276l19.563-9.813c0,0,1.938,2.719,7.75,5.891l-24.458,7.506
	C547.917,279.584,546.041,278.333,545.063,276z"/>
<path d="M549.417,280.834l25.167-7.646c0,0,1.792,1.146,5.75,2.729l-28.125,7L549.417,280.834z"/>
<polygon points="582.626,276.876 585.042,277.709 555.751,285.063 553.876,284.292 "/>
<path d="M453,245.667l-4.166,24.457l3.583-6.062l0.167-1.596l1.958-2.8l6.792-23.167
	C461.334,236.5,455.75,242.167,453,245.667z"/>
<path d="M463.938,233.813l-5.521,18.771l5.521-10.084l6.438-15.583C470.376,226.917,466.799,230.244,463.938,233.813
	z"/>
<polygon points="497.813,174.25 496.875,179.375 495.188,180.5 495.938,175.688 "/>
<path d="M597.938,212.5l-19.188,13.563l-1.563,4.688l17.313-5.125C594.5,225.625,596.5,220.813,597.938,212.5z"/>
<polygon points="594.063,227.625 593,230.75 579.563,232.688 578.125,232 "/>
<path d="M596.25,196l22.375-8.375c0,0,2.313,6.875,3.25,11.25L602.5,204.5L596.25,196z"/>
<polygon points="603.75,205.875 622.417,200.5 623.667,205.5 613.376,207.917 605.126,207.917 "/>
<polygon points="624.084,206.958 625.042,209.667 621.501,210.083 620.251,208.25 617.417,208.208 "/>
<polygon points="624.938,172.781 647.125,157 645.188,168.938 624.938,177 "/>
<polygon points="624.938,178.469 645.125,170.906 644.594,174.188 624.938,179.656 "/>
<polygon points="624.938,180.813 644.5,175.906 644.281,176.75 624.938,181.219 "/>
<path d="M597.938,188.813L578,197.688l-2.313-0.938l16.688-9.688C592.375,187.063,594.875,187.625,597.938,188.813z"
	/>
<polygon points="590.063,186.625 574.125,196.063 574.125,195 586.813,185.5 "/>
<polygon points="570.375,201.417 557.042,206.292 555.083,203.854 566.75,198.25 "/>
<polygon points="565.292,197.417 554.25,202.667 553.708,201.917 563.917,196.292 "/>
<polygon points="562.729,195.583 552.792,200.958 561.833,194.833 "/>
<polygon points="495.75,222.084 511.583,205.251 508,214.938 494.833,225.584 "/>
<polygon points="493.833,228.917 505.5,220.313 499.083,231.251 492.583,231.251 "/>
<polygon points="494,177.375 493.844,181.063 492.219,181.906 492.219,178.156 "/>
<polygon points="520.188,355.5 510.594,350.344 512.375,350.125 512.594,346.063 518.688,345.656 "/>
<polygon points="512.781,344.938 518.625,344.563 518.375,342.781 512.781,342.781 "/>
<polygon points="518.219,342.063 513,342.063 513,341.375 518.141,341.094 "/>
</svg>
