<div class="row challenge">
  <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-8 col-8" *ngIf="challengeForm.get('date').value">
    {{ date }}
  </div>
  <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
    {{ challengeForm.get('time').value }}
  </div>
  <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
    {{ challengeForm.get('record').value }}
  </div>
  <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-0 col-0">
    {{ challengeForm.get('start').value }}
  </div>
  <div class="col col-xl-2 col-lg-2 col-md-2 col-sm-0 col-0">
    {{ challengeForm.get('finish').value }}
  </div>
</div>
