.challenge {
  font-size: 100%;
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid var(--mainSuperDark);
  background: var(--mainBackground);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.challenge:hover {
  background: var(--altBackground);
}

.col {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .col-0 {
    display: none;
  }
}
