mat-form-field {
  width: 100%;
  font-size: 140% !important;
  margin: 2px auto;
  padding-top: 5px;
}

textarea {
  color: var(--main)!important;
  letter-spacing: 1px;
  word-spacing: 1px;
  overflow: hidden !important;
}

textarea:disabled {
  color: var(--mainFont) !important;
}
