<mat-form-field>
  <textarea matInput placeholder="{{placeholder + (isRequired ? ' *': '')}}" [formControl]="inputControl" matTextareaAutosize matAutosizeMinRows={{minRows}} matAutosizeMaxRows={{maxRows}}></textarea>
  <mat-error *ngIf="inputControl.hasError('required')">{{requiredErrorMessage}}</mat-error>
</mat-form-field>