mat-card {
  max-width: 450px;
  padding: 12%;
  background: var(--mainBackground) !important;
  color: var(--mainFont);
}

mat-card-title {
  font-size: 200% !important;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin-bottom: 20px !important;
}

mat-header {
  margin-bottom: 50px;
}

mat-form-field {
  width: 100%;
}

mat-card-content {
  padding: 0 auto;
}

p {
  padding: 0 0;
  font-size: 125%;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-align: left;
}

.button {
  margin: 20px 0 !important;
  width: 100%;
  
}

@media only screen and (max-width: 768px) {
  mat-card {
    margin: 0 auto;
  }
  
}
