<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'challenge' | translate }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-12">
        <p *ngIf="challengeForm.get('date').value">
          {{ challengeForm.get('date').value.toDateString() }}
        </p>
        <p *ngIf="challengeForm.get('time').value">
          {{ challengeForm.get('time').value }} {{ 'minutes' | translate }}
        </p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <p>
          {{ 'startedAt' | translate }} <br />
          {{ challengeForm.get('start').value }}
        </p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <p>
          {{ 'finishedAt' | translate }} <br />
          {{ challengeForm.get('finish').value }}
        </p>
      </div>
      <div class="col-12">
        <switched-input
          [placeholder]="'record' | translate"
          [control]="challengeForm.get('record')"
        ></switched-input>
      </div>
    </div>
    <div class="col-12">
      <button class="button main" *ngIf="!active && !completed" (click)="startChallenge()">
        {{ 'start' | translate }}
      </button>
      <button class="button main" *ngIf="active" (click)="finishChallenge()">
        {{ 'stop' | translate }}
      </button>
      <button
        class="button alt"
        *ngIf="completed"
        (click)="emitFinished()"
        routerLink="/challengeOverview"
      >
        {{ 'submit' | translate }}
      </button>
    </div>
  </mat-card-content>
</mat-card>
