<mat-card>
  <img mat-card-image src="{{imgSrc}}" alt="">
  <mat-card-header>
    <mat-card-title>{{title|translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{text|translate}}</p>
    <div *ngIf="readTime" class="readTime">{{readTime}} {{'minuteRead'|translate}}</div>
  </mat-card-content>
  <mat-card-actions *ngIf="button">
    <div class="center">
      <button class="button main">{{buttonText}}</button>
    </div>
  </mat-card-actions>
</mat-card>