mat-card {
  cursor: pointer;
  margin: 10px 0px;
  background: var(--altBackground);
  color: var(--mainFont);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

mat-card:hover {
  img {
    opacity: 1;
  }
  transform: translateY(-10px) scale(1.02);
  -webkit-transform: translateY(-10px) scale(1.02);
  -moz-transform: translateY(-10px) scale(1.02);
  -ms-transform: translateY(-10px) scale(1.02);
  -o-transform: translateY(-10px) scale(1.02);
}

.readTime {
  font-size: 75%;
  text-align: right;
  position: relative;
  bottom: 0;
}

mat-card-title {
  font-size: 120% !important;
  text-align: center;
}

mat-card-content {
  font-size: 100%;
}

img {
  opacity: 0.9;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}



@media only screen and (max-width: 768px) {
  mat-card-title {
    font-size: 115%!important;
  }

  p {
    text-align: justify;
    padding: 10px;
  }

  mat-card {
    img {
      opacity: 1;
      // display: none;
    }
    text-align: justify;
  }


}