.section {
  margin-bottom: 12vh;
  text-align: center;
}

h2 {
  margin: 3vh auto;
  font-weight: 400;
  font-size: 250%;
}

p {
  margin: 0 auto;
  letter-spacing: 1px;
  max-width: 700px;
  font-size: 125%;
}

.thanksText {
  margin-bottom: 50px;
}


@media only screen and (max-width: 768px) {
  .section {
    margin-bottom: 10vh;
  }

  p {
    padding: 15px;
    text-align: justify;
    font-size: 100%;
  }
  
  h2 {
    font-size: 200%;
  }
  
}