// matmenuitems ----------------------------------------------------------------------------------
button.mat-menu-item {
  min-width: 200px;
  background: var(--main);
  font-size: 100%;
  transition: 0.2s !important;
  -webkit-transition: 0.2s !important;
  -moz-transition: 0.2s !important;
  -ms-transition: 0.2s !important;
  -o-transition: 0.2s !important;
}

button.mat-menu-item:hover,
button.mat-menu-item:active {
  background: var(--mainSuperDark);
  color: var(--light);
}
// comboMenu
.outerDiv {
  margin: 0 auto;
}

.comboMenu {
  color: var(--light);
  right: 50px;
  bottom: 45px;
  position: fixed;
  margin: 0 auto;
  z-index: 3;
  .icon-spraycan {
    font-size: 100%;
  }
}

.comboMenu:hover,
.comboMenu:active {
  background: var(--mainLight);
  color: var(--dark);
  box-shadow: 0 0 12px var(--mainLight);
  opacity: 1;
}

.colorPreview {
  position: relative;
  top: 5px;
}

.wall {
  color: var(--altBackground);
}

// menu and graff color desktop
.outlines {
  color: var(--mainFont);
}

.background {
  color: var(--mainDark);
}

.secondary-background {
  color: var(--mainLight);
}

.fillIn {
  color: var(--mainSuperDark);
}

.effects {
  color: var(--alt);
}

.blocks {
  color: var(--altFont);
}

// menu and graff color mobile
.mobile-outlines {
  color: var(--mainFont);
}

.mobile-background {
  color: var(--mainDark);
}

.mobile-secondary-background {
  color: var(--mainLight);
}

.mobile-fillIn {
  color: var(--mainSuperDark);
}

.mobile-effects {
  color: var(--alt);
}

.mobile-blocks {
  color: var(--altFont);
}
@media only screen and (max-width: 768px) {
  // comboMenu
  .comboMenu {
    right: 1rem;
    bottom: 2rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
