<button *ngIf="menuName === 'desktopMenu'" [matMenuTriggerFor]="desktopMenu" class="button main comboMenu">
  <i class="icon-spraycan material-icons"></i>
</button>
<button *ngIf="menuName === 'mobileMenu'" [matMenuTriggerFor]="mobileMenu" class="button main comboMenu">
  <i class="icon-spraycan material-icons"></i>
</button>

<mat-menu #desktopMenu="matMenu">
  <button [matMenuTriggerFor]="colorMenu" mat-menu-item (click)="setCurrentLayer('wall')"
    (mouseenter)="setCurrentLayer('wall')">
    <i class="material-icons colorPreview wall">color_lens</i> {{ "wall" | translate }}
  </button>
  <button [matMenuTriggerFor]="colorMenu" mat-menu-item (click)="setCurrentLayer('background')"
    (mouseenter)="setCurrentLayer('background')">
    <i class="material-icons colorPreview background">color_lens</i> {{ "background" | translate }}
  </button>
  <button [matMenuTriggerFor]="colorMenu" mat-menu-item (click)="setCurrentLayer('secondary-background')"
    (mouseenter)="setCurrentLayer('secondary-background')">
    <i class="material-icons colorPreview secondary-background">color_lens</i> {{ "secondaryBackground" | translate }}
  </button>
  <button [matMenuTriggerFor]="colorMenu" mat-menu-item (click)="setCurrentLayer('fillIn')"
    (mouseenter)="setCurrentLayer('fillIn')">
    <i class="material-icons colorPreview fillIn">color_lens</i> {{ "fillIn" | translate }}
  </button>
  <button [matMenuTriggerFor]="colorMenu" mat-menu-item (click)="setCurrentLayer('effects')"
    (mouseenter)="setCurrentLayer('effects')">
    <i class="material-icons colorPreview effects">color_lens</i> {{ "effects" | translate }}
  </button>
  <button [matMenuTriggerFor]="colorMenu" mat-menu-item (click)="setCurrentLayer('outlines')"
    (mouseenter)="setCurrentLayer('outlines')">
    <i class="material-icons colorPreview outlines">color_lens</i> {{ "outlines" | translate }}
  </button>
  <button [matMenuTriggerFor]="colorMenu" mat-menu-item (click)="setCurrentLayer('blocks')"
    (mouseenter)="setCurrentLayer('blocks')">
    <i class="material-icons colorPreview blocks">color_lens</i> {{ "blocks" | translate }}
  </button>
</mat-menu>

<mat-menu #mobileMenu="matMenu">
  <button [matMenuTriggerFor]="colorMenu" mat-menu-item (click)="setCurrentLayer('wall')"
    (mouseenter)="setCurrentLayer('wall')">
    <i class="material-icons colorPreview wall">color_lens</i> {{ "wall" | translate }}
  </button>
  <button [matMenuTriggerFor]="colorMenu" mat-menu-item (click)="setCurrentLayer('mobile-background')"
    (mouseenter)="setCurrentLayer('mobile-background')">
    <i class="material-icons colorPreview mobile-background">color_lens</i> {{ "background" | translate }}
  </button>
  <button [matMenuTriggerFor]="colorMenu" mat-menu-item (click)="setCurrentLayer('mobile-secondary-background')"
    (mouseenter)="setCurrentLayer('mobile-secondary-background')">
    <i class="material-icons colorPreview mobile-secondary-background">color_lens</i> {{ "secondaryBackground" |
    translate }}
  </button>
  <button [matMenuTriggerFor]="colorMenu" mat-menu-item (click)="setCurrentLayer('mobile-fillIn')"
    (mouseenter)="setCurrentLayer('mobile-fillIn')">
    <i class="material-icons colorPreview mobile-fillIn">color_lens</i> {{ "fillIn" | translate }}
  </button>
  <button [matMenuTriggerFor]="colorMenu" mat-menu-item (click)="setCurrentLayer('mobile-effects')"
    (mouseenter)="setCurrentLayer('mobile-effects')">
    <i class="material-icons colorPreview mobile-effects">color_lens</i> {{ "effects" | translate }}
  </button>
  <button [matMenuTriggerFor]="colorMenu" mat-menu-item (click)="setCurrentLayer('mobile-outlines')"
    (mouseenter)="setCurrentLayer('mobile-outlines')">
    <i class="material-icons colorPreview mobile-outlines">color_lens</i> {{ "outlines" | translate }}
  </button>
  <button [matMenuTriggerFor]="colorMenu" mat-menu-item (click)="setCurrentLayer('mobile-blocks')"
    (mouseenter)="setCurrentLayer('mobile-blocks')">
    <i class="material-icons colorPreview mobile-blocks">color_lens</i> {{ "blocks" | translate }}
  </button>
</mat-menu>

<mat-menu #colorMenu="matMenu" overlapTrigger="true">
  <button [matMenuTriggerFor]="red" mat-menu-item>{{ "red" | translate }}</button>
  <button [matMenuTriggerFor]="orangeRed" mat-menu-item>{{ "orangeRed" | translate }}</button>
  <button [matMenuTriggerFor]="orange" mat-menu-item>{{ "orange" | translate }}</button>
  <button [matMenuTriggerFor]="yellow" mat-menu-item>{{ "yellow" | translate }}</button>
  <button [matMenuTriggerFor]="greenYellow" mat-menu-item>{{ "greenYellow" | translate }}</button>
  <button [matMenuTriggerFor]="green" mat-menu-item>{{ "green" | translate }}</button>
  <button [matMenuTriggerFor]="turquoise" mat-menu-item>{{ "turquoise" | translate }}</button>
  <button [matMenuTriggerFor]="cyan" mat-menu-item>{{ "cyan" | translate }}</button>
  <button [matMenuTriggerFor]="blue" mat-menu-item>{{ "blue" | translate }}</button>
  <button [matMenuTriggerFor]="violet" mat-menu-item>{{ "violet" | translate }}</button>
  <button [matMenuTriggerFor]="magenta" mat-menu-item>{{ "magenta" | translate }}</button>
  <button [matMenuTriggerFor]="fuchsia" mat-menu-item>{{ "fuchsia" | translate }}</button>
  <button [matMenuTriggerFor]="brown" mat-menu-item>{{ "brown" | translate }}</button>
  <button [matMenuTriggerFor]="grey" mat-menu-item>{{ "grey" | translate }}</button>
</mat-menu>

<mat-menu #red="matMenu">
  <button mat-menu-item style="background: #fdd;" (click)="emitColor(currentLayer, '#fdd')"></button>
  <button mat-menu-item style="background: #fbb;" (click)="emitColor(currentLayer, '#fbb')"></button>
  <button mat-menu-item style="background: #f88;" (click)="emitColor(currentLayer, '#f88')"></button>
  <button mat-menu-item style="background: #f44;" (click)="emitColor(currentLayer, '#f44')"></button>
  <button mat-menu-item style="background: #f00;" (click)="emitColor(currentLayer, '#f00')"></button>
  <button mat-menu-item style="background: #b00;" (click)="emitColor(currentLayer, '#b00')"></button>
  <button mat-menu-item style="background: #700;" (click)="emitColor(currentLayer, '#700')"></button>
  <button mat-menu-item style="background: #400;" (click)="emitColor(currentLayer, '#400')"></button>
  <button mat-menu-item style="background: #200;" (click)="emitColor(currentLayer, '#200')"></button>
</mat-menu>
<mat-menu #orangeRed="matMenu">
  <button mat-menu-item style="background: #ffe6dd;" (click)="emitColor(currentLayer, '#ffe6dd')"></button>
  <button mat-menu-item style="background: #ffcdbb;" (click)="emitColor(currentLayer, '#ffcdbb')"></button>
  <button mat-menu-item style="background: #ffa888;" (click)="emitColor(currentLayer, '#ffa888')"></button>
  <button mat-menu-item style="background: #f74;" (click)="emitColor(currentLayer, '#f74')"></button>
  <button mat-menu-item style="background: #ff4500;" (click)="emitColor(currentLayer, '#ff4500')"></button>
  <button mat-menu-item style="background: #b30;" (click)="emitColor(currentLayer, '#b30')"></button>
  <button mat-menu-item style="background: #772000;" (click)="emitColor(currentLayer, '#772000')"></button>
  <button mat-menu-item style="background: #441200;" (click)="emitColor(currentLayer, '#441200')"></button>
  <button mat-menu-item style="background: #220900;" (click)="emitColor(currentLayer, '#220900')"></button>
</mat-menu>
<mat-menu #orange="matMenu">
  <button mat-menu-item style="background: #fff3dd;" (click)="emitColor(currentLayer, '#fff3dd')"></button>
  <button mat-menu-item style="background: #ffe7bb;" (click)="emitColor(currentLayer, '#ffe7bb')"></button>
  <button mat-menu-item style="background: #ffd588;" (click)="emitColor(currentLayer, '#ffd588')"></button>
  <button mat-menu-item style="background: #ffbd44;" (click)="emitColor(currentLayer, '#ffbd44')"></button>
  <button mat-menu-item style="background: #ffa500;" (click)="emitColor(currentLayer, '#ffa500')"></button>
  <button mat-menu-item style="background: #bb7900;" (click)="emitColor(currentLayer, '#bb7900')"></button>
  <button mat-menu-item style="background: #774d00;" (click)="emitColor(currentLayer, '#774d00')"></button>
  <button mat-menu-item style="background: #442c00;" (click)="emitColor(currentLayer, '#442c00')"></button>
  <button mat-menu-item style="background: #221600;" (click)="emitColor(currentLayer, '#221600')"></button>
</mat-menu>
<mat-menu #yellow="matMenu">
  <button mat-menu-item style="background: #ffd;" (click)="emitColor(currentLayer, '#ffd')"></button>
  <button mat-menu-item style="background: #ffb;" (click)="emitColor(currentLayer, '#ffb')"></button>
  <button mat-menu-item style="background: #ff8;" (click)="emitColor(currentLayer, '#ff8')"></button>
  <button mat-menu-item style="background: #ff4;" (click)="emitColor(currentLayer, '#ff4')"></button>
  <button mat-menu-item style="background: #ff0;" (click)="emitColor(currentLayer, '#ff0')"></button>
  <button mat-menu-item style="background: #bb0;" (click)="emitColor(currentLayer, '#bb0')"></button>
  <button mat-menu-item style="background: #770;" (click)="emitColor(currentLayer, '#770')"></button>
  <button mat-menu-item style="background: #440;" (click)="emitColor(currentLayer, '#440')"></button>
  <button mat-menu-item style="background: #220;" (click)="emitColor(currentLayer, '#220')"></button>
</mat-menu>
<mat-menu #greenYellow="matMenu">
  <button mat-menu-item style="background: #f1f8e3;" (click)="emitColor(currentLayer, '#f1f8e3')"></button>
  <button mat-menu-item style="background: #e4f2c8;" (click)="emitColor(currentLayer, '#e4f2c8')"></button>
  <button mat-menu-item style="background: #d0e89f;" (click)="emitColor(currentLayer, '#d0e89f')"></button>
  <button mat-menu-item style="background: #b5da69;" (click)="emitColor(currentLayer, '#b5da69')"></button>
  <button mat-menu-item style="background: #9acd32;" (click)="emitColor(currentLayer, '#9acd32')"></button>
  <button mat-menu-item style="background: #719625;" (click)="emitColor(currentLayer, '#719625')"></button>
  <button mat-menu-item style="background: #486017;" (click)="emitColor(currentLayer, '#486017')"></button>
  <button mat-menu-item style="background: #29370d;" (click)="emitColor(currentLayer, '#29370d')"></button>
  <button mat-menu-item style="background: #151c07;" (click)="emitColor(currentLayer, '#151c07')"></button>
</mat-menu>
<mat-menu #green="matMenu">
  <button mat-menu-item style="background: #dfd;" (click)="emitColor(currentLayer, '#dfd')"></button>
  <button mat-menu-item style="background: #bfb;" (click)="emitColor(currentLayer, '#bfb')"></button>
  <button mat-menu-item style="background: #8f8;" (click)="emitColor(currentLayer, '#8f8')"></button>
  <button mat-menu-item style="background: #4f4;" (click)="emitColor(currentLayer, '#4f4')"></button>
  <button mat-menu-item style="background: #0f0;" (click)="emitColor(currentLayer, '#0f0')"></button>
  <button mat-menu-item style="background: #0b0;" (click)="emitColor(currentLayer, '#0b0')"></button>
  <button mat-menu-item style="background: #070;" (click)="emitColor(currentLayer, '#070')"></button>
  <button mat-menu-item style="background: #040;" (click)="emitColor(currentLayer, '#040')"></button>
  <button mat-menu-item style="background: #020;" (click)="emitColor(currentLayer, '#020')"></button>
</mat-menu>
<mat-menu #turquoise="matMenu">
  <button mat-menu-item style="background: #ddffef;" (click)="emitColor(currentLayer, '#ddffef')"></button>
  <button mat-menu-item style="background: #bbffdf;" (click)="emitColor(currentLayer, '#bbffdf')"></button>
  <button mat-menu-item style="background: #88ffc7;" (click)="emitColor(currentLayer, '#88ffc7')"></button>
  <button mat-menu-item style="background: #44ffa8;" (click)="emitColor(currentLayer, '#44ffa8')"></button>
  <button mat-menu-item style="background: #0f8;" (click)="emitColor(currentLayer, '#0f8')"></button>
  <button mat-menu-item style="background: #00bb64;" (click)="emitColor(currentLayer, '#00bb64')"></button>
  <button mat-menu-item style="background: #007740;" (click)="emitColor(currentLayer, '#007740')"></button>
  <button mat-menu-item style="background: #004424;" (click)="emitColor(currentLayer, '#004424')"></button>
  <button mat-menu-item style="background: #002212;" (click)="emitColor(currentLayer, '#002212')"></button>
</mat-menu>
<mat-menu #cyan="matMenu">
  <button mat-menu-item style="background: #dff;" (click)="emitColor(currentLayer, '#dff')"></button>
  <button mat-menu-item style="background: #bff;" (click)="emitColor(currentLayer, '#bff')"></button>
  <button mat-menu-item style="background: #8ff;" (click)="emitColor(currentLayer, '#8ff')"></button>
  <button mat-menu-item style="background: #4ff;" (click)="emitColor(currentLayer, '#4ff')"></button>
  <button mat-menu-item style="background: #0ff;" (click)="emitColor(currentLayer, '#0ff')"></button>
  <button mat-menu-item style="background: #0bb;" (click)="emitColor(currentLayer, '#0bb')"></button>
  <button mat-menu-item style="background: #077;" (click)="emitColor(currentLayer, '#077')"></button>
  <button mat-menu-item style="background: #044;" (click)="emitColor(currentLayer, '#044')"></button>
  <button mat-menu-item style="background: #022;" (click)="emitColor(currentLayer, '#022')"></button>
</mat-menu>
<mat-menu #blue="matMenu">
  <button mat-menu-item style="background: #ddf;" (click)="emitColor(currentLayer, '#ddf')"></button>
  <button mat-menu-item style="background: #bbf;" (click)="emitColor(currentLayer, '#bbf')"></button>
  <button mat-menu-item style="background: #88f;" (click)="emitColor(currentLayer, '#88f')"></button>
  <button mat-menu-item style="background: #44f;" (click)="emitColor(currentLayer, '#44f')"></button>
  <button mat-menu-item style="background: #00f;" (click)="emitColor(currentLayer, '#00f')"></button>
  <button mat-menu-item style="background: #00b;" (click)="emitColor(currentLayer, '#00b')"></button>
  <button mat-menu-item style="background: #007;" (click)="emitColor(currentLayer, '#007')"></button>
  <button mat-menu-item style="background: #004;" (click)="emitColor(currentLayer, '#004')"></button>
  <button mat-menu-item style="background: #002;" (click)="emitColor(currentLayer, '#002')"></button>
</mat-menu>
<mat-menu #violet="matMenu">
  <button mat-menu-item style="background: #efddff;" (click)="emitColor(currentLayer, '#efddff')"></button>
  <button mat-menu-item style="background: #dfbbff;" (click)="emitColor(currentLayer, '#dfbbff')"></button>
  <button mat-menu-item style="background: #c788ff;" (click)="emitColor(currentLayer, '#c788ff')"></button>
  <button mat-menu-item style="background: #a844ff;" (click)="emitColor(currentLayer, '#a844ff')"></button>
  <button mat-menu-item style="background: #80f;" (click)="emitColor(currentLayer, '#80f')"></button>
  <button mat-menu-item style="background: #6400bb;" (click)="emitColor(currentLayer, '#6400bb')"></button>
  <button mat-menu-item style="background: #400077;" (click)="emitColor(currentLayer, '#400077')"></button>
  <button mat-menu-item style="background: #240044;" (click)="emitColor(currentLayer, '#240044')"></button>
  <button mat-menu-item style="background: #120022;" (click)="emitColor(currentLayer, '#120022')"></button>
</mat-menu>
<mat-menu #magenta="matMenu">
  <button mat-menu-item style="background: #fdf;" (click)="emitColor(currentLayer, '#fdf')"></button>
  <button mat-menu-item style="background: #fbf;" (click)="emitColor(currentLayer, '#fbf')"></button>
  <button mat-menu-item style="background: #f8f;" (click)="emitColor(currentLayer, '#f8f')"></button>
  <button mat-menu-item style="background: #f4f;" (click)="emitColor(currentLayer, '#f4f')"></button>
  <button mat-menu-item style="background: #f0f;" (click)="emitColor(currentLayer, '#f0f')"></button>
  <button mat-menu-item style="background: #b0b;" (click)="emitColor(currentLayer, '#b0b')"></button>
  <button mat-menu-item style="background: #707;" (click)="emitColor(currentLayer, '#707')"></button>
  <button mat-menu-item style="background: #404;" (click)="emitColor(currentLayer, '#404')"></button>
  <button mat-menu-item style="background: #202;" (click)="emitColor(currentLayer, '#202')"></button>
</mat-menu>
<mat-menu #fuchsia="matMenu">
  <button mat-menu-item style="background: #ffddef;" (click)="emitColor(currentLayer, '#ffddef')"></button>
  <button mat-menu-item style="background: #ffbbdf;" (click)="emitColor(currentLayer, '#ffbbdf')"></button>
  <button mat-menu-item style="background: #ff88c7;" (click)="emitColor(currentLayer, '#ff88c7')"></button>
  <button mat-menu-item style="background: #ff44a8;" (click)="emitColor(currentLayer, '#ff44a8')"></button>
  <button mat-menu-item style="background: #f08;" (click)="emitColor(currentLayer, '#f08')"></button>
  <button mat-menu-item style="background: #bb0064;" (click)="emitColor(currentLayer, '#bb0064')"></button>
  <button mat-menu-item style="background: #770040;" (click)="emitColor(currentLayer, '#770040')"></button>
  <button mat-menu-item style="background: #440024;" (click)="emitColor(currentLayer, '#440024')"></button>
  <button mat-menu-item style="background: #220012;" (click)="emitColor(currentLayer, '#220012')"></button>
</mat-menu>
<mat-menu #brown="matMenu">
  <button mat-menu-item style="background: #f3ece6;" (click)="emitColor(currentLayer, '#f3ece6')"></button>
  <button mat-menu-item style="background: #e8dbcf;" (click)="emitColor(currentLayer, '#e8dbcf')"></button>
  <button mat-menu-item style="background: #d7c0ad;" (click)="emitColor(currentLayer, '#d7c0ad')"></button>
  <button mat-menu-item style="background: #c09e80;" (click)="emitColor(currentLayer, '#c09e80')"></button>
  <button mat-menu-item style="background: #a97b53;" (click)="emitColor(currentLayer, '#a97b53')"></button>
  <button mat-menu-item style="background: #7b5a3d;" (click)="emitColor(currentLayer, '#7b5a3d')"></button>
  <button mat-menu-item style="background: #4e3926;" (click)="emitColor(currentLayer, '#4e3926')"></button>
  <button mat-menu-item style="background: #2c2015;" (click)="emitColor(currentLayer, '#2c2015')"></button>
  <button mat-menu-item style="background: #150f0a;" (click)="emitColor(currentLayer, '#150f0a')"></button>
</mat-menu>
<mat-menu #grey="matMenu">
  <button mat-menu-item style="background: #fff;" (click)="emitColor(currentLayer, '#fff')"></button>
  <button mat-menu-item style="background: #e6e6e6;" (click)="emitColor(currentLayer, '#e6e6e6')"></button>
  <button mat-menu-item style="background: #c4c4c4;" (click)="emitColor(currentLayer, '#c4c4c4')"></button>
  <button mat-menu-item style="background: #a2a2a2;" (click)="emitColor(currentLayer, '#a2a2a2')"></button>
  <button mat-menu-item style="background: #808080;" (click)="emitColor(currentLayer, '#808080')"></button>
  <button mat-menu-item style="background: #5e5e5e;" (click)="emitColor(currentLayer, '#5e5e5e')"></button>
  <button mat-menu-item style="background: #3c3c3c;" (click)="emitColor(currentLayer, '#3c3c3c')"></button>
  <button mat-menu-item style="background: #1a1a1a;" (click)="emitColor(currentLayer, '#1a1a1a')"></button>
  <button mat-menu-item style="background: #000;" (click)="emitColor(currentLayer, '#000')"></button>
</mat-menu>