<button
  [matMenuTriggerFor]="addMarkerMenu"
  class="button main addMarkerButton"
  *ngIf="loggedIn"
>
  <i class="material-icons">add</i>
</button>
<mat-menu #addMarkerMenu="matMenu" xPosition="after" yPosition="above">
  <button mat-menu-item routerLink="/graffmap/add/wall">
    {{ 'wall' | translate }}
  </button>
  <button mat-menu-item routerLink="/graffmap/add/shop">
    {{ 'shop' | translate }}
  </button>
  <button mat-menu-item routerLink="/graffmap/add/streetart">
    {{ 'streetart' | translate }}
  </button>
</mat-menu>

<button
  class="button main addMarkerButton"
  matTooltip="{{ 'signup' | translate }}"
  matTooltipPosition="below"
  matTooltipShowDelay="1000"
  *ngIf="!loggedIn"
  routerLink="/signup"
>
  <i class="material-icons">person_add</i>
</button>
