// addMarkerMenu
.outerDiv {
  width: 64px;
  margin: 0 auto;
}

.addMarkerButton {
  left: 50px;
  bottom: 24vh;
  position: absolute;
  margin: 0 auto;
  width: 64px;
  z-index: 3;
}

.addMarkerButton:hover {
  background: var(--mainLight);
  color: var(--dark);
  box-shadow: 0 0 12px var(--mainLight);
}

// matmenuitems ----------------------------------------------------------------------------------
button.mat-menu-item {
  background: var(--main);
  font-size: 100%;
  transition: 0.2s !important;
  -webkit-transition: 0.2s !important;
  -moz-transition: 0.2s !important;
  -ms-transition: 0.2s !important;
  -o-transition: 0.2s !important;
}

button.mat-menu-item:hover,
button.mat-menu-item:active {
  background: var(--mainSuperDark);
  color: var(--light);
}

@media only screen and (max-width: 768px) {
  .addMarkerButton {
    left: 1rem;
    bottom: 2rem;
  }
}
