<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" max-width="100%" max-height="100%" viewBox="0 0 800 400" enable-background="new 0 0 800 400" xml:space="preserve">
<rect x="117.5" y="184.396" width="31.75" height="6.25"/>
<rect x="62" y="213.175" width="33.5" height="6.075"/>
<rect x="203" y="136.5" width="38.338" height="5.75"/>
<rect x="233" y="180.271" width="35.229" height="7.25"/>
<rect x="195.035" y="251.5" width="45.579" height="5.771"/>
<rect x="123.936" y="256" width="40.064" height="9.392"/>
<rect x="392.918" y="112" width="30.082" height="5.333"/>
<rect x="377.25" y="139.625" width="57.563" height="7.625"/>
<rect x="291.5" y="106.5" width="27.625" height="5.063"/>
<rect x="316.136" y="280.885" width="26.606" height="8.115"/>
<rect x="347" y="261.5" width="44.895" height="11.5"/>
<rect x="496" y="139.625" width="48.5" height="7.625"/>
<rect x="195.035" y="295.625" width="37.965" height="8.875"/>
<rect x="398.75" y="324.234" width="24.25" height="4.766"/>
<rect x="569.5" y="203.088" width="43.5" height="10.087"/>
<rect x="680.25" y="203.088" width="44.75" height="6.25"/>
<rect x="621.145" y="236.938" width="44.855" height="9.896"/>
<rect x="544.5" y="285.25" width="44.875" height="7.5"/>
<rect x="516.645" y="332.5" width="27.855" height="5.625"/>
<rect x="444.25" y="329" width="20.25" height="5.344"/>
<rect x="415.5" y="277.75" width="28.75" height="6.271"/>
<rect x="552.958" y="153.813" width="47.437" height="4.063"/>
</svg>
