.forumPost {
  padding-bottom: 15px;
}

.mat-label-writer {
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.mat-label-writer:hover {
  color: var(--main);
}

.voteButtons {
  line-height: 0.5;
  padding: 0px;
  padding-top: 10px;
  cursor: pointer;

  i {
    font-size: 400%;
  }

  .votes {
    font-size: 200%;
    position: relative;
    cursor: default;
  }

  .alreadyVoted {
    color: var(--mainLight);
  }

  .voteUp {
    color: var(--mainDark);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }

  .voteDown {
    color: var(--mainDark);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }

  .voteUp:hover,
  .voteDown:hover {
    color: var(--mainLight);
  }

  .voteUpID,
  .voteDownID {
    color: var(--alt);
    cursor: default;
  }
}


@media only screen and (max-width: 768px) {
  switched-input {
    display: initial;
    font-size: 75%;
  }

  .votes {
    padding: 0 15px;
    position: relative;
    bottom: 30px;
    display: inline-block;
  }

  .voteButtons {
    padding: 0px;
  }
  
  switched-textarea {
    font-size: 75%;
  }
}