<div class="row forumPost" *ngIf="forumPostForm">
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
    <switched-input [control]="forumPostForm.get('title')"></switched-input>
    <switched-textarea
      [minRows]="5"
      [maxRows]="50"
      [control]="forumPostForm.get('content')"
    ></switched-textarea>
    <mat-label (click)="viewProfile()" class="mat-label-writer">
      {{ forumPostForm.get('writerUsername').value }}
    </mat-label>
  </div>
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
    <div *ngIf="loggedIn && userId === forumPostForm.get('writerId').value">
      <div class="center">
        <div class="voteButtons">
          <i class="material-icons voteUpID">keyboard_arrow_up</i>
          <div class="votes">{{ votes }}</div>
          <i class="material-icons voteDownID">keyboard_arrow_down</i>
        </div>
      </div>
    </div>
    <div *ngIf="loggedIn && userId !== forumPostForm.get('writerId').value">
      <div class="center">
        <div class="voteButtons">
          <i
            (click)="upvote()"
            *ngIf="!alreadyUpvoted"
            class="material-icons voteUp"
            >keyboard_arrow_up</i
          >
          <i
            (click)="upvote()"
            *ngIf="alreadyUpvoted"
            class="material-icons alreadyVoted"
            >keyboard_arrow_up</i
          >
          <div class="votes">{{ votes }}</div>
          <i
            (click)="downvote()"
            *ngIf="!alreadyDownvoted"
            class="material-icons voteDown"
            >keyboard_arrow_down</i
          >
          <i
            (click)="downvote()"
            *ngIf="alreadyDownvoted"
            class="material-icons alreadyVoted"
            >keyboard_arrow_down</i
          >
        </div>
      </div>
    </div>
  </div>
</div>
