<div class="streetartForm center">
  <p>{{'streetartInfo'|translate}}</p>
  <div class="row">
    <div class="col-12 col-sm-12 col-xl-6 col-md-12 col-lg-6">
      <switched-input [placeholder]="'name'|translate" [control]="streetartForm.get('name')"></switched-input>
    </div>
    <div class="col-12 col-sm-12 col-xl-6 col-md-12 col-lg-6">
      <switched-input [placeholder]="'link'|translate" [control]="streetartForm.get('link')"></switched-input>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-xl-12 col-md-12 col-lg-12">
      <switched-textarea [minRows]="5" [placeholder]="'description'|translate" [control]="streetartForm.get('description')"></switched-textarea>
    </div>
  </div>
</div>