.section {
  margin-bottom: 12vh;
  text-align: center;
}

h2 {
  margin: 3vh auto 6vh auto;
  font-weight: 400;
  font-size: 250%;
}

img {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  -webkit-transition: transform 0.5s, opacity 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  opacity: 0.8;
  -moz-transition: transform 0.5s, opacity 0.5s;
  -ms-transition: transform 0.5s, opacity 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
}

img:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  opacity: 1;
}

.artButton {
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .section {
    margin-bottom: 10vh;
  }

  h2 {
    font-size: 200%;
  }

  img {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  img:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
