<div class="section">
  <h2>{{ "artSection" | translate }}</h2>
  <div class="row imageRow">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 hidariTe">
      <img src="/assets/img/verticalChuushin.jpg" alt="chuushin" />
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <img src="/assets/img/verticalShukketsu.jpg" alt="shukketsu" />
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <img src="/assets/img/verticalTsuikyuu.jpg" alt="tsuikyuu" />
    </div>
  </div>
  <button class="button main artButton" routerLink="/gallery">
    {{ "gallery" | translate }}
  </button>
</div>
