<div class="row" *ngIf="forumPostForm">
  <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
    <switched-textarea *ngIf="forumPostForm.get('addcomment')" [placeholder]="'comment'|translate" [minRows]="1" [maxRows]="50" [control]="forumPostForm.get('addcomment')"></switched-textarea>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 center">
    <button (click)="emitCommentClicked()" class="button main">
      <span> {{'comment'|translate }}</span>
    </button>
  </div>
</div>