<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 max-width="100%" max-height="100%" viewBox="0 0 800 400" enable-background="new 0 0 800 400" xml:space="preserve">
<g id="fillIn">
	<polygon points="648.395,157.875 674.895,160.625 649.02,207.625 640.103,210.917 	"/>
	<polygon points="548.02,161.938 600.395,171.938 598.331,186.438 545.081,168.75 	"/>
	<polygon points="528.956,165 574.895,183.75 569.895,198 527.895,167.375 	"/>
	<polygon points="373.061,117.333 399.311,159.919 388.395,173.88 368.186,120.667 	"/>
	<path d="M116.27,139.625l29.333,1l12.573,78l-3.531,0.625C154.645,219.25,130.77,164.25,116.27,139.625z"/>
	<path d="M123.936,201.334l11.25-12l27.667,50.417l-2.917,4C159.936,243.75,135.186,210.168,123.936,201.334z"/>
	<path d="M170.52,267c0,0-21.999-19.666-57.582-34.833l10.667-15.417c0,0,8.791,2.125,49.166,46.75L170.52,267z"/>
	<path d="M211.77,317.5c0,0,28.167-17.167,38.667-64.5h19.167c0,0,1.833,27.666,12.167,53.833l-1.667,9.834
		c0,0-48.333,3.667-67.5,12.5C212.604,329.167,212.604,324.833,211.77,317.5z"/>
	<path d="M219.895,355c0,0-4.625-9.5-10.25-16.5c0,0,25.501-14.75,72.125-17.25l0.875,4.375
		C282.645,325.625,254.895,331.25,219.895,355z"/>
	<path d="M437.27,259.625c-25.875-3-45.375,13.375-45.375,13.375l-5.625-6.167
		c26-77.417,18.375-98.708,18.375-98.708l15-4.125l5.625,15.625c25.25-19.125,38.125-30.125,38.125-30.125
		c19-17.875,42.75-37.5,42.75-37.5l4.5,6c-11,15.625-8.5,26.125-8.5,26.125c-56,30-72.375,57.125-72.375,57.125
		C436.645,233,437.27,259.625,437.27,259.625z"/>
	<path d="M503.52,151c0,0,2.75,6.125,6.5,12.125c0,0-47.25,28.375-62.875,49.75l-8.125-6.25
		C439.02,206.625,458.645,175.375,503.52,151z"/>
	<polygon points="520.395,315.313 532.895,350.438 522.081,353.375 516.645,316.188 	"/>
	<polygon points="514.956,305.438 511.207,347.438 493.706,349.813 511.957,304.813 	"/>
	<path d="M647.02,260.75c-2.25,23.5-25.625,34.875-25.625,34.875L595.27,245.75c6-1.875,7.75-6.375,7.75-6.375
		C627.77,249.625,647.02,260.75,647.02,260.75z"/>
	<path d="M593.645,234.5c0,0,4.875-11.125,6.5-23.125l19.125-1c0,0,8.375,9.125,9.375,31.25L593.645,234.5z"/>
	<path d="M630.895,234.75c-0.979-17.919-9.75-45.625-9.75-45.625l18.125,1.25l-4.625,44.375H630.895z"/>
	<path d="M355.52,192.5c5.625,3.75,13.125,12.25,13.125,12.25c3.75,17.5-31.875,35.875-31.875,35.875l23.125,16
		c50.625-27.375,16.5-59.5,16.5-59.5l-32.75-24.625c-21.875,17.25-69.438,57.688-69.438,57.688l-0.438-13.438l5.125,2.5
		c23.5-26.5,61.042-54.417,61.042-54.417l-4.417-5.583c18.5,7.917,41.916,27.833,41.916,27.833l5.168-2.5
		c0,0-17.563-64.354-17.625-64.354c-0.063,0-15.334-0.604-15.334-0.604c-18.375,19.25-71.375,18.75-71.375,18.75
		c-55.125-2.875-31.875,46.375-31.875,46.375c4.25,13.75,6.375,37.125,6.375,37.125L215.395,196c-42.625-25.625-45.625-50-45.625-50
		l-16.625,0.625l9.25,74.688C202.686,215.458,243.77,244,243.77,244l9.667-8.833V241c0,0,8.333,0,7.833,0s25.167,22,25.167,22
		c8.833-13.334,15.208-20.125,15.208-20.125c49.542,33.208,43.156,95.719,43.156,95.719l9.219,0.531c5-20.25,26.75-56,26.75-56
		l-70.25-52.75C332.645,205.75,355.52,192.5,355.52,192.5z M268.667,185.5c0,0-2.379-11.273,3.958-19.625
		c0,0,3.625-10.125,46.5-10.375l-49.375,40.584L268.667,185.5z"/>
	<path d="M587.604,238.333c0,0-14.166,0.042-33.333-23.396l0.333-7.104l-29.709-39.417c0,0-46,18.333-83.75,62.958
		L451.52,242.5c0,0,25.25-29,63.375-47l4.75,6.875l-5.75,0.125c0,0-1.25,8.875-14.125,32.625l-27.5,0.625l-1,11.5l17.5,2.875
		c0,0-5.875,8.625-21.875,27.25c0,0,20.375,26.625,10.375,63.5l9,5.25c0,0,17.999-18.748,38-88.854c0,0,12.334,2.229,32.834,6.229
		l1.667-8c0,0,20.333,27.833,46.833,22.5L587.604,238.333z M529.834,232c0,0,1.416-5.001,1-14.167l9.75,11.667
		C540.584,229.5,537.166,231.167,529.834,232z"/>
</g>
</svg>
