.outerCard {
  color: var(--mainFont);
  margin: 0 auto 1rem auto;
  max-width: 1440px;
  background: var(--mainBackground);
  padding: 1% 1%;
}

@media only screen and (max-width: 768px) {
  .outerCard {
    margin-bottom: 0;
  }
}
