<scroll-indicator></scroll-indicator>
<toolbar></toolbar>
<header (scrollClicked)="scroll(target)"></header>
<div #target></div>
<mat-card class="outerCard">
  <learn-section></learn-section>
  <tools-section></tools-section>
  <forum-section></forum-section>
  <gallery-section></gallery-section>
  <donate-section></donate-section>
  <thanks-section></thanks-section>
</mat-card>
<scroll-top></scroll-top>
<footer></footer>
