<scroll-indicator></scroll-indicator>
<toolbar></toolbar>
<mat-card class="outerCard">
  <mat-card-header>
    <mat-card-title> {{ 'privacyPolicy' | translate }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="privacyTextHeader">{{ 'privacyPolicyHeader1' | translate }}</p>
    <p class="privacyTextContent">{{ 'privacyPolicyText1' | translate }}</p>
    <p class="privacyTextHeader">{{ 'privacyPolicyHeader2' | translate }}</p>
    <p class="privacyTextContent">{{ 'privacyPolicyText2' | translate }}</p>
    <p class="privacyTextHeader">{{ 'privacyPolicyHeader3' | translate }}</p>
    <p class="privacyTextContent">{{ 'privacyPolicyText3' | translate }}</p>
    <p class="privacyTextHeader">{{ 'privacyPolicyHeader4' | translate }}</p>
    <p class="privacyTextContent">{{ 'privacyPolicyText4' | translate }}</p>
    <p class="privacyTextHeader">{{ 'privacyPolicyHeader5' | translate }}</p>
    <p class="privacyTextContent">{{ 'privacyPolicyText5' | translate }}</p>
    <p class="privacyTextHeader">{{ 'privacyPolicyHeader6' | translate }}</p>
    <p class="privacyTextContent">{{ 'privacyPolicyText6' | translate }}</p>
    <p class="privacyTextHeader">{{ 'privacyPolicyHeader7' | translate }}</p>
    <p class="privacyTextContent">{{ 'privacyPolicyText7' | translate }}</p>
    <p class="privacyTextHeader">{{ 'privacyPolicyHeader8' | translate }}</p>
    <p class="privacyTextContent">{{ 'privacyPolicyText8' | translate }}<a routerLink="/contact">{{ 'contactUs' | translate }}</a></p>
  </mat-card-content>
</mat-card>
<footer></footer>