<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 max-width="100%" height="100%" viewBox="200 -200 400 800" enable-background="new 200 -200 400 800" xml:space="preserve">
<g id="fillIn">
	<polygon stroke-width="0.5" stroke-miterlimit="10" points="472.678,493.613 469.654,522.659 
		418.109,494.293 414.488,484.527 	"/>
	<polygon stroke-width="0.5" stroke-miterlimit="10" points="468.203,383.518 457.245,440.958 
		441.338,438.703 460.735,380.305 	"/>
	<polygon stroke-width="0.5" stroke-miterlimit="10" points="464.841,362.619 444.283,412.994 
		428.664,407.528 462.246,361.448 	"/>
	<polygon stroke-width="0.5" stroke-miterlimit="10" points="517.135,191.65 470.414,220.433 
		455.112,208.477 513.473,186.296 	"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M492.68-89.976l-1.109,32.167l-85.53,13.792
		l-0.68-3.874C405.361-47.891,465.673-74.066,492.68-89.976z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M425.001-81.571l13.16,12.345l-55.287,30.337
		l-4.384-3.191C378.492-42.08,415.319-69.226,425.001-81.571z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M352.983-30.482
		c0,0,21.569-24.121,38.201-63.141l16.913,11.694c0,0-2.334,9.64-51.271,53.917L352.983-30.482z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M297.609,14.765
		c0,0,18.824,30.892,70.729,42.405v21.015c0,0-30.336,2.011-59.036,13.344l-10.779-1.831c0,0-4.023-53.001-13.718-74.018
		C284.806,15.681,289.564,15.681,297.609,14.765z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M256.481,23.67
		c0,0,10.417-5.077,18.088-11.236c0,0,16.188,27.966,18.92,79.094l-4.799,0.958C288.69,92.486,282.531,62.052,256.481,23.67z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M361.07,262.062
		c3.301-28.367-14.662-49.757-14.662-49.757l6.77-6.172c84.892,28.519,108.237,20.154,108.237,20.154l4.536,16.451l-17.131,6.173
		c20.959,27.687,33.027,41.794,33.027,41.794c19.6,20.862,41.142,46.885,41.142,46.885l-6.603,4.938
		c-17.131-12.068-28.645-9.321-28.645-9.321c-32.902-61.396-62.646-79.357-62.646-79.357
		C390.269,261.382,361.07,262.062,361.07,262.062z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M480.21,334.719c0,0-6.728,3.023-13.303,7.13
		c0,0-31.113-51.823-54.56-68.954l6.854-8.919C419.201,263.976,453.48,285.518,480.21,334.719z"/>
	<polygon stroke-width="0.5" stroke-miterlimit="10" points="300.002,353.236 261.482,366.941 
		258.257,355.087 299.045,349.131 	"/>
	<polygon stroke-width="0.5" stroke-miterlimit="10" points="310.835,347.277 264.769,343.146 
		262.161,323.947 311.515,343.978 	"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M359.849,492.102
		c-25.772-2.47-38.256-28.117-38.256-28.117l54.694-28.645c2.066,6.575,6.992,8.514,6.992,8.514
		C372.042,470.989,359.849,492.102,359.849,492.102z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M388.632,433.551c0,0,12.193,5.368,25.36,7.13
		l1.093,20.987c0,0-10.002,9.195-34.263,10.278L388.632,433.551z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M388.355,474.415
		c19.654-1.062,50.033-10.683,50.033-10.683l-1.359,19.877l-48.674-5.088V474.415z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M434.696,172.412
		c-4.116,6.172-13.438,14.398-13.438,14.398c-19.197,4.106-39.339-34.964-39.339-34.964l-17.547,25.365
		c30.017,55.526,65.25,18.088,65.25,18.088l27.008-35.913c-18.921-23.983-63.274-76.146-63.274-76.146l14.742-0.479l-2.736,5.618
		c29.057,25.772,59.675,66.942,59.675,66.942l6.13-4.841c-8.684,20.28-30.533,45.969-30.533,45.969l2.736,5.661
		c0,0,70.596-19.261,70.596-19.323c0-0.076,0.66-16.825,0.66-16.825c-21.112-20.143-20.585-78.277-20.585-78.277
		c3.177-60.451-50.848-34.955-50.848-34.955c-15.082,4.661-40.713,6.991-40.713,6.991l28.377-40.988
		c28.09-46.746,54.819-50.034,54.819-50.034l-0.68-18.227l-81.898,10.14c6.412,44.181-24.882,89.248-24.882,89.248l9.682,10.598
		h-6.395c0,0,0,9.141,0,8.586c0-0.541-24.122,27.604-24.122,27.604c14.621,9.682,22.069,16.673,22.069,16.673
		c-36.426,54.334-104.974,47.332-104.974,47.332l-0.586,10.108c22.208,5.493,61.408,29.338,61.408,29.338l57.856-77.041
		C420.157,147.318,434.696,172.412,434.696,172.412z M442.368,77.166c0,0,12.368-2.611,21.515,4.33c0,0,11.111,3.979,11.389,51.002
		l-44.51-54.153L442.368,77.166z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M384.429,426.935
		c0,0-0.042-15.535,25.654-36.563l7.79,0.388l43.223-32.584c0,0-20.096-50.464-69.037-91.855l-12.208,11.388
		c0,0,31.807,27.688,51.549,69.481l-7.539,5.216l-0.136-6.298c0,0-9.733-1.387-35.773-15.494l-0.693-30.156l-12.609-1.109
		l-3.148,19.198c0,0-9.46-6.45-29.893-23.983c0,0-29.199,22.347-69.633,11.36l-5.758,9.876c0,0,20.557,19.752,97.439,41.67
		c0,0-2.448,13.538-6.831,36.01l8.78,1.831c0,0-30.53,22.305-24.677,51.379L384.429,426.935z M391.379,363.579
		c0,0,5.48,1.554,15.537,1.11l-12.804,10.681C394.111,375.37,392.28,371.623,391.379,363.579z"/>
</g>
</svg>
