.row {
  border-bottom: 1px solid var(--mainSuperDark);
}

.comment {
  padding: 15px 0;
}

p {
  margin: 0;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

p:hover {
  color: var(--main);
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 100%;
  }

  p {
    font-size: 75%;
  }

  // font-size: 75%;
}
