<div class="row comment" *ngIf="comment">
  <div class="col-xl-10 col-lg-10 col-md-9 col-sm-9 col-9">
    <h3>
      {{ comment.content }}
    </h3>
    <p (click)="viewProfile()">
      {{ comment.writerUsername }}
    </p>
  </div>
  <div
    class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-3"
    style="text-align: right"
  >
    <button
      *ngIf="loggedIn && userId === comment.writerId"
      matTooltip="{{ 'deleteComment' | translate }}"
      (click)="emitDelete()"
      matTooltipPosition="below"
      matTooltipShowDelay="1000"
      class="button outline"
    >
      <i class="material-icons">delete</i>
    </button>
  </div>
</div>
