<div class="wallForm center">
  <p>{{'wallInfo'|translate}}</p>
  <div class="row">
    <div class="col-12 col-sm-12 col-xl-6 col-md-12 col-lg-6">
      <switched-input [placeholder]="'name'|translate" [control]="wallForm.get('name')"></switched-input>
    </div>
    <div class="col-12 col-sm-12 col-xl-6 col-md-12 col-lg-6">
      <switched-select [placeholder]="'legalState'|translate" [control]="wallForm.get('legalState')" [options]="selectOptions"></switched-select>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-xl-12 col-md-12 col-lg-12">
      <switched-textarea [minRows]="5" [placeholder]="'description'|translate" [control]="wallForm.get('description')"></switched-textarea>
    </div>
  </div>
</div>