<scroll-indicator></scroll-indicator>
<toolbar></toolbar>
<mat-card class="outerCard">
  <mat-card-header>
    <mat-card-title>
      {{ 'changelog' | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="changelogText">
      {{ 'currentVersion' | translate }}: <span>{{ version }}</span>
    </p>
    <p class="changelogText">
      {{ 'lastUpdated' | translate }}: <span>{{ 'updateDate' | translate }}</span>
    </p>
    <p class="changelogHeader">{{ 'upcomingChanges' | translate }}</p>
    <p class="changelogText">
      {{ 'upcomingChanges1' | translate }}
    </p>
    <p class="changelogText">
      {{ 'upcomingChanges2' | translate }}
    </p>
    <p class="changelogText">
      {{ 'upcomingChanges3' | translate }}
    </p>
    <p class="changelogText">
      {{ 'upcomingChanges4' | translate }}
    </p>
    <p class="changelogText">
      {{ 'upcomingChanges5' | translate }}
    </p>
    <p class="changelogText">
      {{ 'upcomingChanges6' | translate }}
    </p>
    <br />
    <p class="changelogHeader">{{ 'v1.2Notes' | translate }}</p>
    <p class="changelogText">
      {{ 'v1.2ReleaseInfo1' | translate }}
    </p>
    <p class="changelogText">
      {{ 'v1.2ReleaseInfo2' | translate }}
    </p>
    <p class="changelogText">
      {{ 'v1.2ReleaseInfo3' | translate }}
    </p>
    <br />
    <p class="changelogHeader">{{ 'v1.1Notes' | translate }}</p>
    <p class="changelogText">
      {{ 'v1.1ReleaseInfo1' | translate }}
    </p>
    <p class="changelogText">
      {{ 'v1.1ReleaseInfo2' | translate }}
    </p>
    <br />
    <p class="changelogHeader">{{ 'v1.0Notes' | translate }}</p>
    <p class="changelogText">
      {{ 'v1.0ReleaseInfo1' | translate }}
    </p>
    <p class="changelogText">
      {{ 'v1.0ReleaseInfo2' | translate }}
    </p>
    <p class="changelogText">
      {{ 'v1.0ReleaseInfo3' | translate }}
    </p>
    <p class="changelogText">
      {{ 'v1.0ReleaseInfo4' | translate }}
    </p>
    <p class="changelogText">
      {{ 'v1.0ReleaseInfo5' | translate }}
    </p>
  </mat-card-content>
</mat-card>
<scroll-top></scroll-top>
<footer></footer>
