<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 max-width="100%" height="98%" viewBox="200 -200 400 800" enable-background="new 200 -200 400 800" xml:space="preserve">
<g id="background">
	<rect x="475.272" y="-10.208" width="29.074" height="114.794"/>
	<rect x="519.687" y="51.754" width="7.532" height="42.224"/>
	<rect x="464.314" y="20.502" width="5.465" height="43.32"/>
	<rect x="443.192" y="-10.208" width="14.52" height="62.643"/>
	<rect x="434.147" y="27.077" width="13.715" height="45.789"/>
	<rect x="430.763" y="-105.628" width="17.099" height="67.997"/>
	<rect x="467.032" y="-124.813" width="11.54" height="62.504"/>
	<rect x="460.457" y="-164.845" width="3.856" height="52.086"/>
	<rect x="516.94" y="-55.179" width="6.513" height="38.382"/>
	<rect x="439.304" y="-152.777" width="3.888" height="40.019"/>
	<rect x="412.021" y="-122.08" width="8.415" height="66.9"/>
	<rect x="447.862" y="-93.561" width="16.452" height="48.327"/>
	<rect x="426.473" y="-149.489" width="7.674" height="49.717"/>
	<rect x="501.692" y="91.231" width="12.503" height="51.326"/>
	<rect x="496.107" y="-33.245" width="5.585" height="49.35"/>
	<rect x="537.221" y="163.07" width="8.239" height="53.196"/>
	<rect x="513.964" y="182.489" width="13.255" height="69.399"/>
	<rect x="482.402" y="163.07" width="21.944" height="79.496"/>
	<rect x="475.272" y="210.773" width="18.088" height="71.298"/>
	<rect x="467.032" y="231.608" width="5.771" height="40.592"/>
	<rect x="510.92" y="282.071" width="6.021" height="81.508"/>
	<rect x="467.032" y="317.693" width="29.074" height="101.453"/>
	<rect x="462.371" y="404.333" width="12.9" height="54.846"/>
	<rect x="504.346" y="379.669" width="3.597" height="31.239"/>
	<rect x="489.809" y="439.981" width="6.298" height="44.971"/>
	<rect x="530.646" y="279.325" width="3.855" height="49.354"/>
	<rect x="399.147" y="130.168" width="17.084" height="108.016"/>
	<rect x="398.016" y="291.92" width="8.899" height="95.434"/>
	<rect x="399.147" y="472.329" width="21.289" height="86.64"/>
	<rect x="443.192" y="467.029" width="9.816" height="71.104"/>
	<rect x="434.147" y="522.237" width="5.157" height="66.888"/>
	<rect x="394.666" y="541.436" width="7.799" height="57.011"/>
	<rect x="385.962" y="495.91" width="5.417" height="54.847"/>
	<rect x="353.538" y="424.64" width="23.026" height="98.681"/>
	<rect x="309.663" y="368.434" width="16.451" height="86.362"/>
	<rect x="295.959" y="419.146" width="7.129" height="63.059"/>
	<rect x="338.737" y="473.993" width="4.925" height="41.67"/>
	<rect x="367.243" y="515.663" width="5.493" height="25.772"/>
	<rect x="412.021" y="390.628" width="22.126" height="64.168"/>
	<rect x="402.465" y="407.079" width="13.767" height="43.606"/>
	<rect x="420.436" y="492.082" width="10.327" height="46.052"/>
	<rect x="394.666" y="-164.845" width="13.02" height="71.284"/>
	<rect x="359.017" y="-99.772" width="20.293" height="76.4"/>
	<rect x="367.243" y="-134.689" width="5.493" height="34.917"/>
	<rect x="353.538" y="7.879" width="23.026" height="83.352"/>
	<rect x="317.889" y="-45.233" width="13.719" height="83.283"/>
	<rect x="343.662" y="-23.373" width="5.608" height="57.025"/>
	<rect x="407.686" y="16.105" width="15.397" height="60.568"/>
	<rect x="343.662" y="-71.63" width="5.608" height="35.649"/>
	<rect x="391.379" y="-196.097" width="9.796" height="71.466"/>
	<rect x="334.319" y="108.238" width="6.874" height="41.968"/>
	<rect x="322.286" y="108.238" width="3.829" height="29.601"/>
	<rect x="343.662" y="102.204" width="15.355" height="52.641"/>
	<rect x="295.777" y="-14.051" width="7.311" height="77.873"/>
	<rect x="309.663" y="-66.137" width="4.397" height="32.893"/>
	<rect x="337.757" y="146.064" width="32.232" height="100.358"/>
	<rect x="317.889" y="251.888" width="13.719" height="55.956"/>
	<rect x="338.737" y="264.296" width="9.51" height="39.692"/>
	<rect x="326.115" y="339.637" width="5.493" height="20.835"/>
	<rect x="338.737" y="369.475" width="7.729" height="25.813"/>
	<rect x="303.088" y="328.679" width="6.575" height="42.751"/>
	<rect x="284.987" y="335.037" width="5.231" height="66.549"/>
	<rect x="281.158" y="128.526" width="17.366" height="100.335"/>
	<rect x="303.088" y="242.566" width="3.288" height="54.292"/>
	<rect x="281.158" y="251.888" width="8.683" height="42.779"/>
	<rect x="263.611" y="76.673" width="6.575" height="27.913"/>
	<rect x="266.898" y="128.518" width="3.288" height="42.224"/>
	<rect x="314.06" y="205.281" width="8.226" height="37.285"/>
	<rect x="306.376" y="208.027" width="3.288" height="23.581"/>
	<rect x="317.889" y="128.518" width="6.853" height="46.607"/>
	<rect x="306.376" y="123.038" width="5.484" height="23.026"/>
	<rect x="324.741" y="0.75" width="16.451" height="51.684"/>
	<rect x="338.737" y="-129.207" width="7.729" height="50.447"/>
	<rect x="430.301" y="178.694" width="6.429" height="45.229"/>
	<rect x="448.09" y="158.402" width="7.983" height="34.28"/>
	<rect x="439.304" y="170.741" width="5.812" height="16.389"/>
	<rect x="375.108" y="478.184" width="5.118" height="32.348"/>
	<rect x="326.115" y="498.656" width="8.204" height="36.563"/>
	<rect x="293.948" y="359.749" width="7.13" height="27.604"/>
	<rect x="318.166" y="355.533" width="3.024" height="18.005"/>
	<rect x="335.991" y="-60.117" width="5.202" height="32.902"/>
	<rect x="493.36" y="348.001" width="8.332" height="42.627"/>
</g>
</svg>
