<toolbar></toolbar>
<switched-leaflet-add-marker [type]="type" (markerSet)="setCoordinates($event)"></switched-leaflet-add-marker>
<div class="background">
  <div class="formWrapper">
    <wall-form *ngIf="wallForm && type === 'wall'" [wallForm]="wallForm"></wall-form>
    <shop-form *ngIf="shopForm && type === 'shop'" [shopForm]="shopForm"></shop-form>
    <streetart-form *ngIf="streetartForm && type === 'streetart'" [streetartForm]="streetartForm"></streetart-form>
    <div class="row">
      <div class="col-12 center">
        <button class="button main" *ngIf="wallForm && type === 'wall' && !created" (click)="submitWall()">{{'submit'|translate}}</button>
        <button class="button main" *ngIf="shopForm && type === 'shop' && !created" (click)="submitShop()">{{'submit'|translate}}</button>
        <button class="button main" *ngIf="streetartForm && type === 'streetart' && !created" (click)="submitStreetart()">{{'submit'|translate}}</button>
        <button class="button alt" *ngIf="created" routerLink="/graffmap">{{'back'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<footer></footer>