<mat-toolbar>
  <h1>{{ 'profile' | translate }}</h1>
  <span class="spacer"></span>
  <div *ngIf="loggedIn && userId !== userForm.get('id').value">
    <button
      *ngIf="!userForm.get('reported').value"
      matTooltip="{{ 'reportUser' | translate }}"
      matTooltipPosition="below"
      class="button main"
      (click)="reportPlayer()"
    >
      <i class="material-icons">flag</i>
      <span>{{ 'report' | translate }}</span>
    </button>
    <button
      *ngIf="userForm.get('reported').value"
      class="button alt"
      matTooltip="{{ 'userAlreadyReported' | translate }}"
      matTooltipPosition="below"
      matTooltipShowDelay="1000"
    >
      <i class="material-icons">outlined_flag</i>
    </button>
  </div>
  <div *ngIf="loggedIn && userId === userForm.get('id').value">
    <button class="button main" (click)="emitDeleteAccount()">
      <i class="material-icons">delete</i>
      <span> {{ 'delete' | translate }} </span>
    </button>
    <button
      class="button main"
      *ngIf="!editmode && !userForm.get('reported').value"
      (click)="enableEditing()"
    >
      <i class="material-icons">edit</i>
      <span> {{ 'edit' | translate }} </span>
    </button>
    <button
      class="button alt"
      *ngIf="editmode && !userForm.get('reported').value"
      (click)="emitSaved()"
    >
      <i class="material-icons">save</i>
      <span> {{ 'save' | translate }} </span>
    </button>
    <button
      *ngIf="userForm.get('reported').value"
      class="button alt"
      matTooltip="{{ 'youHaveBeenReported' | translate }}"
      matTooltipPosition="below"
      matTooltipShowDelay="1000"
    >
      <i class="material-icons">outlined_flag</i>
    </button>
    <button
      class="button main"
      (click)="logout()"
      matTooltip="{{ 'logout' | translate }}"
      matTooltipPosition="below"
      matTooltipShowDelay="1000"
    >
      <i class="material-icons">exit_to_app</i>
    </button>
  </div>
</mat-toolbar>
