<scroll-indicator></scroll-indicator>
<toolbar></toolbar>
<div class="flexbox">
  <mat-card class="outerCard">
    <h2>{{ "tipsAndTricks" | translate }}</h2>
    <a class="trickLink" routerLink="/spraypaintTechnology">{{ "howSpraypaintWorks"|translate }}</a>
    <a class="trickLink" routerLink="/disposeCans">{{ "howToDisposeCans"|translate }}</a>
    <a class="trickLink" routerLink="/preventClogging">{{ "howToPreventClogging"|translate }}</a>
    <a class="trickLink" routerLink="/changePressure">{{ "howToChangePressure"|translate }}</a>
    <a class="trickLink" routerLink="/safetyProtection">{{ "safetyAndProtection"|translate }}</a>
  </mat-card>
</div>
<scroll-top></scroll-top>
<footer></footer>
