.flexbox {
  display: flex;
  min-height: 75vh;
  flex-direction: row;
  justify-content: center;
}

mat-card {
  color: var(--mainFont);
}

.outerCard {
  width: 100%;
  margin: 1rem auto;
  max-width: 1440px;
  background: var(--mainBackground);
  box-shadow: none !important;
}

h2 {
  font-size: 250%;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin: 3vh auto;
  text-align: center;
}

.trickLink {
  width: 100%;
  font-size: 1.75rem;
  display: block;
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid var(--mainSuperDark);
  background: var(--mainBackground);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  color: var(--mainFont);
  text-decoration: none;
}

.trickLink:hover {
  background: var(--altBackground);
}

@media only screen and (max-width: 768px) {
  .flexbox {
    min-height: auto;
  }

  .outerCard {
    margin: 0;
  }

  h2 {
    font-size: 200%;
    margin-bottom: 1rem !important;
  }
  
  .trickLink {
    font-size: 100%;
  }
}
