<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 max-width="100%" height="100%" viewBox="200 -200 400 800" enable-background="new 200 -200 400 800" xml:space="preserve">
<g id="effects_1_">
	<path stroke-width="0.5" stroke-miterlimit="10" d="M433.799-70.224l-8.5-8.226
		c-15.352,17.09-42.501,35.011-42.501,35.011l1.651,1.096L433.799-70.224z M425.115-75.704l5.205,5.673l-32.625,18.269
		C397.696-51.761,410.04-60.167,425.115-75.704z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M488.83-61.083l0.638-22.568
		c-5.688,5.021-55.669,25.496-55.669,25.496l1.283,6.394L488.83-61.083z M487.165-79.171l-0.638,16.535l-48.883,8.598l-0.739-3.382
		C436.906-57.421,482.865-76.064,487.165-79.171z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M428.448,19.385l-27.274-14.62
		c-1.605,6.63-3.52,11.651-3.52,11.651l23.858,13.164L428.448,19.385z M399.569,15.639c0,0,1.098-2.552,2.385-7.906l23.758,12.484
		l-4.436,7.172L399.569,15.639z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M420.042,31.729L396.6,18.937l-2.372,6.856l20.876,12.692
		L420.042,31.729z M395.92,25.016l1.373-3.8l20.332,11.11l-2.84,4.203L395.92,25.016z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M321.293,40.816c0,0-7.768-3.47-22.846-21.017l-8.406-0.458
		c0,0,4.203,7.035,8.226,39.478L321.293,40.816z M297.531,22.366c12.165,14.44,19.656,19.101,19.656,19.101l-16.909,12.332
		c-1.832-19.281-6.395-31.433-6.395-31.433H297.531z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M291.317,83.593c-4.383-38.936-18.463-66.804-18.463-66.804
		c-6.672,5.66-12.701,8.033-12.701,8.033c22.854,31.347,28.515,59.409,28.515,59.409L291.317,83.593z M263.532,25.376
		c0,0,4.023-1.651,8.407-5.479c0,0,11.707,25.59,16.271,55.748C288.21,75.645,279.707,46.211,263.532,25.376z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M391.62,122.294c-3.607-3.288-10.279-8.131-10.279-8.131
		l-4.299,5.853l10.792,7.629L391.62,122.294z M379.234,119.74l2.385-3.521l8.364,6.172l-2.523,3.426L379.234,119.74z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M385.545,130.381l-10.195-8.686
		c-4.608,5.684-10.737,11.293-10.737,11.293l11.43,9.957L385.545,130.381z M375.446,124.124l8.226,6.632l-7.726,10.001l-9.183-7.77
		C366.763,132.989,372.561,128.467,375.446,124.124z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M392.036,171.327c0,0-2.331-2.925-4.938-7.169l-15.397,19.6
		c0,0,0.916,2.053,3.385,5.158L392.036,171.327z M387.001,166.987c1.471,2.287,3.064,4.245,3.064,4.245l-14.98,15.771l-1.79-3.01
		L387.001,166.987z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M404.57,183.469c0,0-5.918-4.296-11.161-10.545l-16.548,18.42
		c0,0,7.33,8.549,16.548,12.099L404.57,183.469z M379.032,191.526l14.228-16.284c0,0,3.52,4.493,9.599,8.642l-10.248,17.752
		C392.612,201.638,385.482,198.794,379.032,191.526z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M481.997,188.654l-18.455-16.59
		c0,0-9.044,14.46-18.575,23.505l2.061,3.023L481.997,188.654z M463.82,175.275l14.045,13.025l-29.727,8.565l-0.895-1.158
		C447.243,195.708,457.648,184.535,463.82,175.275z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M505.703,182.343l-36.052-20.696l-4.473,8.011l20.924,17.825
		L505.703,182.343z M467.863,169.519l2.532-4.862l29.691,17.346l-12.408,3.319L467.863,169.519z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M413.056,40.455l-19.965-12.193
		c0,0-5.215,10.279-11.867,20.897l14.398,14.6C395.622,63.758,406.155,49.915,413.056,40.455z M393.43,30.855l16.788,10.292
		L395.282,61.15l-12.13-11.993C383.152,49.159,389.865,38.263,393.43,30.855z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M453.666,159.178l-20.558-24.477l-11.79,12.686
		c7.549,9.246,19.333,28.378,19.333,28.378L453.666,159.178z M433.109,137.927l18.026,21.59l-10.483,12.547
		c0,0-8.705-14.814-16.246-24.198L433.109,137.927z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M430.97,132.171l-5.309-6.633l-12.152,12.984
		c2.285,2.331,5.896,6.355,5.896,6.355L430.97,132.171z M416.935,138.343l8.459-9.598l3.106,3.646l-8.912,9.143L416.935,138.343z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M491.937,94.885c2.081-52.78-27.562-44.832-27.562-44.832
		l-1.576,25.495c11.979,5.618,13.366,24.878,13.366,24.878L491.937,94.885z M465.181,73.815l1.344-21.667
		c0,0,25.301-2.733,23.026,40.864l-11.688,3.829C477.864,96.841,477.567,80.667,465.181,73.815z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M459.562,75.031l1.387-24.916
		c-7.407,0.896-13.519,3.426-13.519,3.426l2.192,20.432C456.287,73.835,459.562,75.031,459.562,75.031z M451.35,72.198
		l-1.853-17.283c0,0,4.258-1.373,9.044-2.053l-1.02,19.877C457.523,72.74,454.56,72.122,451.35,72.198z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M339.076,188.194l-21.112-28.336
		c0,0-18.602,4.437-39.256,3.521l-0.638,4.844c0,0,21.251,4.245,55.929,25.911L339.076,188.194z M280.741,166.849v-1.833
		c0,0,15.354,1.472,36.37-3.01l19.932,26.591l-3.481,3.386C333.562,191.982,304.224,172.328,280.741,166.849z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M407.828,253.842l0.476-29.816l-19.673-4.133l2.076,35.988
		C398.961,255.416,407.828,253.842,407.828,253.842z M390.946,222.979l14.816,3.023l-0.34,25.898l-13.025,1.852L390.946,222.979z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M386.981,256.586l-3.01-37.928l-16.313-5.278
		c8.905,20.092,11.375,44.013,11.375,44.013C383.554,257.053,386.981,256.586,386.981,256.586z M371.084,216.959l11.173,2.934
		l2.67,35.094l-4.383,0.494C380.544,255.479,378.831,234.769,371.084,216.959z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M391.301,373.683H362.42l-2.828,17.727l36.647,5.702
		L391.301,373.683z M361.74,390.022l2.373-14.98h25.73l3.565,19.918L361.74,390.022z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M389.588,364.209l-25.476,0.596l-1.096,6.408h27.964
		L389.588,364.209z M364.848,369.465l0.457-2.871l22.93-0.791l0.693,3.662H364.848z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M382.534,425.116c0.201-4.105,1.637-6.298,1.637-6.298
		l-33.243-3.641c-9.246,14.752-7.47,27.284-7.47,27.284L382.534,425.116z M351.963,417.369l29.476,2.809
		c-0.895,2.284-1.172,4.046-1.172,4.046l-34.754,14.598C345.658,426.636,351.963,417.369,351.963,417.369z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M380.468,445.334c-5.349-2.343-6.991-6.021-6.991-6.021
		l-46.746,25.897c9.939,18.365,32.286,23.519,32.286,23.519L380.468,445.334z M329.339,466.105l43.32-24.538
		c0,0,1.713,2.962,5.618,4.321l-20.217,40.435C358.059,486.323,340.042,481.387,329.339,466.105z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M413.034,459.531l-0.822-17.409
		c-14.676-1.297-22.008-4.535-22.008-4.535l-6.034,30.863C404.323,467.215,413.034,459.531,413.034,459.531z M410.422,443.481
		l0.618,15.583c0,0-8.982,6.084-24.4,7.381l4.8-26.112C391.44,440.333,397.474,442.802,410.422,443.481z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M470.117,495.52l-51.948-8.239l1.575,4.813l48.119,25.71
		L470.117,495.52z M421.319,490.921l-0.34-1.234l46.606,7.532l-1.574,17.158L421.319,490.921z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M308.026,343.692l-42.779-16.576l1.99,13.212l40.789,4.384
		V343.692L308.026,343.692z M269.027,338.414l-1.373-8.212l32.209,12.193L269.027,338.414z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M460.199,367.785l-27.41,37.772l10.75,3.896L460.199,367.785z
		 M435.762,404.878l17.904-25.26l-11.135,27.535L435.762,404.878z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M465.97,384.639l-3.981-1.387l-9.959,31.309l7.365,2.385
		L465.97,384.639z M454.373,413.283l8.447-27.965l1.234,0.361l-5.937,28.756L454.373,413.283z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M315.36,309.515c-26.05,7.325-41.77,0-41.77,0l-2.192,5.66
		c23.3,14.537,41.41,20.194,41.41,20.194L315.36,309.515z M274.329,314.37l0.814-2.22c0,0,11.062,6.768,36.929,0.747l-1.831,18.727
		C310.241,331.626,295.067,326.245,274.329,314.37z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M477.336,333.352l-7.685-13.643l-9.452,6.638l7.602,11.853
		L477.336,333.352z M469.16,322.24l5.958,10.771l-6.853,3.088l-5.681-9.071L469.16,322.24z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M468.356,317.982l-4.782-7.47l-9.599,7.282l4.907,6.852
		L468.356,317.982z M463.296,312.735l3.024,5.091l-7.13,5.033l-3.088-4.691L463.296,312.735z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M459.013,357.036c-4.327-9.207-9.771-18.519-9.771-18.519
		l-24.445,15.771l10.966,19.642L459.013,357.036z M448.563,341.055l8.087,15.62l-20.333,14.856l-9.228-16.451L448.563,341.055z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M434.385,374.837l-11.412-19.354l-10.05,6.575l13.099,19.263
		L434.385,374.837z M422.696,357.55l9.702,16.791l-5.999,4.754l-11.142-16.514L422.696,357.55z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M348.475,303.105l-7.172-5.427c0,0-3.705,4.649-23.436,11.044
		l-2.508,27.395l12.377,4.467L348.475,303.105z M317.687,334.496l2.053-23.429c0,0,10.216-2.962,21.452-10.278l4.599,2.934
		l-19.059,34.074L317.687,334.496z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M353.953,307.766l-3.704-2.469l-19.4,36.419l17.951,5.957
		L353.953,307.766z M333.583,340.584l17.145-32.666l1.575,0.896l-5,36.238L333.583,340.584z"/>
	<path stroke-miterlimit="10" d="M516.406,338.518l3.384-2.039l-43.86-49.547l-8.85,6.409
		c13.066,16.729,21.834,36.563,21.834,36.563C507.833,328.351,516.406,338.518,516.406,338.518z M490.106,327.693
		c0,0-13.538-26.225-20.391-33.798l5.66-4.384l41.142,46.773C516.517,336.285,507.362,326.567,490.106,327.693z"/>
</g>
<path d="M444.458,241.176c0,3.035-2.45,5.493-5.485,5.493c-3.025,0-5.483-2.458-5.483-5.493s2.458-5.493,5.483-5.493
	C442.008,235.683,444.458,238.141,444.458,241.176z"/>
<path d="M366.084,62.58c0,3.021-2.457,5.479-5.493,5.479c-3.021,0-5.479-2.458-5.479-5.479c0-3.036,2.458-5.493,5.479-5.493
	C363.627,57.087,366.084,59.544,366.084,62.58z"/>
<path d="M400.047-83.172c0,3.022-2.444,5.479-5.479,5.479c-3.021,0-5.479-2.458-5.479-5.479c0-3.034,2.458-5.479,5.479-5.479
	C397.603-88.651,400.047-86.207,400.047-83.172z"/>
<path d="M445.752-37.405c0,3.021-2.457,5.479-5.492,5.479c-3.025,0-5.476-2.458-5.476-5.479c0-3.036,2.45-5.493,5.476-5.493
	C443.295-42.897,445.752-40.44,445.752-37.405z"/>
<path d="M461.565-39.055c0,3.034-2.457,5.479-5.493,5.479c-3.034,0-5.492-2.445-5.492-5.479c0-3.022,2.458-5.479,5.492-5.479
	C459.108-44.535,461.565-42.077,461.565-39.055z"/>
<path d="M482.909-42.343c0,3.021-2.457,5.479-5.493,5.479c-3.035,0-5.493-2.458-5.493-5.479c0-3.036,2.458-5.479,5.493-5.479
	C480.452-47.822,482.909-45.378,482.909-42.343z"/>
<path d="M473.048-32.883c0,1.809-1.481,3.288-3.302,3.288c-1.821,0-3.273-1.479-3.273-3.288c0-1.821,1.452-3.288,3.273-3.288
	C471.567-36.17,473.048-34.704,473.048-32.883z"/>
<path d="M433.202-38.5c0,1.807-1.464,3.288-3.284,3.288c-1.821,0-3.291-1.481-3.291-3.288c0-1.822,1.47-3.301,3.291-3.301
	C431.739-41.802,433.202-40.322,433.202-38.5z"/>
<path d="M447.563-9.579c0,1.82-1.48,3.288-3.301,3.288c-1.821,0-3.289-1.467-3.289-3.288c0-1.821,1.468-3.288,3.289-3.288
	C446.082-12.867,447.563-11.4,447.563-9.579z"/>
<path d="M399.049-73.233c0,1.82-1.467,3.288-3.288,3.288c-1.822,0-3.288-1.467-3.288-3.288c0-1.822,1.466-3.288,3.288-3.288
	C397.581-76.521,399.049-75.055,399.049-73.233z"/>
<path d="M452.501-31.926c0,1.821-1.48,3.288-3.301,3.288c-1.822,0-3.299-1.467-3.299-3.288c0-1.821,1.477-3.287,3.299-3.287
	C451.021-35.213,452.501-33.747,452.501-31.926z"/>
<path d="M446.647-26.987c0,1.807-1.479,3.287-3.301,3.287c-1.811,0-3.284-1.48-3.284-3.287c0-1.822,1.474-3.288,3.284-3.288
	C445.167-30.275,446.647-28.809,446.647-26.987z"/>
<path d="M467.031-26.987c0,1.807-1.452,3.287-3.274,3.287c-1.82,0-3.301-1.48-3.301-3.287c0-1.822,1.48-3.288,3.301-3.288
	C465.579-30.275,467.031-28.809,467.031-26.987z"/>
<path d="M469.49-42.343c0,1.82-1.452,3.288-3.273,3.288s-3.302-1.467-3.302-3.288c0-1.822,1.48-3.288,3.302-3.288
	S469.49-44.165,469.49-42.343z"/>
<path d="M483.698-34.533c0,0.91-0.727,1.65-1.637,1.65c-0.911,0-1.662-0.74-1.662-1.65c0-0.912,0.751-1.637,1.662-1.637
	C482.971-36.17,483.698-35.445,483.698-34.533z"/>
<path d="M478.759-33.576c0,0.91-0.727,1.65-1.637,1.65c-0.911,0-1.637-0.74-1.637-1.65c0-0.901,0.726-1.637,1.637-1.637
	C478.032-35.213,478.759-34.478,478.759-33.576z"/>
<path d="M449.446-42.142c0,0.911-0.754,1.65-1.665,1.65c-0.883,0-1.637-0.739-1.637-1.65c0-0.91,0.754-1.637,1.637-1.637
	C448.692-43.779,449.446-43.052,449.446-42.142z"/>
<path d="M448.283-15.306c0,0.912-0.727,1.651-1.637,1.651c-0.911,0-1.659-0.739-1.659-1.651c0-0.91,0.748-1.65,1.659-1.65
	C447.557-16.956,448.283-16.216,448.283-15.306z"/>
<path d="M443.346-2.664c0,0.911-0.727,1.65-1.638,1.65c-0.91,0-1.646-0.739-1.646-1.65c0-0.897,0.736-1.637,1.646-1.637
	C442.619-4.301,443.346-3.561,443.346-2.664z"/>
<path d="M452.243-12.921c0,0.91-0.753,1.651-1.664,1.651c-0.883,0-1.637-0.741-1.637-1.651c0-0.897,0.754-1.637,1.637-1.637
	C451.49-14.558,452.243-13.819,452.243-12.921z"/>
<path d="M459.797-30.275c0,0.896-0.727,1.637-1.637,1.637c-0.911,0-1.637-0.74-1.637-1.637c0-0.912,0.726-1.651,1.637-1.651
	C459.071-31.926,459.797-31.187,459.797-30.275z"/>
<path d="M465.395-36.17c0,0.897-0.726,1.637-1.638,1.637c-0.91,0-1.637-0.74-1.637-1.637c0-0.911,0.727-1.65,1.637-1.65
	C464.669-37.821,465.395-37.082,465.395-36.17z"/>
<path d="M459.797-21.88c0,3.629-2.933,6.575-6.575,6.575c-3.642,0-6.575-2.945-6.575-6.575c0-3.642,2.934-6.589,6.575-6.589
	C456.865-28.469,459.797-25.522,459.797-21.88z"/>
<path d="M424.98-39.055c0,0.91-0.737,1.65-1.647,1.65c-0.9,0-1.645-0.74-1.645-1.65c0-0.912,0.744-1.651,1.645-1.651
	C424.242-40.706,424.98-39.967,424.98-39.055z"/>
<path d="M420.041-38.5c0,0.897-0.737,1.637-1.637,1.637c-0.911,0-1.647-0.74-1.647-1.637c0-0.912,0.736-1.651,1.647-1.651
	C419.304-40.151,420.041-39.412,420.041-38.5z"/>
<path d="M438.685-29.255c0,0.911-0.727,1.65-1.637,1.65s-1.646-0.739-1.646-1.65c0-0.91,0.736-1.637,1.646-1.637
	S438.685-30.166,438.685-29.255z"/>
<path d="M405.626-81.521c0,0.897-0.733,1.637-1.643,1.637c-0.911,0-1.647-0.739-1.647-1.637c0-0.91,0.736-1.651,1.647-1.651
	C404.893-83.172,405.626-82.432,405.626-81.521z"/>
<path d="M402.953-76.937c0,0.91-0.737,1.65-1.638,1.65c-0.91,0-1.65-0.74-1.65-1.65c0-0.911,0.74-1.644,1.65-1.644
	C402.216-78.581,402.953-77.848,402.953-76.937z"/>
<path d="M394.11-67.679c0,0.911-0.74,1.637-1.637,1.637c-0.911,0-1.65-0.727-1.65-1.637c0-0.91,0.739-1.65,1.65-1.65
	C393.37-69.33,394.11-68.589,394.11-67.679z"/>
<path d="M392.057-76.521c0,0.91-0.74,1.637-1.651,1.637c-0.897,0-1.637-0.727-1.637-1.637c0-0.911,0.739-1.65,1.637-1.65
	C391.317-78.171,392.057-77.432,392.057-76.521z"/>
<path d="M461.864,233.216c0,0.91-0.754,1.664-1.664,1.664c-0.884,0-1.637-0.754-1.637-1.664s0.753-1.637,1.637-1.637
	C461.11,231.579,461.864,232.306,461.864,233.216z"/>
<path d="M482.616,203.523c0,1.793-1.48,3.274-3.302,3.274s-3.301-1.481-3.301-3.274c0-1.821,1.479-3.301,3.301-3.301
	S482.616,201.702,482.616,203.523z"/>
<path d="M366.084,73.08c0,1.82-1.479,3.288-3.301,3.288c-1.808,0-3.288-1.467-3.288-3.288c0-1.808,1.479-3.288,3.288-3.288
	C364.605,69.792,366.084,71.271,366.084,73.08z"/>
<path d="M353.877,63.355c0,0.896-0.74,1.637-1.644,1.637c-0.903,0-1.644-0.741-1.644-1.637c0-0.911,0.741-1.65,1.644-1.65
	C353.136,61.705,353.877,62.444,353.877,63.355z"/>
<path d="M322.943,83.497c0,0.911-0.74,1.651-1.65,1.651s-1.637-0.74-1.637-1.651c0-0.91,0.727-1.637,1.637-1.637
	S322.943,82.587,322.943,83.497z"/>
<path d="M348.939,62.025c0,0.91-0.727,1.65-1.637,1.65c-0.911,0-1.651-0.74-1.651-1.65c0-0.911,0.74-1.649,1.651-1.649
	C348.212,60.376,348.939,61.114,348.939,62.025z"/>
<path d="M358.773,75.354c0,0.912-0.739,1.637-1.65,1.637s-1.65-0.726-1.65-1.637c0-0.91,0.739-1.65,1.65-1.65
	S358.773,74.444,358.773,75.354z"/>
<path d="M358.773,70.347c0,0.896-0.739,1.637-1.65,1.637s-1.65-0.74-1.65-1.637c0-0.911,0.739-1.65,1.65-1.65
	S358.773,69.436,358.773,70.347z"/>
<path d="M342.703,78.572c0,0.896-0.74,1.637-1.637,1.637c-0.911,0-1.65-0.74-1.65-1.637c0-0.911,0.739-1.65,1.65-1.65
	C341.963,76.922,342.703,77.661,342.703,78.572z"/>
<path d="M354.93,57.087c0,1.82-1.479,3.289-3.287,3.289c-1.822,0-3.301-1.468-3.301-3.289c0-1.808,1.479-3.288,3.301-3.288
	C353.451,53.8,354.93,55.279,354.93,57.087z"/>
<path d="M368.552,95.385c0,1.821-1.48,3.288-3.301,3.288c-1.807,0-3.288-1.467-3.288-3.288c0-1.821,1.481-3.287,3.288-3.287
	C367.072,92.098,368.552,93.563,368.552,95.385z"/>
<path d="M376.286,95.704c0,1.821-1.467,3.288-3.288,3.288c-1.808,0-3.288-1.467-3.288-3.288c0-1.821,1.48-3.287,3.288-3.287
	C374.819,92.417,376.286,93.883,376.286,95.704z"/>
<path d="M339.832,74.081c0,1.808-1.481,3.288-3.301,3.288c-1.808,0-3.288-1.48-3.288-3.288c0-1.821,1.479-3.301,3.288-3.301
	C338.351,70.779,339.832,72.26,339.832,74.081z"/>
<path d="M330.123,80.209c0,1.821-1.466,3.288-3.288,3.288c-1.821,0-3.287-1.467-3.287-3.288c0-1.819,1.466-3.287,3.287-3.287
	C328.657,76.922,330.123,78.39,330.123,80.209z"/>
<path d="M341.067,66.643c0,1.809-1.48,3.288-3.301,3.288c-1.808,0-3.288-1.479-3.288-3.288c0-1.821,1.48-3.288,3.288-3.288
	C339.586,63.355,341.067,64.822,341.067,66.643z"/>
<path d="M353.877,71.983c0,3.642-2.947,6.589-6.575,6.589c-3.642,0-6.589-2.947-6.589-6.589c0-3.629,2.947-6.575,6.589-6.575
	C350.93,65.409,353.877,68.354,353.877,71.983z"/>
<path d="M347.302,55.45c0,3.021-2.458,5.479-5.493,5.479c-3.022,0-5.479-2.458-5.479-5.479c0-3.035,2.457-5.493,5.479-5.493
	C344.844,49.958,347.302,52.415,347.302,55.45z"/>
<path d="M380.565,85.467c0,3.024-2.458,5.479-5.479,5.479c-3.036,0-5.493-2.455-5.493-5.479c0-3.022,2.458-5.479,5.493-5.479
	C378.106,79.987,380.565,82.444,380.565,85.467z"/>
<path d="M334.894,79.698c0,0.912-0.74,1.638-1.65,1.638c-0.911,0-1.637-0.726-1.637-1.638c0-0.91,0.726-1.65,1.637-1.65
	C334.154,78.048,334.894,78.788,334.894,79.698z"/>
<path d="M344.354,63.676c0,0.897-0.74,1.637-1.651,1.637c-0.911,0-1.637-0.74-1.637-1.637c0-0.911,0.726-1.65,1.637-1.65
	C343.614,62.025,344.354,62.765,344.354,63.676z"/>
<path d="M334.138,69.792c0,0.91-0.74,1.65-1.65,1.65c-0.897,0-1.637-0.74-1.637-1.65c0-0.911,0.74-1.648,1.637-1.648
	C333.398,68.144,334.138,68.881,334.138,69.792z"/>
<path d="M337.98,48.679c0,0.91-0.74,1.65-1.65,1.65s-1.651-0.74-1.651-1.65c0-0.912,0.741-1.638,1.651-1.638
	S337.98,47.768,337.98,48.679z"/>
<path d="M372.2,101.64c0,0.91-0.739,1.65-1.638,1.65c-0.911,0-1.65-0.74-1.65-1.65c0-0.911,0.739-1.637,1.65-1.637
	C371.461,100.003,372.2,100.729,372.2,101.64z"/>
<path d="M369.372,89.586c0,0.897-0.739,1.637-1.65,1.637c-0.911,0-1.637-0.74-1.637-1.637c0-0.911,0.727-1.65,1.637-1.65
	C368.633,87.936,369.372,88.675,369.372,89.586z"/>
<path d="M385.395,71.442c0,0.9-0.74,1.637-1.65,1.637c-0.898,0-1.638-0.737-1.638-1.637c0-0.911,0.739-1.65,1.638-1.65
	C384.655,69.792,385.395,70.531,385.395,71.442z"/>
<path d="M379.587,103.791c0,1.821-1.481,3.288-3.301,3.288c-1.808,0-3.288-1.467-3.288-3.288c0-1.821,1.479-3.287,3.288-3.287
	C378.106,100.504,379.587,101.97,379.587,103.791z"/>
<path d="M383.522,76.881c0,1.807-1.466,3.287-3.288,3.287c-1.822,0-3.288-1.48-3.288-3.287c0-1.822,1.466-3.3,3.288-3.3
	C382.056,73.581,383.522,75.059,383.522,76.881z"/>
<path d="M381.224,108.729c0,0.91-0.738,1.637-1.637,1.637c-0.912,0-1.651-0.727-1.651-1.637c0-0.911,0.739-1.651,1.651-1.651
	C380.486,107.079,381.224,107.818,381.224,108.729z"/>
<path d="M462.585,142.649c0,0.91-0.727,1.651-1.637,1.651c-0.911,0-1.637-0.741-1.637-1.651c0-0.909,0.726-1.637,1.637-1.637
	C461.859,141.013,462.585,141.74,462.585,142.649z"/>
<path d="M473.189,144.877c0,0.897-0.727,1.637-1.638,1.637c-0.91,0-1.637-0.74-1.637-1.637c0-0.911,0.727-1.651,1.637-1.651
	C472.462,143.227,473.189,143.966,473.189,144.877z"/>
<path d="M380.235,97.023c0,0.909-0.74,1.649-1.651,1.649c-0.911,0-1.637-0.74-1.637-1.649c0-0.899,0.726-1.639,1.637-1.639
	C379.494,95.385,380.235,96.125,380.235,97.023z"/>
<path d="M384.511,82.37c0,0.91-0.727,1.651-1.637,1.651c-0.912,0-1.651-0.741-1.651-1.651s0.739-1.65,1.651-1.65
	C383.785,80.72,384.511,81.459,384.511,82.37z"/>
<path d="M456.072,129.659c0,0.897-0.726,1.637-1.637,1.637c-0.91,0-1.637-0.739-1.637-1.637c0-0.91,0.727-1.65,1.637-1.65
	C455.346,128.008,456.072,128.749,456.072,129.659z"/>
<path d="M457.245,234.345c0,3.644-2.961,6.575-6.575,6.575c-3.643,0-6.583-2.932-6.583-6.575c0-3.641,2.94-6.575,6.583-6.575
	C454.284,227.77,457.245,230.704,457.245,234.345z"/>
<path d="M474.717,136.075c0,3.628-2.933,6.575-6.575,6.575c-3.642,0-6.575-2.946-6.575-6.575s2.934-6.575,6.575-6.575
	C471.784,129.5,474.717,132.446,474.717,136.075z"/>
<circle cx="471.844" cy="211.063" r="5.493"/>
<path d="M434.465,473.616c0,3.036-2.458,5.493-5.482,5.493c-3.035,0-5.494-2.457-5.494-5.493c0-3.008,2.459-5.465,5.494-5.465
	C432.007,468.151,434.465,470.608,434.465,473.616z"/>
<path d="M460.629,136.075c0,1.821-1.48,3.287-3.301,3.287c-1.822,0-3.274-1.466-3.274-3.287c0-1.822,1.452-3.288,3.274-3.288
	C459.149,132.787,460.629,134.253,460.629,136.075z"/>
<path d="M451.915,126.773c0,1.822-1.479,3.288-3.301,3.288c-1.822,0-3.278-1.466-3.278-3.288c0-1.82,1.456-3.288,3.278-3.288
	C450.436,123.486,451.915,124.953,451.915,126.773z"/>
<path d="M463.903,128.452c0,1.821-1.453,3.288-3.273,3.288c-1.821,0-3.301-1.467-3.301-3.288s1.479-3.288,3.301-3.288
	C462.449,125.164,463.903,126.631,463.903,128.452z"/>
<path d="M469.49,146.971c0,1.821-1.452,3.288-3.273,3.288s-3.302-1.467-3.302-3.288c0-1.821,1.48-3.288,3.302-3.288
	S469.49,145.15,469.49,146.971z"/>
<path d="M468.48,126.357c0,0.911-0.727,1.651-1.637,1.651c-0.911,0-1.664-0.74-1.664-1.651c0-0.9,0.753-1.637,1.664-1.637
	C467.753,124.721,468.48,125.458,468.48,126.357z"/>
<path d="M445.417,123.07c0,0.912-0.747,1.651-1.647,1.651c-0.909,0-1.654-0.739-1.654-1.651c0-0.91,0.745-1.637,1.654-1.637
	C444.67,121.433,445.417,122.16,445.417,123.07z"/>
<path d="M453.222,132.787c0,0.91-0.727,1.637-1.637,1.637c-0.911,0-1.664-0.727-1.664-1.637s0.753-1.651,1.664-1.651
	C452.495,131.136,453.222,131.877,453.222,132.787z"/>
<path d="M423.788,251.095c0,0.91-0.727,1.637-1.638,1.637c-0.91,0-1.647-0.727-1.647-1.637s0.737-1.637,1.647-1.637
	C423.062,249.458,423.788,250.185,423.788,251.095z"/>
<path d="M439.538,249.817c0,0.91-0.737,1.637-1.647,1.637s-1.644-0.727-1.644-1.637s0.733-1.664,1.644-1.664
	S439.538,248.907,439.538,249.817z"/>
<path d="M450.67,253.287c0,0.91-0.754,1.637-1.664,1.637c-0.912,0-1.638-0.727-1.638-1.637c0-0.911,0.726-1.638,1.638-1.638
	C449.916,251.649,450.67,252.376,450.67,253.287z"/>
<path d="M436.707,234.089c0,0.91-0.742,1.637-1.652,1.637c-0.904,0-1.647-0.727-1.647-1.637s0.743-1.637,1.647-1.637
	C435.965,232.452,436.707,233.179,436.707,234.089z"/>
<path d="M455.701,242.813c0,0.91-0.727,1.637-1.637,1.637s-1.664-0.727-1.664-1.637s0.754-1.637,1.664-1.637
	S455.701,241.902,455.701,242.813z"/>
<path d="M460.906,229.15c0,0.911-0.754,1.645-1.664,1.645c-0.911,0-1.637-0.733-1.637-1.645c0-0.91,0.726-1.637,1.637-1.637
	C460.153,227.514,460.906,228.24,460.906,229.15z"/>
<path d="M443.283,230.795c0,1.813-1.479,3.294-3.29,3.294c-1.821,0-3.286-1.48-3.286-3.294c0-1.803,1.465-3.281,3.286-3.281
	C441.804,227.514,443.283,228.992,443.283,230.795z"/>
<path d="M447.122,250.509c0,1.82-1.456,3.302-3.282,3.302c-1.813,0-3.292-1.481-3.292-3.302s1.479-3.301,3.292-3.301
	C445.666,247.208,447.122,248.688,447.122,250.509z"/>
<path d="M434.756,251.095c0,1.823-1.463,3.274-3.283,3.274c-1.822,0-3.292-1.451-3.292-3.274c0-1.82,1.47-3.301,3.292-3.301
	C433.293,247.794,434.756,249.274,434.756,251.095z"/>
<path d="M422.328,473.132c0,1.82-1.473,3.274-3.284,3.274c-1.821,0-3.291-1.454-3.291-3.274c0-1.822,1.47-3.301,3.291-3.301
	C420.856,469.831,422.328,471.31,422.328,473.132z"/>
<path d="M463.82,239.047c0,1.822-1.48,3.301-3.301,3.301c-1.794,0-3.273-1.479-3.273-3.301c0-1.82,1.479-3.302,3.273-3.302
	C462.339,235.745,463.82,237.227,463.82,239.047z"/>
<path d="M450.67,244.449c0,1.519-1.229,2.747-2.747,2.747c-1.518,0-2.746-1.229-2.746-2.747c0-1.49,1.229-2.719,2.746-2.719
	C449.442,241.73,450.67,242.959,450.67,244.449z"/>
<path d="M419.497,251.878c0,0.912-0.735,1.665-1.647,1.665c-0.911,0-1.637-0.753-1.637-1.665c0-0.907,0.726-1.637,1.637-1.637
	C418.762,250.241,419.497,250.971,419.497,251.878z"/>
<path d="M436.41,256.211c0,0.91-0.743,1.664-1.654,1.664c-0.904,0-1.647-0.754-1.647-1.664s0.743-1.637,1.647-1.637
	C435.667,254.574,436.41,255.301,436.41,256.211z"/>
<path d="M428.899,246.177c0,1.822-1.47,3.301-3.29,3.301c-1.822,0-3.292-1.479-3.292-3.301c0-1.821,1.47-3.302,3.292-3.302
	C427.429,242.875,428.899,244.355,428.899,246.177z"/>
<path d="M433.109,244.727c0,0.911-0.726,1.665-1.636,1.665c-0.911,0-1.647-0.754-1.647-1.665c0-0.91,0.736-1.637,1.647-1.637
	C432.383,243.09,433.109,243.816,433.109,244.727z"/>
<path d="M465.116,208.997c0,0.91-0.726,1.664-1.638,1.664c-0.91,0-1.637-0.754-1.637-1.664s0.727-1.637,1.637-1.637
	C464.391,207.36,465.116,208.087,465.116,208.997z"/>
<path d="M481.997,209.794c0,0.91-0.753,1.637-1.664,1.637s-1.638-0.727-1.638-1.637s0.727-1.637,1.638-1.637
	S481.997,208.884,481.997,209.794z"/>
<path d="M487.091,201.329c0,0.917-0.727,1.647-1.637,1.647s-1.664-0.73-1.664-1.647c0-0.914,0.754-1.64,1.664-1.64
	S487.091,200.416,487.091,201.329z"/>
<path d="M487.091,206.798c0,0.91-0.727,1.663-1.637,1.663s-1.664-0.753-1.664-1.663s0.754-1.638,1.664-1.638
	S487.091,205.888,487.091,206.798z"/>
<path d="M423.704,478.607c0,0.91-0.737,1.664-1.647,1.664c-0.911,0-1.645-0.754-1.645-1.664c0-0.883,0.733-1.637,1.645-1.637
	C422.967,476.971,423.704,477.725,423.704,478.607z"/>
<path d="M423.788,275.973c0,0.91-0.727,1.638-1.638,1.638c-0.91,0-1.647-0.728-1.647-1.638s0.737-1.637,1.647-1.637
	C423.062,274.336,423.788,275.063,423.788,275.973z"/>
<path d="M423.8,269.492c0,1.82-1.47,3.301-3.285,3.301c-1.81,0-3.29-1.48-3.29-3.301c0-1.821,1.48-3.295,3.29-3.295
	C422.33,266.197,423.8,267.671,423.8,269.492z"/>
<path d="M427.973,272.793c0,0.91-0.732,1.637-1.644,1.637s-1.647-0.727-1.647-1.637s0.736-1.664,1.647-1.664
	S427.973,271.883,427.973,272.793z"/>
<path d="M433.109,278.04c0,1.793-1.47,3.273-3.283,3.273c-1.812,0-3.291-1.48-3.291-3.273c0-1.821,1.479-3.302,3.291-3.302
	C431.639,274.738,433.109,276.219,433.109,278.04z"/>
<path d="M437.184,281.272c0,0.91-0.736,1.637-1.646,1.637s-1.647-0.727-1.647-1.637s0.737-1.637,1.647-1.637
	S437.184,280.362,437.184,281.272z"/>
<path d="M399.347,338.518c0,0.91-0.741,1.664-1.651,1.664s-1.637-0.754-1.637-1.664s0.727-1.637,1.637-1.637
	S399.347,337.607,399.347,338.518z"/>
<path d="M405.709,343.247c0,1.793-1.479,3.273-3.291,3.273c-1.82,0-3.284-1.48-3.284-3.273c0-1.82,1.464-3.302,3.284-3.302
	C404.23,339.945,405.709,341.427,405.709,343.247z"/>
<path d="M394.45,339.434c0,3.644-2.946,6.602-6.575,6.602s-6.575-2.958-6.575-6.602c0-3.615,2.947-6.574,6.575-6.574
	S394.45,335.818,394.45,339.434z"/>
<path d="M387.343,322.385c0,3.036-2.458,5.493-5.493,5.493c-3.021,0-5.479-2.457-5.479-5.493c0-3.008,2.458-5.465,5.479-5.465
	C384.885,316.92,387.343,319.377,387.343,322.385z"/>
<path d="M398.219,343.247c0,0.907-0.739,1.637-1.65,1.637c-0.91,0-1.65-0.729-1.65-1.637c0-0.91,0.74-1.664,1.65-1.664
	C397.48,341.583,398.219,342.337,398.219,343.247z"/>
<path d="M410.091,343.63c0,0.91-0.735,1.637-1.636,1.637c-0.911,0-1.654-0.727-1.654-1.637s0.743-1.663,1.654-1.663
	C409.356,341.967,410.091,342.72,410.091,343.63z"/>
<path d="M384.916,314.368c0,0.884-0.74,1.637-1.65,1.637c-0.897,0-1.637-0.753-1.637-1.637c0-0.91,0.74-1.664,1.637-1.664
	C384.176,312.704,384.916,313.458,384.916,314.368z"/>
<path d="M382.574,332.58c0,1.822-1.479,3.301-3.287,3.301c-1.822,0-3.288-1.479-3.288-3.301c0-1.821,1.466-3.274,3.288-3.274
	C381.095,329.306,382.574,330.759,382.574,332.58z"/>
<path d="M387.058,330.114c0,0.91-0.74,1.664-1.651,1.664c-0.91,0-1.637-0.754-1.637-1.664c0-0.912,0.727-1.637,1.637-1.637
	C386.318,328.478,387.058,329.202,387.058,330.114z"/>
<path d="M380.286,313.618c0,1.82-1.467,3.302-3.288,3.302c-1.82,0-3.288-1.481-3.288-3.302s1.467-3.273,3.288-3.273
	C378.82,310.345,380.286,311.798,380.286,313.618z"/>
<path d="M378.021,307.684c0,0.91-0.739,1.638-1.65,1.638c-0.91,0-1.651-0.728-1.651-1.638s0.741-1.637,1.651-1.637
	C377.282,306.047,378.021,306.773,378.021,307.684z"/>
<path d="M370.008,319.281c0,0.91-0.74,1.664-1.65,1.664c-0.896,0-1.637-0.754-1.637-1.664c0-0.885,0.741-1.637,1.637-1.637
	C369.267,317.645,370.008,318.396,370.008,319.281z"/>
<path d="M376,319.281c0,0.91-0.74,1.664-1.651,1.664c-0.911,0-1.65-0.754-1.65-1.664c0-0.885,0.739-1.637,1.65-1.637
	C375.26,317.645,376,318.396,376,319.281z"/>
<path d="M380.286,339.072c0,0.912-0.74,1.639-1.637,1.639c-0.91,0-1.65-0.727-1.65-1.639c0-0.91,0.74-1.637,1.65-1.637
	C379.546,337.436,380.286,338.162,380.286,339.072z"/>
<path d="M381.628,345.12c0,1.793-1.479,3.274-3.288,3.274c-1.82,0-3.301-1.481-3.301-3.274c0-1.82,1.48-3.301,3.301-3.301
	C380.149,341.819,381.628,343.3,381.628,345.12z"/>
<path d="M376.363,336.881c0,1.82-1.48,3.301-3.288,3.301c-1.821,0-3.288-1.48-3.288-3.301s1.467-3.273,3.288-3.273
	C374.883,333.607,376.363,335.061,376.363,336.881z"/>
<path d="M376.223,327.114c0,3.008-2.458,5.466-5.479,5.466c-3.035,0-5.493-2.458-5.493-5.466c0-3.034,2.458-5.493,5.493-5.493
	C373.766,321.621,376.223,324.08,376.223,327.114z"/>
<path d="M366.304,321.621c0,0.912-0.74,1.637-1.637,1.637c-0.91,0-1.65-0.725-1.65-1.637c0-0.91,0.74-1.637,1.65-1.637
	C365.564,319.984,366.304,320.711,366.304,321.621z"/>
<path d="M366.304,316.92c0,0.91-0.74,1.637-1.637,1.637c-0.91,0-1.65-0.727-1.65-1.637c0-0.911,0.74-1.664,1.65-1.664
	C365.564,315.256,366.304,316.009,366.304,316.92z"/>
<path d="M385.862,308.152c0,1.794-1.466,3.274-3.288,3.274c-1.821,0-3.287-1.48-3.287-3.274c0-1.82,1.466-3.301,3.287-3.301
	C384.396,304.852,385.862,306.332,385.862,308.152z"/>
<path d="M386.566,302.488c0,0.91-0.74,1.664-1.65,1.664s-1.65-0.754-1.65-1.664s0.74-1.637,1.65-1.637
	S386.566,301.578,386.566,302.488z"/>
<path d="M436.677,467.555c0,0.911-0.732,1.638-1.643,1.638c-0.911,0-1.647-0.727-1.647-1.638c0-0.91,0.736-1.637,1.647-1.637
	C435.945,465.918,436.677,466.645,436.677,467.555z"/>
<path d="M436.113,479.717c0,0.91-0.743,1.637-1.647,1.637c-0.911,0-1.654-0.727-1.654-1.637s0.743-1.637,1.654-1.637
	C435.369,478.08,436.113,478.807,436.113,479.717z"/>
<path d="M414.927,473.132c0,0.91-0.734,1.637-1.645,1.637c-0.909,0-1.646-0.727-1.646-1.637s0.737-1.638,1.646-1.638
	C414.193,471.494,414.927,472.222,414.927,473.132z"/>
<path d="M267.716,358.075c0,1.822-1.467,3.301-3.288,3.301c-1.822,0-3.288-1.479-3.288-3.301c0-1.817,1.466-3.274,3.288-3.274
	C266.249,354.801,267.716,356.258,267.716,358.075z"/>
<path d="M272.515,355.76c0,0.913-0.74,1.638-1.637,1.638c-0.911,0-1.65-0.725-1.65-1.638c0-0.91,0.739-1.637,1.65-1.637
	C271.775,354.123,272.515,354.85,272.515,355.76z"/>
<path d="M271.728,360.339c0,0.888-0.741,1.637-1.651,1.637c-0.896,0-1.637-0.749-1.637-1.637c0-0.91,0.74-1.664,1.637-1.664
	C270.988,358.675,271.728,359.429,271.728,360.339z"/>
<path d="M280.261,356.398c0,1.821-1.478,3.301-3.288,3.301c-1.822,0-3.288-1.479-3.288-3.301c0-1.82,1.466-3.301,3.288-3.301
	C278.783,353.098,280.261,354.578,280.261,356.398z"/>
<path d="M284.825,355.289c0,0.91-0.727,1.665-1.637,1.665c-0.91,0-1.65-0.755-1.65-1.665s0.74-1.637,1.65-1.637
	C284.099,353.652,284.825,354.379,284.825,355.289z"/>
</svg>
