<div
  class="row applicationElement"
  [routerLink]="['/application/view', applicationForm.get('id').value]"
>
  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <h3>
      {{ applicationForm.get('title').value }}
    </h3>
  </div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 alignRight">
    <h3>
      {{ applicationForm.get('applicationType').value }}
    </h3>
  </div>
  <div class="col-12">
    <span>{{ applicationForm.get('date').value }}</span>
  </div>
</div>
