.applicationElement {
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid var(--mainSuperDark);
    background: var(--mainBackground);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    cursor: pointer;
    color: var(--mainFont);
  }
  
  .applicationElement:hover {
    background: var(--altBackground);
  }

  .alignRight {
    text-align: right;
  }
  
  @media only screen and (max-width: 768px) {
    .applicationElement {
      font-size: 50%;
  
      h3 {
        font-size: 200%;
      }
    }
  
  
  }