.scrollTopButton {
  color: var(--light);
  right: 50px;
  bottom: 40px;
  position: fixed;
  margin: 0 auto;
  width: 64px;
  box-shadow: 1px 1px 8px var(--mainSuperDark);
  z-index: 3;
}

.scrollTopButton:hover {
  background: var(--mainLight);
  color: var(--dark);
  box-shadow: 0 0 12px var(--mainLight);
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .scrollTopButton {
    opacity: 1;
    right: 16px;
    bottom: 40px;
  }
}
