<toolbar></toolbar>
<switched-leaflet-view-marker *ngIf="streetart" [layers]="streetartMarker" [marker]="streetart"></switched-leaflet-view-marker>
<div class="background">
  <div class="formWrapper">
    <streetart-form *ngIf="streetartForm" [streetartForm]="streetartForm"></streetart-form>
    <div class="row">
      <div class="col-12 center">
        <button class="button alt" routerLink="/graffmap">{{'back'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<footer></footer>