<toolbar></toolbar>
<switched-leaflet-view-marker *ngIf="shop" [layers]="shopMarker" [marker]="shop"></switched-leaflet-view-marker>
<div class="background">
  <div class="formWrapper">
    <shop-form *ngIf="shopForm" [shopForm]="shopForm"></shop-form>
    <div class="row">
      <div class="col-12 center">
        <button class="button alt" routerLink="/graffmap">{{'back'|translate}}</button>
      </div>
    </div>
  </div>
</div>
<footer></footer>