<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 max-width="100%" height="100%" viewBox="200 -200 400 800" enable-background="new 200 -200 400 800" xml:space="preserve">
<g id="outline">
	<path stroke-width="0.5" stroke-miterlimit="10" d="M391.379,363.579c0,0,5.48,1.554,15.537,1.11l-12.804,10.681
		C394.111,375.37,392.28,371.623,391.379,363.579z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M463.883,81.496c-9.146-6.942-21.515-4.33-21.515-4.33
		l-11.605,1.179l44.509,54.153C474.994,85.475,463.883,81.496,463.883,81.496z M455.178,100.352
		c3.427,3.226,3.302,8.565,3.302,8.565l-10.432-12.949C452.308,97.709,451.752,97.127,455.178,100.352z"/>
	<path fill="none" stroke-width="0.5" stroke-miterlimit="10" d="M410.083,262.042l-3.29-2.685
		c0,0-11.032,2.219-20.832,3.239l7.532,0.895l0.756,0.805L410.083,262.042z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M410.742,483.121l5.121,13.344
		c36.187,17.006,56.105,30.156,56.105,30.156l4.023-33.818l-19.195-25.773h-14.612v-5.297l-10.575-27.494l-14.223,9.88l-0.111-4.262
		l-18.365-23.581c-3.704-0.957-6.298-2.191-6.298-2.191c7.117-12.346,19.188-20.585,19.188-20.585l6.309,0.152l6.162,15.619
		l5.764,1.789l-2.061,4.786l10.557,25.647l21.927,2.872l10.708-62.781l-9.321-4.106l6.978-18.518l-4.508-3.149
		c-3.427-7.962-5.493-11.235-5.493-11.235l8.26,1.082c3.018-3.273,17.638-10.681,17.638-10.681c20.987,0,31.82,12.345,31.82,12.345
		l10.681-8.919c-18.088-23.304-40.56-48.396-40.56-48.396c-15.494-15.064-32.583-40.756-32.583-40.756l16.896-5.493l-6.13-19.197
		l7.239-1.802l49.992-31.363l-4.771-7.032l0.832-20.475c-21.306-13.621-21.535-85.204-21.535-85.204
		c1.021-46.885-41.995-32.604-41.995-32.604c-28.131,9.418-47.688,10.875-47.688,10.875l21.832-30.974
		c17.089-24.58,40.074-30.372,40.074-30.372l20.37-25.356l-0.555-22.624l6.726-3.904l2.192-42.362
		C475.23-85.238,443.468-70.34,443.468-70.34L424.27-87.346c-7.674,10.417-16.441,18.464-16.441,18.464l5.206-15.813l-23.648-15.078
		c-12.962,35.455-39.138,68.082-39.138,68.082l-3.842,32.899l5.659,3.662l18.74-18.74l-1.373,4.3l5.298,5.021l15.91-9.044
		l-3.106,7.414c-0.916,39.838-13.164,53.917-13.164,53.917l-2.012,17.006l-0.36-11.887c-47.897-6.395-73.116-42.584-73.116-42.584
		c-12.068,1.276-19.559,0-19.559,0v4.564l-3.661-8.226c-12.79,10.417-24.123,15.175-24.123,15.175l13.524,40.573
		c19.558,23.762,22.486,66.542,22.486,66.542l9.141-1.47l0.916-24.122l0.915,25.218l10.417,3.662
		c14.065-9.141,45.692-19.739,45.692-19.739l-1.65,18.269l3.662,1.47c-29.241,29.795-85.184,25.592-85.184,25.592l-0.719,13.525
		l16.812,40.754c20.099,4.217,27.784,12.79,27.784,12.79l22.111-22.277l41.128-56.678l1.277,1.276l-33.805,50.997l3.649,4.564
		l-29.241,31.985c8.767,6.048,6.394,21.39,6.394,21.39l23.762,6.021l-10.972,10.071c11.332,3.66,14.633,6.935,14.633,6.935h-3.301
		l-4.01,16.285l-27.062-29.99c-16.993,5.659-28.325,1.277-28.325,1.277l-30.53,48.076l1.275,1.833l-3.107,5.465l2.206,17.754
		l-7.13,13.705l5.299,16.451l43.501-15.176v-5.854l10.417,1.471l2.012-6.048c12.429,4.577,19.918,6.769,19.918,6.769l-0.361,7.853
		l8.045,18.113c-14.994,9.487-13.706,29.242-13.706,29.242l2.733,12.788l-12.79,1.276l-1.277,42.585
		c14.62,31.461,44.596,32.541,44.596,32.541l12.429-25.218l2.191,4.556c7.31-0.366,8.767-0.894,8.767-0.894v6.741L410.742,483.121z
		 M472.678,493.316l-3.024,29.046l-51.545-28.366l-3.621-9.768L472.678,493.316z M468.203,383.221l-10.958,57.44l-15.907-2.255
		l19.396-58.398L468.203,383.221z M464.841,362.323l-20.558,50.374l-15.619-5.466l33.582-46.08L464.841,362.323z M452.412,206.473
		l-29.417,12.983l2.923,3.024c0,0-10.42-1.109-21.389-4.579l25.962-19.198l30.605-40.212c0,0-3.273,15.174-23.203,35.829
		l-18.373,16.896l2.376,3.938L452.412,206.473z M517.135,191.354l-46.721,28.782l-15.303-11.956l58.362-22.181L517.135,191.354z
		 M492.68-90.273l-1.109,32.167l-85.53,13.791l-0.68-3.873C405.361-48.188,465.673-74.363,492.68-90.273z M425.001-81.867
		l13.16,12.345l-55.287,30.337l-4.384-3.191C378.492-42.375,415.319-69.521,425.001-81.867z M352.983-30.779
		c0,0,21.569-24.121,38.201-63.141l16.913,11.694c0,0-2.334,9.64-51.271,53.917L352.983-30.779z M297.609,14.468
		c0,0,18.824,30.892,70.729,42.405v21.015c0,0-30.336,2.011-59.036,13.344l-10.779-1.831c0,0-4.023-53.002-13.718-74.017
		C284.806,15.384,289.564,15.384,297.609,14.468z M256.481,23.374c0,0,10.417-5.077,18.088-11.236c0,0,16.188,27.965,18.92,79.094
		l-4.799,0.958C288.69,92.189,282.531,61.755,256.481,23.374z M364.371,176.914l17.547-25.356c0,0,20.142,39.061,39.339,34.955
		c0,0,9.322-8.226,13.438-14.398c0,0-14.538-25.085-41.542-49.354l-57.856,77.041c0,0-39.2-23.845-61.408-29.338l0.586-10.109
		c0,0,68.548,7.001,104.974-47.322c0,0-7.448-6.986-22.069-16.682c0,0,24.122-28.146,24.122-27.604c0,0.555,0-8.586,0-8.586h6.395
		l-9.682-10.598c0,0,31.294-45.054,24.882-89.248l81.899-10.14l0.679,18.227c0,0-26.729,3.288-54.819,50.034l-28.377,40.989
		c0,0,25.631-2.33,40.713-6.991c0,0,54.024-25.496,50.848,34.955c0,0-0.527,58.134,20.585,78.289c0,0-0.66,16.735-0.66,16.811
		c0,0.063-70.596,19.323-70.596,19.323l-2.736-5.659c0,0,21.851-25.691,30.533-45.971l-6.13,4.842c0,0-30.618-41.171-59.675-66.942
		l2.736-5.618l-14.742,0.479c0,0,44.353,52.164,63.274,76.147l-27.008,35.913C429.621,195.002,394.388,232.44,364.371,176.914z
		 M387.162,152.278c15.269,15.078,29.341,30.808,29.341,30.808c-7.313,0.458-15.082-7.961-15.082-7.961
		C388.452,159.588,387.162,152.278,387.162,152.278z M361.07,261.765c3.301-28.367-14.662-49.757-14.662-49.757l6.77-6.172
		c84.892,28.519,108.237,20.154,108.237,20.154l4.536,16.451l-17.131,6.173c20.959,27.687,33.027,41.794,33.027,41.794
		c19.6,20.862,41.142,46.885,41.142,46.885l-6.603,4.938c-17.131-12.067-28.645-9.321-28.645-9.321
		c-32.902-61.395-62.646-79.357-62.646-79.357C390.269,261.084,361.07,261.765,361.07,261.765z M480.21,334.422
		c0,0-6.728,3.023-13.303,7.13c0,0-31.113-51.823-54.56-68.954l6.854-8.919C419.201,263.679,453.48,285.221,480.21,334.422z
		 M300.002,352.939l-38.521,13.705l-3.226-11.854l40.789-5.96L300.002,352.939z M310.835,346.981l-46.066-4.133l-2.608-19.171
		l49.354,20.003L310.835,346.981z M365.606,395.011l-8.78-1.83c4.383-22.472,6.831-36.005,6.831-36.005
		c-76.882-21.924-97.439-41.675-97.439-41.675l5.758-9.874c40.435,10.984,69.633-11.362,69.633-11.362
		c20.432,17.533,29.893,23.983,29.893,23.983l3.148-19.198l12.609,1.109l0.693,30.156c26.04,14.107,35.773,15.494,35.773,15.494
		l0.136,6.298l7.539-5.216c-19.742-41.794-51.549-69.48-51.549-69.48l12.207-11.389c48.941,41.392,69.037,91.855,69.037,91.855
		l-43.224,32.584l-7.788-0.389c-25.697,21.029-25.655,36.564-25.655,36.564l-43.5,19.753
		C335.075,417.316,365.606,395.011,365.606,395.011z M390.206,303.246c0,0,13.303,13.212,25.155,31.855l-12.811-10.404
		c0,0-5.417-1.172-11.664-5.152L390.206,303.246z M359.849,491.805c-25.772-2.47-38.256-28.117-38.256-28.117l54.694-28.645
		c2.066,6.575,6.992,8.517,6.992,8.517C372.042,470.692,359.849,491.805,359.849,491.805z M388.632,433.254
		c0,0,12.193,5.368,25.36,7.13l1.093,20.987c0,0-10.002,9.195-34.263,10.278L388.632,433.254z M388.355,474.118
		c19.654-1.062,50.033-10.681,50.033-10.681l-1.359,19.877l-48.674-5.09V474.118z"/>
</g>
</svg>
