.errorHeader {
  font-size: 100%;
  padding-bottom: 10px;
}

p {
  padding-bottom: 20px;
}

.mat-dialog-container {
  background: var(--mainBackground) !important;
  color: var(--mainFont);
  border-radius: 0;
  padding-bottom: 25px;
}

.button {
  width: 145px;
}

.dialogContainer {
  width: 350px;
}

@media only screen and (max-width: 768px) {
  .dialogContainer {
    width: auto;
  }
}