<div class="dialogContainer center">
  <h1 class="errorHeader"> {{'errorOccured' | translate }}</h1>
  <p> {{data.message}} </p>
  <button class="button main" mat-dialog-close>{{'snackOk' | translate}}</button>
</div>