<svg version="1.1" id="background" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 max-width="100%" max-height="100%" viewBox="0 0 800 400" enable-background="new 0 0 800 400" xml:space="preserve">
<rect x="189" y="129" width="104.677" height="26.5"/>
<rect x="245.5" y="108.125" width="38.5" height="6.875"/>
<rect x="217" y="160.5" width="39.5" height="5"/>
<rect x="189" y="171.5" width="57.125" height="13.25"/>
<rect x="223" y="180.5" width="41.75" height="12.5"/>
<rect x="102" y="180.5" width="62" height="15.583"/>
<rect x="84.5" y="152.5" width="57" height="10.5"/>
<rect x="48" y="165.5" width="47.5" height="3.5"/>
<rect x="148" y="111.563" width="35" height="5.938"/>
<rect x="59" y="184.75" width="36.5" height="3.542"/>
<rect x="87" y="205.5" width="61" height="7.675"/>
<rect x="113" y="165.5" width="44.07" height="15"/>
<rect x="62" y="193" width="45.336" height="7"/>
<rect x="281.5" y="120" width="46.794" height="11.407"/>
<rect x="168" y="131.407" width="45" height="5.093"/>
<rect x="347" y="91.5" width="48.5" height="7.5"/>
<rect x="364.708" y="108.125" width="63.292" height="12.104"/>
<rect x="347" y="129" width="72.5" height="20"/>
<rect x="390.5" y="139" width="65" height="16.5"/>
<rect x="409.5" y="157.75" width="37.005" height="5.25"/>
<rect x="455.5" y="117.5" width="74.334" height="5.5"/>
<rect x="488" y="136.5" width="92.5" height="26.5"/>
<rect x="567" y="155.5" width="50" height="11.75"/>
<rect x="544.5" y="125.704" width="28.5" height="3.296"/>
<rect x="599.5" y="136.5" width="41" height="5.75"/>
<rect x="453" y="101.5" width="45" height="3.5"/>
<rect x="317" y="209.338" width="98.5" height="15.578"/>
<rect x="464.5" y="217.833" width="87" height="8.104"/>
<rect x="629" y="205.5" width="79" height="19.416"/>
<rect x="624.167" y="175.792" width="64.833" height="8.958"/>
<rect x="674.5" y="188.292" width="61" height="4.708"/>
<rect x="692" y="221.885" width="52" height="7.115"/>
<rect x="650.5" y="232" width="50" height="4.938"/>
<rect x="585.5" y="245.5" width="90" height="21"/>
<rect x="534.25" y="291.5" width="78.75" height="15"/>
<rect x="580.5" y="312.5" width="57.5" height="6.5"/>
<rect x="630.5" y="275.5" width="38" height="4.5"/>
<rect x="668.5" y="249" width="23.5" height="5"/>
<rect x="554.5" y="193" width="58.5" height="20.175"/>
<rect x="569.5" y="209.338" width="39.75" height="12.547"/>
<rect x="647" y="196.083" width="42" height="9.417"/>
<rect x="48" y="217.127" width="65" height="11.873"/>
<rect x="107.336" y="243" width="69.664" height="18.5"/>
<rect x="75.5" y="249" width="31.836" height="5"/>
<rect x="205.5" y="245.5" width="76" height="21"/>
<rect x="157.07" y="286.5" width="75.93" height="12.5"/>
<rect x="177" y="270.385" width="52" height="5.115"/>
<rect x="213" y="203.088" width="55.229" height="14.039"/>
<rect x="133" y="270.385" width="32.5" height="5.115"/>
<rect x="19.5" y="223.063" width="65.168" height="8.937"/>
<rect x="297" y="277.75" width="38.272" height="6.271"/>
<rect x="297" y="291.5" width="27" height="3.5"/>
<rect x="291.5" y="261.5" width="48" height="14"/>
<rect x="185.5" y="312.5" width="71" height="6.668"/>
<rect x="138" y="302.5" width="30" height="4"/>
<rect x="331.5" y="251.5" width="91.5" height="29.385"/>
<rect x="428" y="286.5" width="51" height="12.5"/>
<rect x="439.313" y="271.325" width="36.188" height="8.675"/>
<rect x="508" y="286.5" width="19" height="5"/>
<rect x="535.209" y="272.942" width="23.541" height="7.058"/>
<rect x="498" y="306.5" width="39" height="6"/>
<rect x="503.811" y="324.234" width="60.689" height="4.766"/>
<rect x="315.509" y="316.667" width="91.491" height="15.833"/>
<rect x="419.5" y="309.5" width="49.5" height="3"/>
<rect x="428" y="324.584" width="39" height="7.916"/>
<rect x="268.229" y="342.5" width="25.448" height="6"/>
<rect x="315.5" y="342.5" width="38.5" height="3"/>
<rect x="385.5" y="295" width="34" height="7.5"/>
<rect x="388" y="306.5" width="21.5" height="3"/>
<rect x="315.5" y="292.75" width="42.5" height="6.25"/>
<rect x="310.5" y="304.5" width="21" height="5"/>
<rect x="199" y="277.75" width="47.125" height="15"/>
<rect x="80.5" y="272.942" width="46" height="7.058"/>
<rect x="361.254" y="190.646" width="41.246" height="5.854"/>
<rect x="342.743" y="173" width="31.257" height="7.271"/>
<rect x="354" y="183" width="14.938" height="5.292"/>
<rect x="634.334" y="242.167" width="29.5" height="4.666"/>
<rect x="653" y="284.021" width="33.333" height="7.479"/>
<rect x="526.333" y="314.333" width="25.167" height="6.5"/>
<rect x="522.5" y="296" width="16.416" height="2.75"/>
<rect x="143.5" y="277.75" width="30" height="4.75"/>
<rect x="515.625" y="131.407" width="38.875" height="7.593"/>
</svg>
