<mat-card>
  <mat-card-header>
    <mat-card-title>{{ "contactTitle" | translate }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-12">
        <switched-input
          [placeholder]="'playerEmail'|translate"
          [control]="contactForm.get('email')"
        ></switched-input>
        <switched-select
          [placeholder]="'foundBy'|translate"
          [control]="contactForm.get('foundBy')"
          [options]="selectOptions"
        ></switched-select>
        <switched-input
          [placeholder]="'subject'|translate"
          [control]="contactForm.get('subject')"
        ></switched-input>
        <switched-textarea
          [minRows]="5"
          [maxRows]="50"
          [placeholder]="'message'|translate"
          [control]="contactForm.get('message')"
        ></switched-textarea>
      </div>
    </div>
    <div class="center">
      <button
        class="button main"
        [disabled]="created ? true : null"
        (click)="submitContactRequest()"
      >
        {{ "submit" | translate }}
      </button>
    </div>
    <div class="agreeTerms">
      <input type="checkbox" id="terms" name="terms" value="terms" [(ngModel)]="isChecked"/>
      <label for="terms">
        Do you agree to the terms and conditions of using our services?</label
      ><br />
    </div>
  </mat-card-content>
</mat-card>
