mat-card {
  margin: 8vh auto;
  max-width: 100%;
  padding: 5% 5%;
  background: var(--mainBackground) !important;
  color: var(--mainFont);
}

mat-card-title {
  font-size: 150% !important;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin-bottom: 20px !important;
  margin-left: 15px !important;
}

mat-form-field {
  width: 100%;
}

mat-card-content {
  padding: 0 auto;
}

.button {
  margin-top: 20px !important;
  letter-spacing: 1px;
  word-spacing: 1px;
  width: 175px;
}

.agreeTerms {
  position: absolute;
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  mat-card {
    margin: 1rem auto;
  }
}