<mat-toolbar>
  <h1> {{ 'gallery' | translate }}</h1>
  <span class="spacer"></span>
  <donate-button></donate-button>

  <div>
    <a class="downloadDesktop button alt"
      href="https://drive.google.com/drive/folders/1ED7zf-1X7g0OsO-9OjVJX7G6MPUpDVoi?usp=sharing" target="_blank">
      <i class="material-icons">get_app</i>
      <span>{{'download'| translate}}</span>
    </a>
    <a class="button alt downloadMobile"
      href="https://drive.google.com/drive/folders/1ED7zf-1X7g0OsO-9OjVJX7G6MPUpDVoi?usp=sharing" target="_blank"><i
        class="material-icons">get_app</i></a>
  </div>
</mat-toolbar>