mat-toolbar {
  margin: 1rem auto 0 auto;
  max-width: 1440px;
  background: var(--mainBackground);
  padding: 20px;
  height: auto;
  color: var(--mainFont);
}

h1 {
  font-size: 200%;
  margin: 2% auto;
  color: var(--mainFont);
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 100;
}

.spacer {
  height: 55px;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.material-icons {
  position: relative;
  top: 3px;
  font-size: 125%;
}

span {
  position: relative;
  bottom: 7px;
}

a {
  text-decoration: none;
}

.downloadMobile {
  display: none;
}

.downloadDesktop {
  display: block;
}

@media only screen and (max-width: 768px) {
  mat-toolbar {
    margin: 0;
  }

  h1 {
    display: none;
  }

  .spacer {
    display: none;
  }

  .downloadMobile {
    display: block;

    i {
      position: relative;
      top: 3px;
    }
  }

  .downloadDesktop {
    display: none;
  }
}
