.loginPage {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

toolbar {
  width: 100%;
}

footer {
  width: 100%;
}

@media only screen and (max-width: 768px) {
}
