.imagePreview {
  text-align: center;
  max-width: 100%;
  height: 100%;
}

.imagePreview img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 1rem;
}

.profileImage {
  text-align: center;
  height: 100%;
  max-height: 450px;
  cursor: pointer;
}

.profileImage img {
  max-width: 100%;
  max-height: 100%;
}

.uploadBox {
  border: 1px var(--main) dashed;
  cursor: pointer;
  height: 100%;
  width: 100%;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 150%;
  color: var(--main);
}

input[type='file'] {
  visibility: hidden;
  display: none;
}

i {
  position: relative;
  top: 3px;
  font-size: 150%;
}

span {
  position: relative;
  bottom: 4px;
  font-size: 150%;
}

@media only screen and (max-width: 768px) {
  i {
    top: 3px;
  }
}
