<div
  class="uploadBox"
  (click)="filePicker.click()"
  *ngIf="
    !userForm.get('reported').value &&
    !imagePreview &&
    !userForm.get('imagePath').value &&
    userForm.get('id').value === userId
  "
  matTooltip="{{ 'uploadProfileImage' | translate }}"
  matTooltipPosition="below"
>
  <div class="text">
    {{ 'upload' | translate }}
  </div>
  <input type="file" #filePicker (change)="onImagePicked($event)" />
</div>

<div class="imagePreview" *ngIf="imagePreview !== '' && imagePreview">
  <img [src]="imagePreview" [alt]="userForm.value.title" />
  <div class="center">
    <button class="button main" (click)="emitUploadClicked()">
      <i class="material-icons">add</i>
      <span>{{ 'upload' | translate }}</span>
    </button>
  </div>
</div>

<div
  class="profileImage"
  *ngIf="
    userForm.get('imagePath').value &&
    !imagePreview &&
    userForm.get('id').value === userId
  "
  (click)="filePicker.click()"
  matTooltip="{{ 'uploadProfileImage' | translate }}"
  matTooltipPosition="below"
>
  <img [src]="userForm.get('imagePath').value" [alt]="userForm.value.title" />
  <input type="file" #filePicker (change)="onImagePicked($event)" />
</div>

<div
  *ngIf="userForm.get('id').value !== userId && userForm.get('imagePath').value"
  class="profileImage"
>
  <img
    [src]="userForm.get('imagePath').value"
    [alt]="userForm.get('username').value"
  />
</div>
