<scroll-indicator></scroll-indicator>
<toolbar></toolbar>
<mat-card class="outerCard">
  <mat-card-header>
    <mat-card-title> {{ 'faq' | translate }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="faqHeader">{{ 'faq1Header' | translate }}</p>
    <p class="faqText">{{ 'faq1Text' | translate }}</p>
    <p class="faqHeader">{{ 'faq5Header' | translate }}</p>
    <p class="faqText"><a class="fiehra" routerLink="/developer">{{'fiehra' | translate}}</a></p>
    <p class="faqHeader">{{ 'faq2Header' | translate }}</p>
    <p class="faqText">{{ 'faq2Text' | translate }}<a routerLink="/contact">{{ 'contactUs' | translate }}</a></p>
    <p class="faqHeader">{{ 'faq3Header' | translate }}</p>
    <p class="faqText">{{ 'faq3Text' | translate }}</p>
    <p class="faqHeader">{{ 'faq4Header' | translate }}</p>
    <p class="faqText">{{ 'faq4Text' | translate }}<a href="https://youtu.be/bqnfJzNnkzQ?t=7145" target="_blank">{{'checkThis' | translate}}</a></p>
  </mat-card-content>
</mat-card>
<scroll-top></scroll-top>
<footer></footer>