mat-card {
  margin: 8vh auto;
  max-width: 1440px;
  padding: 4% 4%;
  background: var(--mainBackground) !important;
  color: var(--mainFont);
}

mat-card-title {
  font-size: 200% !important;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin-bottom: 2rem !important;
}

.faqHeader {
  color: var(--main);
  margin: 0;
  text-align: left;
}

.faqText {
  margin-bottom: 15px;
}

p {
  text-align: justify;
  font-size: 1rem;
  letter-spacing: 1px;
  word-spacing: 1px;
}

a {
  text-decoration: none;
  color: var(--main);
  transition: 0.2s;
}

a:hover {
  color: var(--mainDark);
}

.fiehra {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  mat-card {
    margin: 0 auto;
  }

  mat-card-title {
    margin-bottom: 1rem !important;
  }

  p {
    font-size: 125%;
  }

}