.flexbox {
  display: flex;
  min-height: 73vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-card {
  max-width: 900px;
  background: var(--mainBackground) !important;
  color: var(--mainFont);
}

button {
  margin: 20px auto;
}

.outerCard {
  margin: 1rem auto;
  padding: 3% 3%;
}

@media only screen and (max-width: 768px) {
  .outerCard {
    margin: 0;
  }
}
