<toolbar></toolbar>
<div class="flexbox">
  <mat-card class="outerCard">
    <application-form *ngIf="applicationForm" [applicationForm]="applicationForm"></application-form>
    <div class="row">
      <div class="col-12 center">
        <button class="button main" *ngIf="!created" (click)="submitApplication()">{{'submit'|translate}}</button>
        <button class="button alt" *ngIf="created" routerLink="/workshops">{{'home'|translate}}</button>
      </div>
    </div>
  </mat-card>
</div>
<scroll-top></scroll-top>
<footer></footer>