<toolbar></toolbar>
<div class="row">
  <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0"></div>
  <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
    <create-forum-post-form (createClicked)="createForumPost()" [forumPostForm]="forumPostForm"></create-forum-post-form>
  </div>
  <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0"></div>
</div>
<footer></footer>