.challengePage {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

mat-card {
  color: var(--mainFont);
}

.outerCard {
  margin: 1rem auto;
  width: 100%;
  max-width: 900px;
  background: var(--mainBackground);
  box-shadow: none !important;
}

toolbar {
  width: 100%;
}

footer {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .outerCard {
    margin: 0;
  }
}
