<div class="challengePage">
  <toolbar></toolbar>
  <mat-card class="outerCard">
    <challenge-stats></challenge-stats>
    <challenge-list></challenge-list>
  </mat-card>

  <footer></footer>
</div>
