<div class="section center">
  <h2>{{'forumSection'|translate}}</h2>
  <p class="forumText">{{'forumSectionText'|translate}}</p>
  <button class="button main forumButton" routerLink="/viewForumList">{{'viewForum'|translate}}</button>
</div>