.applicationFormHeader {
  margin: 0;
}

.center {
  margin: 25px auto;
}

.applicationTitle {
  padding-left: 15px;
  font-size: 200%;
}

p {
  margin-left: 1em;
}

@media only screen and (max-width: 768px) {
  .outerCard {
    margin: 0 auto;
  }

  .applicationTitle {
    display: none;
  }

}

