  <div class="applicationForm">
    <p>{{'applicationForm'|translate}}</p>
    <div class="row">
      <div class="col-12 col-sm-12 col-xl-6 col-md-6 col-lg-6">
        <switched-select [placeholder]="'applicationType'|translate" [control]="applicationForm.get('applicationType')" [options]="selectOptions"></switched-select>
      </div>
      <div class="col-12 col-sm-12 col-xl-6 col-md-6 col-lg-6">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="applicationFormHeader">{{'contactInformation'|translate}}</p>
      </div>
      <div class="col-12 col-sm-12 col-xl-6 col-md-6 col-lg-6">
        <switched-input [placeholder]="'name'|translate" [control]="applicationForm.get('name')"></switched-input>
        <switched-input [placeholder]="'phonenumber'|translate" [control]="applicationForm.get('phonenumber')"></switched-input>
      </div>
      <div class="col-12 col-sm-12 col-xl-6 col-md-6 col-lg-6">
        <switched-input [placeholder]="'playerEmail'|translate" [control]="applicationForm.get('email')"></switched-input>
        <switched-input [placeholder]="'company'|translate" [control]="applicationForm.get('company')"></switched-input>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="applicationFormHeader">{{'eventInformation'|translate}}</p>
      </div>
      <div class="col-12 col-sm-12 col-xl-6 col-md-6 col-lg-6">
        <switched-input [placeholder]="'title'|translate" [control]="applicationForm.get('title')"></switched-input>
      </div>
      <div class="col-12 col-sm-12 col-xl-6 col-md-6 col-lg-6">
        <switched-datepicker [placeholder]="'dateLabel'|translate" [control]="applicationForm.get('date')"></switched-datepicker>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <switched-textarea [minRows]="5" [placeholder]="'description'|translate" [control]="applicationForm.get('description')"></switched-textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-xl-6 col-md-6 col-lg-6">
        <switched-input [placeholder]="'location'|translate" [control]="applicationForm.get('location')"></switched-input>
      </div>
      <div class="col-12 col-sm-12 col-xl-6 col-md-6 col-lg-6">
        <switched-input [placeholder]="'budget'|translate" [control]="applicationForm.get('budget')"></switched-input>
      </div>
    </div>
  </div>