.toolbarButton {
  padding: 0 10px;
  height: 55px;
  background: var(--main);
  border: none;
  transition: 0.2s;
  cursor: pointer;

  .material-icons {
    cursor: pointer;
    position: relative;
    top: 3px;
    font-size: 225%;
  }
}

.toolbarButton:hover,
.toolbarButton:active {
  background: var(--mainSuperDark);
  color: var(--light);
}

.floatingMenuButton {
  height: 53px;
  width: 64px;
  padding: 0 10px;
  background: var(--mainDark);
  color: var(--light);
  box-shadow: 1px 1px 8px var(--mainSuperDark);
  border: none;
  transition: 0.2s;
  cursor: pointer;

  .material-icons {
    cursor: pointer;
    position: relative;
    top: 3px;
  }
}

.floatingMenuButton:hover,
.floatingMenuButton:active {
  opacity: 1;
  box-shadow: 0 0 12px var(--mainLight);
  background: var(--mainLight);
  color: var(--dark);
}
// pageoverlay ----------------------------------------q------------------------------------------
#page-overlay {
  visibility: hidden;
  opacity: 1;
  position: fixed;
  transform: translateX(0px);
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000bb;
}

.icon-spraycan {
  width: 24px;
  text-align: center;
}

// matmenuitems ----------------------------------------------------------------------------------
button.mat-menu-item {
  .material-icons {
    position: relative;
    top: 4px;
    right: 5px;
  }

  min-width: 200px;
  background: var(--main);
  color: var(--dark) !important;
  font-size: 100%;
  transition: 0.2s !important;
  -webkit-transition: 0.2s !important;
  -moz-transition: 0.2s !important;
  -ms-transition: 0.2s !important;
  -o-transition: 0.2s !important;
}

button.mat-menu-item:hover,
button.mat-menu-item:active {
  background: var(--mainSuperDark);
  color: var(--light) !important;
}
