<button [matMenuTriggerFor]="mainMenu" *ngIf="!showFloatingMenu" class="toolbarButton">
  <i class="material-icons">menu</i>
</button>
<button [matMenuTriggerFor]="mainMenu" *ngIf="showFloatingMenu" class="floatingMenuButton">
  <i class="material-icons">menu</i>
</button>

<mat-menu #mainMenu="matMenu">
  <button mat-menu-item *ngIf="!loggedIn" routerLink="/login">
    <i class="icon-spraycan material-icons"></i>{{ 'login' | translate }}
  </button>
  <button mat-menu-item *ngIf="loggedIn" (click)="routeToMyProfile()">
    <i class="material-icons">person</i>{{ username }}
  </button>
  <button mat-menu-item *ngIf="loggedIn" (click)="logout()">
    <i class="material-icons">exit_to_app</i>{{ 'logout' | translate }}
  </button>
  <button mat-menu-item *ngIf="loggedIn && userRole === 'fiehra'" routerLink="/application/list">
    <i class="material-icons">bubble_chart</i>{{ 'applications' | translate }}
  </button>
  <button mat-menu-item *ngIf="loggedIn && userRole === 'fiehra'" routerLink="/challengeOverview">
    <i class="material-icons">timer</i>{{ 'challenge' | translate }}
  </button>
  <button mat-menu-item *ngIf="!loggedIn" routerLink="/signup">
    <i class="material-icons">person_add</i>{{ 'signup' | translate }}
  </button>
  <button mat-menu-item [matMenuTriggerFor]="learnMenu">
    <i class="material-icons">school</i>{{ 'learn' | translate }}
  </button>
  <button mat-menu-item routerLink="/graffmap">
    <i class="material-icons">map</i>{{ 'map' | translate }}
  </button>
  <button mat-menu-item routerLink="/combo">
    <i class="material-icons">color_lens</i>{{ 'colorcombo' | translate }}
  </button>
  <button mat-menu-item routerLink="/viewForumList">
    <i class="material-icons">forum</i>{{ 'viewForum' | translate }}
  </button>
  <button mat-menu-item routerLink="/gallery">
    <i class="material-icons">panorama</i>{{ 'gallery' | translate }}
  </button>
  <button mat-menu-item [matMenuTriggerFor]="languageMenu">
    <i class="material-icons">public</i>{{ currentLanguage }}
  </button>
  <button mat-menu-item [matMenuTriggerFor]="themeMenu">
    <i class="material-icons">tune</i>{{ 'theme' | translate }}
  </button>
</mat-menu>

<mat-menu #languageMenu="matMenu">
  <language-menu (currentLangChanged)="setCurrentLang($event)"></language-menu>
</mat-menu>

<mat-menu #themeMenu="matMenu">
  <theme-menu></theme-menu>
</mat-menu>

<mat-menu #learnMenu="matMenu">
  <learn-menu></learn-menu>
</mat-menu>

<div class="page-overlay">
  <div id="page-overlay"></div>
</div>
