<button mat-menu-item (click)="updateTheme('red')">
  {{ 'redTheme' | translate }}
</button>
<button mat-menu-item (click)="updateTheme('green')">
  {{ 'greenTheme' | translate }}
</button>
<button mat-menu-item (click)="updateTheme('blue')">
  {{ 'blueTheme' | translate }}
</button>
<button mat-menu-item (click)="updateTheme('yellow')">
  {{ 'yellowTheme' | translate }}
</button>
<button mat-menu-item (click)="updateTheme('orange')">
  {{ 'orangeTheme' | translate }}
</button>
<button mat-menu-item (click)="updateTheme('purple')">
  {{ 'purpleTheme' | translate }}
</button>
<button mat-menu-item (click)="updateTheme('gray')">
  {{ 'grayTheme' | translate }}
</button>
<button mat-menu-item (click)="updateTheme('toxic')">
  {{ 'toxicTheme' | translate }}
</button>
<button mat-menu-item (click)="updateTheme('light')">
  {{ 'lightTheme' | translate }}
</button>
<button mat-menu-item (click)="updateTheme('pink')">
  {{ 'pinkTheme' | translate }}
</button>
