// matmenuitems ----------------------------------------------------------------------------------
button.mat-menu-item {
  min-width: 200px;
  background: var(--main);
  color: var(--dark) !important;
  font-size: 100%;
  transition: 0.2s !important;
}

button.mat-menu-item:hover,
button.mat-menu-item:active {
  background: var(--mainSuperDark);
  color: var(--light) !important;
}
