<div class="section">
  <div class="row imageRow">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
    <img src="/assets/img/privateWorkshop.jpg" alt="tarmacWorkshop"/>
  </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 hidariTe">
      <img src="/assets/img/tarmacWorkshop1.jpg" alt="tarmacWorkshop"/>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
      <img src="/assets/img/tarmacWorkshop3.jpg" alt="tarmacWorkshop"/>
    </div>
  </div>
</div>
