<toolbar></toolbar>
<post-toolbar
  *ngIf="forumPostForm"
  [forumPostForm]="forumPostForm"
  (commentClicked)="commenting()"
  (deleteClicked)="deleteTopic()"
  (saveClicked)="updateTopic($event)"
></post-toolbar>
<mat-card class="outerCard">
  <forum-view-post
    *ngIf="forumPostForm"
    (voteClicked)="updateVote($event)"
    [forumPostForm]="forumPostForm"
  ></forum-view-post>
</mat-card>
<mat-card *ngIf="forumPostForm && commentMode" class="outerCard">
  <add-comment
    (commentAddedClicked)="addComment($event)"
    [forumPostForm]="forumPostForm"
  ></add-comment>
</mat-card>
<mat-card
  *ngIf="
    forumPostForm && forumPostForm.get('comments').value.length > 0 && loggedIn
  "
  class="outerCard"
>
  <list-comment
    (deleteCommentClicked)="deleteComment($event)"
    *ngFor="let comment of forumPostForm.get('comments').value"
    [comment]="comment"
  ></list-comment>
</mat-card>

<footer></footer>
