<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" max-width="100%"
	 max-height="100%" viewBox="0 0 800 400" enable-background="new 0 0 800 400" xml:space="preserve">
<g id="outline">
	<path stroke-width="0.5" stroke-miterlimit="10" d="M529.834,232c0,0,1.417-5.001,1-14.167l9.75,11.667
		C540.584,229.5,537.167,231.167,529.834,232z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M272.625,165.875c-6.338,8.351-3.958,19.625-3.958,19.625
		l1.083,10.583l49.375-40.583C276.25,155.75,272.625,165.875,272.625,165.875z M289.813,173.813c2.938-3.125,7.813-3,7.813-3
		l-11.813,9.5C287.403,176.437,286.875,176.938,289.813,173.813z"/>
	<path fill="none"stroke-width="0.5" stroke-miterlimit="10" d="M437.25,214.938l-2.438,3c0,0,2,10.063,2.938,19
		l0.813-6.875l0.75-0.688L437.25,214.938z"/>
	<path stroke-width="0.5" stroke-miterlimit="10" d="M638.834,214.334l12.167-4.666
		c15.5-33,27.5-51.167,27.5-51.167l-30.834-3.667l-23.5,17.5v13.333h-4.833l-25.084,9.645l9.031,12.969l-3.906,0.094l-21.5,16.75
		c-0.875,3.375-2,5.75-2,5.75c-11.25-6.5-18.75-17.5-18.75-17.5l0.125-5.75L571.5,202l1.625-5.25l4.375,1.875L600.875,189l2.625-20
		l-57.25-9.75l-3.75,8.5l-16.875-6.375l-2.875,4.125c-7.25,3.125-10.25,5-10.25,5l1-7.521c-3-2.771-9.75-16.104-9.75-16.104
		c0-19.125,11.25-29,11.25-29l-8.125-9.75c-21.25,16.5-44.125,37-44.125,37c-13.75,14.125-37.168,29.708-37.168,29.708l-5-15.417
		l-17.5,5.583l-1.666-6.583l-28.583-45.583l-6.417,4.333l-18.667-0.75c-12.417,19.417-77.688,19.646-77.688,19.646
		c-42.75-0.938-29.729,38.271-29.729,38.271c8.583,25.667,9.917,43.5,9.917,43.5L222,197.917
		c-22.417-15.583-27.688-36.542-27.688-36.542l-23.125-18.563l-20.625,0.5L147,137.188l-38.625-2
		c12.208,20.354,25.792,49.313,25.792,49.313l-15.5,17.5c9.5,7,16.835,15,16.835,15l-14.417-4.75l-13.75,21.563
		c32.333,11.813,62.081,35.688,62.081,35.688l30,3.5l3.333-5.166l-17.083-17.084l3.917,1.25l4.583-4.833l-8.25-14.5l6.757,2.833
		c36.333,0.833,49.167,12,49.167,12l15.5,1.834l-10.833,0.333c-5.833,43.667-38.833,66.667-38.833,66.667
		c1.167,11,0,17.834,0,17.834h4.167l-7.5,3.333c9.5,11.667,13.833,22,13.833,22l37-12.333
		c21.667-17.833,60.668-20.501,60.668-20.501l-1.333-8.333l-22-0.834l23-0.833l3.333-9.5c-8.333-12.833-18-41.667-18-41.667
		l16.667,1.5l1.333-3.333c27.167,26.667,23.333,77.667,23.333,77.667L354.509,342l37.167-15.333
		c3.833-18.333,11.667-25.333,11.667-25.333l-20.333-20.167l-51.667-37.5l1.167-1.167l46.492,30.834l4.167-3.334l29.166,26.667
		c5.5-8,19.5-5.833,19.5-5.833l5.5-21.667l9.167,10c3.333-10.333,6.333-13.333,6.333-13.333v3l14.834,3.667l-27.334,24.667
		c5.166,15.5,1.167,25.833,1.167,25.833l43.833,27.833l1.667-1.166l5,2.833l16.167-2l12.5,6.5l15-4.833L521.834,312.5h-5.333
		l1.333-9.5l-5.5-1.834C516.5,289.832,518.501,283,518.501,283l7.167,0.333L542.167,276c8.666,13.666,26.667,12.5,26.667,12.5
		l11.667-2.5l1.166,11.667l38.834,1.167c28.667-13.333,29.666-40.667,29.666-40.667l-23-11.333l4.167-2
		c-0.333-6.666-0.833-8-0.833-8h6.166L638.834,214.334z M648.125,157.875l26.5,2.75l-25.875,47l-8.917,3.292L648.125,157.875z
		 M547.75,161.938l52.375,10l-2.063,14.5l-53.25-17.688L547.75,161.938z M528.688,165l45.938,18.75l-5,14.25l-42-30.625L528.688,165
		z M386.583,176.333l11.833,26.833l2.75-2.667c0,0-1,9.5-4.167,19.5l-17.5-23.667l-36.667-27.917c0,0,13.833,3,32.667,21.167
		l15.417,16.75l3.583-2.167L386.583,176.333z M372.792,117.333l26.25,42.586l-10.917,13.961l-20.208-53.214L372.792,117.333z
		 M116,139.625l29.333,1l12.573,78l-3.531,0.625C154.375,219.25,130.5,164.25,116,139.625z M123.667,201.334l11.25-12l27.667,50.417
		l-2.917,4C159.667,243.75,134.917,210.168,123.667,201.334z M170.25,267c0,0-21.999-19.666-57.582-34.833l10.667-15.417
		c0,0,8.791,2.125,49.166,46.75L170.25,267z M211.5,317.5c0,0,28.167-17.167,38.667-64.5h19.167c0,0,1.833,27.666,12.167,53.833
		l-1.667,9.834c0,0-48.333,3.667-67.5,12.5C212.334,329.167,212.334,324.833,211.5,317.5z M219.625,355c0,0-4.625-9.5-10.25-16.5
		c0,0,25.501-14.75,72.125-17.25l0.875,4.375C282.375,325.625,254.625,331.25,219.625,355z M359.625,256.625l-23.125-16
		c0,0,35.625-18.375,31.875-35.875c0,0-7.5-8.5-13.125-12.25c0,0-22.875,13.25-45,37.875l70.25,52.75c0,0-21.75,35.75-26.75,56
		l-9.219-0.531c0,0,6.385-62.511-43.156-95.719c0,0-6.375,6.791-15.208,20.125c0,0-25.667-22-25.167-22s-7.833,0-7.833,0v-5.833
		L243.5,244c0,0-41.083-28.542-81.375-22.688l-9.25-74.688L169.5,146c0,0,3,24.375,45.625,50l37.375,25.875
		c0,0-2.125-23.375-6.375-37.125c0,0-23.25-49.25,31.875-46.375c0,0,53,0.5,71.375-18.75c0,0,15.271,0.604,15.333,0.604
		s17.625,64.354,17.625,64.354l-5.167,2.5c0,0-23.417-19.917-41.917-27.833l4.417,5.583c0,0-37.542,27.917-61.042,54.417l-5.125-2.5
		l0.438,13.438c0,0,47.563-40.438,69.438-57.688l32.75,24.625C376.125,197.125,410.25,229.25,359.625,256.625z M337.167,235.833
		c13.75-13.917,28.083-26.75,28.083-26.75c0.417,6.666-7.25,13.75-7.25,13.75C343.833,234.666,337.167,235.833,337.167,235.833z
		 M437,259.625c-25.875-3-45.375,13.375-45.375,13.375L386,266.833c26-77.417,18.375-98.708,18.375-98.708l15-4.125L425,179.625
		c25.25-19.125,38.125-30.125,38.125-30.125c19-17.875,42.75-37.5,42.75-37.5l4.5,6c-11,15.625-8.5,26.125-8.5,26.125
		c-56,30-72.375,57.125-72.375,57.125C436.375,233,437,259.625,437,259.625z M503.25,151c0,0,2.75,6.125,6.5,12.125
		c0,0-47.25,28.375-62.875,49.75l-8.125-6.25C438.75,206.625,458.375,175.375,503.25,151z M520.125,315.313l12.5,35.125
		l-10.813,2.938l-5.438-37.188L520.125,315.313z M514.688,305.438l-3.75,42l-17.5,2.375l18.25-45L514.688,305.438z M558.501,255.5
		l-1.667,8c-20.5-4-32.834-6.229-32.834-6.229c-20.001,70.105-38,88.854-38,88.854l-9-5.25c10-36.875-10.375-63.5-10.375-63.5
		c16-18.625,21.875-27.25,21.875-27.25L471,247.25l1-11.5l27.5-0.625c12.875-23.75,14.125-32.625,14.125-32.625l5.75-0.125
		l-4.75-6.875c-38.125,18-63.375,47-63.375,47l-10.375-11.125c37.75-44.625,83.75-62.958,83.75-62.958l29.709,39.417l-0.333,7.104
		c19.167,23.438,33.333,23.396,33.333,23.396l18,39.667C578.834,283.333,558.501,255.5,558.501,255.5z M474.813,233.063
		c0,0,12.063-12.125,29.063-22.938l-9.5,11.688c0,0-1.063,4.938-4.688,10.625L474.813,233.063z M646.75,260.75
		c-2.25,23.5-25.625,34.875-25.625,34.875L595,245.75c6-1.875,7.75-6.375,7.75-6.375C627.5,249.625,646.75,260.75,646.75,260.75z
		 M593.375,234.5c0,0,4.875-11.125,6.5-23.125l19.125-1c0,0,8.375,9.125,9.375,31.25L593.375,234.5z M630.625,234.75
		c-0.979-17.919-9.75-45.625-9.75-45.625l18.125,1.25l-4.625,44.375H630.625z"/>
</g>
</svg>
