.row {
  box-sizing: border-box;
  height: calc(100vh - 55px);
  overflow: hidden;
}

h1 {
  margin-top: 25vh;
  margin-bottom: 5vh;
  color: var(--light);
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 500%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

button {
  font-size: 150%;
  margin-bottom: 2rem;
}

.outline {
  margin-top: 1.5rem;
}

h1:hover {
  text-shadow: 0 0 15px var(--main);
  color: var(--mainLight);
  cursor: default;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 300%;
  }
}
