<div class="row">
  <div class="col-12 center">
    <h1>
      {{ 'headerText' | translate }}
    </h1>
    <button class="button main" (click)="showMoreScroll()">
      {{ 'showMoreButton' | translate }}</button
    ><br />
    <button class="button outline" *ngIf="!loggedIn" routerLink="/login">
      {{ 'login' | translate }}
    </button>
    <button class="button outline" *ngIf="loggedIn" (click)="routeToMyProfile()">
      {{ username }}
    </button>
  </div>
</div>
