<div class="page">
  <toolbar></toolbar>
  <div class="flexbox">
    <mat-card>
      <mat-card-header>
        <mat-card-title> {{ 'logoutMessage' | translate }} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ 'logoutlogin' | translate }}
          <a routerLink="/login"> {{ 'logInNow' | translate }} </a>
        </p>
        <p>
          {{ 'routeHome' | translate }}
          <a routerLink="/home"> {{ 'home' | translate }} </a>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <footer></footer>
</div>
