.page {
  height: 100%;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 0;
  min-height: calc(100vh - 55px);
}

mat-card {
  // margin: 15vh auto;
  max-width: 550px;
  padding: 4%;
  background: var(--mainBackground) !important;
  color: var(--mainFont);
}

mat-card-title {
  font-size: 150% !important;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin-bottom: 50px!important;
}

p {
  font-size: 125%;
}

a {
  text-decoration: none;
  color: var(--main);
  transition: 0.2s;
}

a:hover {
  color: var(--mainDark);
}


