<toolbar></toolbar>
<div class="row contactPage">
  <div class="col-lg-6 col-md-6">
    <h1>{{ 'contactHeader' | translate }}</h1>
    <p class="contactHeaderText">{{ 'contactHeaderText' | translate }}</p>
    <p> {{ 'joinCommunity' | translate }} <a href="https://discord.gg/wkTGSHA" target="_blank" class="discordLink">discord <i class="fab fa-discord"></i></a></p>
    <p> {{ 'submitBug' | translate }} <a href="https://gitlab.com/fiehra/switchedspace" target="_blank" class="gitlabLink">gitlab <i class="fab fa-gitlab"></i></a></p>
    <p> {{ 'whoIs' | translate }} <a routerLink="/developer" class="fiehraLink">{{'fiehra'|translate}}<i class="material-icons">grade</i></a></p>
  </div>
  <div class="col-lg-6 col-md-6">
    <contact-form (submitClicked)="submitContactRequest($event)" [contactForm]="contactForm"></contact-form>
  </div>
</div>

<footer></footer>