h1 {
  margin-top: 35%;
  color: var(--light);
  font-weight: 200;
}

.contactPage {
  max-width: 1440px;
  margin: 0 auto!important;
}

p {
  color: var(--light);
  padding-right: 12%;
  line-height: 30px;
  font-weight: 200;
  font-size: 125%;
  letter-spacing: 0px;

  a {
    letter-spacing: 0px;
    font-weight: 400;
    transition: 0.2s;
  }
  
  .discordLink {
    color: #7289DA;
  }

  .gitlabLink {
    color: #fa7035;
  }

  .fiehraLink {
    color: var(--main);
  }

  a:hover {
    font-weight: 400;
    color: var(--light);
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    margin-top: 5%;
    text-align: center !important;
  }

  p {
    text-align: center!important;
    padding-right: 0;
    margin-bottom: 0;
    text-align: justify;
  }

  .contactHeaderText {
    display: none;
  }

}