@use '~@angular/material' as mat;
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './app/utils/material/material-custom-theme';
$custom-typography: mat.define-typography-config(
  $font-family: 'Raleway',
);
@include mat.all-component-typographies($custom-typography);

:root {
  // theme defaultDark
  --main: #68878e;
  --mainDark: #526b71;
  --mainSuperDark: #3d4f53;
  --mainLight: #8ea7ac;
  --mainFont: #eee;
  --alt: #888;
  --altHover: #ddd;
  --altFont: #000;
  --gradient: #849fa5;
  --mainBackground: #222222ee;
  --altBackground: #111;
  --light: #fff;
  --dark: #000;
  // --image: url(/assets/img/shoujoHorizontal.jpg);
  // --image: url(/assets/img/horizontalGairan.jpg);
  --image: url(/assets/img/horizontalKyoka.jpg);
  // --image: url(/assets/img/horizontalRiten.jpg);
  // --image: url(/assets/img/kasaiHorizontal.jpg);
  // --image: url(/assets/img/2x1SaiRyoku.jpg);
  // --image: url(/assets/img/kokochiHorizontal.jpg);
  // --imageVert: url(/assets/img/shoujoVertical.jpg);
  // --imageVert: url(/assets/img/verticalGairan.jpg);
  // --imageVert: url(/assets/img/verticalRiten.jpg);
  --imageVert: url(/assets/img/verticalKyoka.jpg);
  // --imageVert: url(/assets/img/kasaiVertical.jpg);
  // --imageVert: url(/assets/img/verticalSairyoku.jpg);
  // --imageVert: url(/assets/img/2x1KokoChi.jpg);
}

html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;

  .row {
    margin: 0 0 !important;
  }

  a {
    cursor: pointer;
  }

  // buttons
  .button {
    margin: 0px 8px;
    padding: 10px 20px;
    border: none;
    font-size: 150%;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 33px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }

  .main {
    background: var(--mainDark);
    color: var(--light);
    box-shadow: 1px 1px 6px var(--mainDark);
  }

  .alt {
    background: var(--alt);
    color: var(--altFont);
  }

  .outline {
    font-weight: 400;
    background: #00000000;
    color: var(--main);
  }

  button:focus {
    outline: 0 !important;
  }

  .button:disabled {
    background: var(--mainSuperDark);
    color: var(--mainLight);
    box-shadow: 1px 1px 6px var(--mainSuperDark);
  }

  .button:disabled:hover {
    background: var(--mainSuperDark);
    color: var(--mainLight);
    box-shadow: 1px 1px 6px var(--mainSuperDark);
  }

  .main:hover,
  .main:active {
    background: var(--mainLight);
    box-shadow: 0 0 12px var(--mainLight);
    color: var(--dark);
  }

  .alt:hover,
  .alt:active {
    background: var(--altHover);
    box-shadow: 0 0 12px var(--altHover);
  }

  .outline:hover,
  .outline:active {
    color: var(--mainLight);
    text-shadow: 0 0 10px var(--mainLight);
    box-shadow: 0 0 10px var(--mainLight);
  }

  // center elements
  .center {
    text-align: center;
  }

  // // hide srollbar
  // ::-webkit-scrollbar {
  //   width: 0px !important;
  //   background: transparent !important;
  //   /* make scrollbar transparent */
  // }

  // scrollbar-width: none;

  .mat-menu-panel {
    background: var(--main) !important;
    border-radius: 0 !important;
  }

  .mat-card-header-text {
    width: 100%;
    margin: 0 !important;
  }

  // text area and input underlines and disabled states
  .mat-form-field-underline {
    background-color: var(--main) !important;
  }

  .mat-form-field-ripple {
    background-color: var(--mainFont) !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: var(--mainFont);
  }

  .mat-form-field-disabled .mat-form-field-underline {
    background: var(--main) !important;
  }

  // color of button in snackbar
  .mat-simple-snackbar-action {
    .mat-button-wrapper {
      color: var(--main);
    }
  }

  .mat-card {
    border-radius: 0px;
  }

  // style mat tabs for color combo tool
  .mat-tab-label {
    color: var(--main) !important;
    font-size: 125%;
  }

  // hide label when forumlistcomponent
  .forumListTextArea {
    .mat-form-field-label {
      display: none !important;
    }
  }

  // mat option hover for mat paginator
  mat-option {
    color: var(--mainFont) !important;
    transition: 0.2s;
  }

  mat-option:hover {
    background: var(--altHover) !important;
    color: var(--altFont) !important;
  }

  // change font size of appilcation form mat form fields
  .applicationForm,
  .wallForm,
  .shopForm,
  .streetartForm {
    .mat-form-field {
      font-size: 100% !important;
    }
  }

  // hide label of title in forumviewpostform
  .forumPost {
    .mat-form-field-label {
      display: none !important;
    }
  }

  // fix svg max width for mobile
  svg {
    max-width: 98%;
  }

  @media only screen and (max-width: 768px) {
    // button styles for mobile view
    .outline {
      box-shadow: 0 0 10px var(--mainLight);
      color: var(--mainLight);
    }

    // change mobile view of mat tab in color picker
    .mat-tab-label {
      font-size: 90%;
    }
  }
}
