@font-face {
  font-family: 'icomoon';
  src: url('../../assets/fonts/icomoon.eot?vyfzht');
  // src: url('./assets/fonts/icomoon.eot?vyfzht');
  src: url('../../assets/fonts/icomoon.eot?vyfzht#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/icomoon.ttf?vyfzht') format('truetype'),
    url('../../assets/fonts/icomoon.woff?vyfzht') format('woff'),
    url('../../assets/fonts/icomoon.svg?vyfzht#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  // font-size: 200%;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adaSvg:before {
  content: '\e900';
  position: relative;
  top: 3px;
}

.icon-bitcoinSvg:before {
  content: '\e901';
  position: relative;
  top: 3px;
}

.icon-nanoSvg:before {
  content: '\e902';
  position: relative;
  top: 5px;
}

.icon-rippleSvg:before {
  content: '\e903';
  position: relative;
  top: 3px;
}

.icon-solanaSvg:before {
  content: '\e904';
  position: relative;
  top: 4px;
}

.icon-spraycan:before {
  content: '\e905';
}

.icon-stellarSvg:before {
  content: '\e906';
  position: relative;
  top: 3px;
}

.icon-thetaSvg:before {
  content: '\e907';
  position: relative;
  top: 3px;
}

.icon-tronSvg:before {
  content: '\e908';
  position: relative;
  top: 3px;
}
