<scroll-indicator></scroll-indicator>
<toolbar></toolbar>
<mat-card class="outerCard">
  <div class="flexbox">
    <h2>{{ 'howToDisposeCans' | translate }}</h2>
    <mat-card-content>
      <p>{{ 'disposal1Text' | translate }}</p>
      <br />
      <img src="/assets/img/cold.jpeg" alt="oldFactory" />
      <br />
      <p>{{ 'disposal2Text' | translate }}</p>
      <br />
      <p>{{ 'disposal3Text' | translate }}</p>
      <br />
      <br />
      <p>{{ 'disposal4Text' | translate }}</p>
      <br />
      <p>{{ 'disposal5Text' | translate }}</p>
    </mat-card-content>
  </div>
</mat-card>
<scroll-top></scroll-top>
<footer></footer>
