<div class="section">
  <h2>{{ "topics" | translate }}</h2>
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ "beginner" | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>{{ "basicCanControl" | translate }}</li>
            <li>{{ "letterStructure" | translate }}</li>
            <li>{{ "colorTheory" | translate }}</li>
            <li>{{ "shadows" | translate }}</li>
            <li>{{ "blocks" | translate }}</li>
            <li>{{ "safety" | translate }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ "advanced" | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>{{ "advancedCanControl" | translate }}</li>
            <li>{{ "flaresFading" | translate }}</li>
            <li>{{ "basicEffects" | translate }}</li>
            <li>{{ "backgrounds" | translate }}</li>
            <li>{{ "capTypes" | translate }}</li>
            <li>{{ "canDisposal" | translate }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ "expert" | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>{{ "pressureControl" | translate }}</li>
            <li>{{ "advancedEffects" | translate }}</li>
            <li>{{ "multiColorOutlines" | translate }}</li>
            <li>{{ "perspective" | translate }}</li>
            <li>{{ "lighting" | translate }}</li>
            <li>{{ "teaching" | translate }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <button class="button main contactButton" routerLink="/application/create">{{'bookNow'|translate}}</button>
</div>
