<toolbar></toolbar>
<application-toolbar *ngIf="applicationForm" [applicationForm]="applicationForm" (deleteClicked)="deleteApplication()" (saveClicked)="updateApplication()"></application-toolbar>
<div class="flexbox">
  <mat-card class="outerCard" *ngIf="applicationForm && fiehra">
    <application-form [applicationForm]="applicationForm"></application-form>
  </mat-card>
</div>
<footer></footer>