.signupPage {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

toolbar {
  width: 100%;
}

footer {
  width: 100%;
}