<div class="row forumPost" [routerLink]="['/viewForumPost', forumPostForm.get('id').value]">
  <div class="col-xl-11 col-lg-11 col-md-10 col-sm-10 col-10">
    <h3>
      {{ forumPostForm.get('title').value }}
    </h3>
    <p>
      {{ forumPostForm.get('writerUsername').value }}
    </p>
  </div>
  <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-2">
    <div class="votes">{{ votes }}</div>
  </div>
</div>
