.forumPost {
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid var(--mainSuperDark);
  background: var(--mainBackground);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  cursor: pointer;
  color: var(--mainFont);
}

p {
  margin: 0;
}

.votes {
  color: var(--main);
  font-size: 200%;
  position: relative;
}

.forumPost:hover {
  background: var(--altBackground);
}

@media only screen and (max-width: 768px) {
  .forumPost {
    font-size: 50%;

    h3 {
      font-size: 200%;
    }
  }


}