<mat-form-field>
  <mat-select placeholder="{{placeholder + (isRequired ? ' *': '')}} " [formControl]="inputControl">
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{option.label | translate}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="inputControl.hasError('required')">{{requiredErrorMessage}}</mat-error>
</mat-form-field>