.mat-select-panel {
  background: var(--mainBackground) !important;
}

mat-option {
  color: var(--mainFont) !important;
  transition: 0.2s;
}

mat-option:hover {
  background: var(--altHover) !important;
  color: var(--altFont) !important;
}

.mat-select-value {
  color: var(--main) !important;
}
