<mat-toolbar>
  <div class="backButton">
    <i class="material-icons" routerLink="/application/list" matTooltip="{{'back'|translate}}" matTooltipPosition="below" matTooltipShowDelay="1000">arrow_left</i>
  </div>
  <h1> {{ applicationForm.get('title').value }}</h1>
  <span class="spacer"></span>
  <div *ngIf="loggedIn && userRole === 'fiehra'">
    <button class="button main" (click)="openDeleteConfirmation()">
      <i class="material-icons">delete</i>
      <span>{{ 'delete' | translate }}</span>
    </button>
    <button class="button main" (click)="enableEditing()" *ngIf="!editmode">
      <i class="material-icons">create</i>
      <span>{{'edit'|translate}}</span>
    </button>
    <button class="button alt" (click)="emitSaved()" *ngIf="editmode">
      <i class="material-icons">save</i>
      <span>{{'save'|translate}}</span>
    </button>
  </div>
</mat-toolbar>