<scroll-indicator></scroll-indicator>
<toolbar></toolbar>
<forum-toolbar></forum-toolbar>
<mat-card class="outerCard" *ngIf="forumPosts.length > 0">
  <forum-list-post
    *ngFor="let forumPostForm of forumPosts | sort: 'votes'"
    [forumPostForm]="forumPostForm"
  ></forum-list-post>
</mat-card>
<mat-paginator
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePage($event)"
></mat-paginator>
<scroll-top></scroll-top>
<footer></footer>
