mat-card {
  color: var(--mainFont);
}

.outerCard {
  margin: 1rem auto;
  max-width: 1440px;
  background: var(--mainBackground);
  box-shadow: none !important;
}

.mat-paginator {
  background: var(--mainBackground);
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 15px;
  color: var(--mainFont);
  .mat-form-field {
    font-size: 100% !important;
  }
}

.mat-select-panel {
  background: var(--mainBackground) !important;
}

.mat-select-value {
  color: var(--mainFont) !important;
}

.mat-select-trigger {
  font-size: 100% !important;
}

.mat-paginator-navigation-previous,
.mat-paginator-navigation-next {
  color: var(--main) !important;
}

.mat-select-arrow {
  color: var(--main);
}

@media only screen and (max-width: 768px) {
  .outerCard {
    margin: 0;
  }

  .mat-paginator {
    margin: 0;
    font-size: 100%;
  }

  .mat-paginator-icon {
    width: 40px !important;
  }
}
