<div class="section">
  <h2>{{ "webdevSection" | translate }}</h2>
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ "fullstack" | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>javascript</li>
            <li>angular</li>
            <li>typescript</li>
            <li>css, bootstrap</li>
            <li>nodeJS</li>
            <li>express</li>
            <li>nestJS</li>
            <li>mongoDB</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ "devtools" | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>jest</li>
            <li>git</li>
            <li>yarn</li>
            <li>gitlab</li>
            <li>nginx</li>
            <li>linux, windows</li>
            <li>{{ "serverAdmin" | translate }}</li>
            <li>{{ "agile" | translate }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ "focus" | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>{{ "fun" | translate }}</li>
            <li>{{ "learn" | translate }}</li>
            <li>{{ "share" | translate }}</li>
            <li>{{ "teach" | translate }}</li>
            <li>{{ "create" | translate }}</li>
            <li>{{ "quality" | translate }}</li>
            <li>{{ "motivation" | translate }}</li>
            <li>{{ "creativity" | translate }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
