.section {
  margin-bottom: 12vh;
  text-align: center;
}

h2 {
  margin: 3vh auto;
  font-weight: 400;
  font-size: 250%;
}

.webdevButton {
  margin-top: 2rem;
}

mat-card {
  margin: 20px;
  background: #ffffff00;
  color: var(--mainFont);
  text-align: center;
  transition: transform 0.5s, opacity 0.5s;
  -webkit-transition: transform 0.5s, opacity 0.5s;
  -moz-transition: transform 0.5s, opacity 0.5s;
  -ms-transition: transform 0.5s, opacity 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  box-shadow: none !important;
}

ul {
  font-size: 120%;
  margin: 0 !important;
  text-align: center;
  padding: 0;
  li {
    list-style-type: none;
    padding-bottom: 8px;
  }
}

mat-card:hover {
  color: var(--main);
  cursor: default;
  transform: scale(1.1);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

mat-card-title {
  text-align: center;
  font-size: 200% !important;
}

mat-card-content {
  font-size: 100%;
}

img {
  display: none;
}

@media only screen and (max-width: 768px) {
  .section {
    margin-bottom: 10vh;
  }

  h2 {
    font-size: 200%;
  }

  ul {
    font-size: 100%;
    li {
      padding-bottom: 5px;
    }
  }

  mat-card-title {
    text-align: center;
    font-size: 140% !important;
  }
}
