<button class="button main donateButton" [matMenuTriggerFor]="donateMenu">
  <i class="material-icons">favorite</i>
  <span> {{ 'donate' | translate }}</span>
</button>

<mat-menu #donateMenu="matMenu" xPosition="after">
  <button mat-menu-item class="donateMenuButton" (click)="copyCoinAddress('bitcoin')">
    <i class="icon-bitcoinSvg"></i><span> {{ 'bitcoin' | translate }} </span>
  </button>
  <button mat-menu-item class="donateMenuButton" (click)="copyCoinAddress('ethereum')">
    <i class="fab fa-ethereum"></i><span> {{ 'ethereum' | translate }} </span>
  </button>
  <button mat-menu-item class="donateMenuButton" (click)="copyCoinAddress('tron')">
    <i class="icon-tronSvg"></i><span> {{ 'tron' | translate }} </span>
  </button>
  <button mat-menu-item class="donateMenuButton" (click)="copyCoinAddress('cardano')">
    <i class="icon-adaSvg"></i><span> {{ 'cardano' | translate }} </span>
  </button>
  <button mat-menu-item class="donateMenuButton" (click)="copyCoinAddress('solana')">
    <i class="icon-solanaSvg"></i><span> {{ 'solana' | translate }} </span>
  </button>
  <!-- <button mat-menu-item class="donateMenuButton" (click)="copyCoinAddress('ripple')">
    <i class="icon-rippleSvg"></i><span> {{ 'ripple' | translate }} </span>
  </button> -->
  <button mat-menu-item class="donateMenuButton" (click)="copyCoinAddress('stellar')">
    <i class="icon-stellarSvg"></i><span> {{ 'stellar' | translate }} </span>
  </button>
  <button mat-menu-item class="donateMenuButton" (click)="copyCoinAddress('nano')">
    <i class="icon-nanoSvg"></i><span> {{ 'nano' | translate }} </span>
  </button>
  <button mat-menu-item class="donateMenuButton" (click)="copyCoinAddress('theta')">
    <i class="icon-thetaSvg"></i><span> {{ 'theta' | translate }} </span>
  </button>
</mat-menu>
