.material-icons {
  position: relative;
  top: 3px;
  font-size: 125%;
}

span {
  position: relative;
  bottom: 7px;
}

.donateMenuButton {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 150%;

  .fab {
    position: relative;
    font-size: 100%;
  }

  span {
    bottom: 0;
  }
}

.donateMenuButton:hover {
  background: var(--mainSuperDark);
  color: var(--light) !important;
}

@media only screen and (max-width: 768px) {
}
