.graffmap {
  height: 75vh;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .graffmap {
    height: calc(100vh - 55px);
    position: relative;
    z-index: 1;
  }
}
