<toolbar></toolbar>
<profile-toolbar *ngIf="userForm" (reportClicked)="reportUserProfile($event)" [userForm]="userForm"></profile-toolbar>
<profile-form *ngIf="userForm" [userForm]="userForm"></profile-form>
<scroll-top></scroll-top>
<footer></footer>