<div class="section">
  <h2>{{ 'experience' | translate }}</h2>
  <div class="row">
    <div class="col-xl-3 col-lg-2 col-2 col-sm-1 col-0"></div>
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 col-12">
      <ul>
        {{
          'current' | translate
        }}
        <li>
          <a class="link" target="_blank" href="https://www.thequalitygate.com/"
            >{{ 'frontendDeveloperAt' | translate
            }}<span class="h"> {{ 'theQualityGate' | translate }}</span></a
          >
        </li>
        <li>
          <a class="link" routerLink="/home"
            >{{ 'fullstackDeveloperAt' | translate
            }}<span class="h"> {{ 'switchedspace' | translate }}</span></a
          >
        </li>
        <li>
          <a class="link" target="_blank" href="https://foodsharing.de"
            >{{ 'memberOf' | translate }}<span class="h"> {{ 'foodsharing' | translate }}</span></a
          >
        </li>
        <li>
          <a class="link" routerLink="/gallery"
            >{{ 'artistIn' | translate }}<span class="h"> {{ 'berlin' | translate }}</span></a
          >
        </li>
      </ul>
      <ul>
        {{
          'past' | translate
        }}
        <li>
          <a class="link" target="_blank" href="https://nyanya.cat/"
            >{{ 'fullstackDeveloperAt' | translate
            }}<span class="h"> {{ 'nyanya' | translate }}</span></a
          >
        </li>
        <li>
          <a class="link" target="_blank" href="https://tx-law.de/"
            >{{ 'fullstackDeveloperAt' | translate
            }}<span class="h"> {{ 'tx-law' | translate }}</span></a
          >
        </li>
        <li>
          <a class="link" target="_blank" href="https://doublecheck-it.de/"
            >{{ 'frontendDeveloperAt' | translate
            }}<span class="h"> {{ 'doublecheckIT' | translate }}</span></a
          >
        </li>
        <li>
          <a class="link" target="_blank" href="https://tarmac-festival.de/"
            >{{ 'graffitiWorkshopAt' | translate
            }}<span class="h"> {{ 'tarmacFestival2021' | translate }}</span></a
          >
        </li>
        <li>
          <a class="link" target="_blank" href="https://gitlab.com/humants"
            >{{ 'fullstackDeveloperAt' | translate
            }}<span class="h"> {{ 'humants' | translate }}</span></a
          >
        </li>
        <li>
          <a class="link" target="_blank" href="https://belum-manufaktur.de/"
            >{{ 'artistFor' | translate
            }}<span class="h"> {{ 'belumManufaktur' | translate }}</span></a
          >
        </li>
        <li>
          <a class="link" target="_blank" href="https://handymanjerryberlin.de/"
            >{{ 'frontendDeveloperAt' | translate
            }}<span class="h"> {{ 'handymanjerry' | translate }}</span></a
          >
        </li>
        <li>
          <a class="link" target="_blank" href="https://tarmac-festival.de/"
            >{{ 'graffitiWorkshopAt' | translate
            }}<span class="h"> {{ 'tarmacFestival2020' | translate }}</span></a
          >
        </li>
        <li>
          <a
            class="link"
            target="_blank"
            href="https://www.uni-stuttgart.de/studium/bachelor/luft-und-raumfahrttechnik-b.sc./"
            >{{ 'bachelorOfScience' | translate
            }}<span class="h"> {{ 'aerospaceEngineering' | translate }}</span></a
          >
        </li>
      </ul>
    </div>
    <div class="col-xl-3 col-lg-2 col-2 col-sm-1 col-0"></div>
  </div>
  <button class="button main contactButton" routerLink="/contact">
    {{ 'contact' | translate }}
  </button>
</div>
