.section {
  margin-bottom: 12vh;
  text-align: center;
}

ul {
  text-align: left;
  list-style: none;
  font-weight: 400;
  margin: 30px auto 35px auto;
}

li {
  margin: 25px auto;
}

h2 {
  margin: 3vh auto;
  font-weight: 400;
  font-size: 250%;
}

.contactButton {
  margin-top: 2rem;
}

a {
  font-weight: 400;
  color: var(--main);
  text-decoration: none;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.h {
  position: relative;
}

.h::before {
  height: 12px;
  width: 100%;
  display: inline-block;
  position: absolute;
  content: " ";
  color: var(--main);
  background: var(--main);
  opacity: 0.3;
  top: 15px;
  transform: translate(4px);
  -webkit-transform: translate(4px);
  -moz-transform: translate(4px);
  -ms-transform: translate(4px);
  -o-transform: translate(4px);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}


a:hover {
  color: var(--alt);
  
  .h::before {
    width: 120%;
    background: var(--alt);
    transform: translate(12px);
    -webkit-transform: translate(12px);
    -moz-transform: translate(12px);
    -ms-transform: translate(12px);
    -o-transform: translate(12px);
  }
  
}


@media only screen and (max-width: 768px) {
  span {
    font-weight: bold;
  }

  .h::before {
    display: none;
  }
  
  ul {
    padding: 0 10px;
  }
  
}