.footer {
  text-align: center;
  background: var(--mainBackground);
  color: var(--mainFont);
  font-weight: 400;
  font-size: 100%;
  padding-top: 3%;

  .row {
    padding-bottom: 1%;
  }

  .footerLeft {
    text-align: left;
    padding-left: 6%;
    padding-bottom: 1%;
    word-break: keep-all;
  }

  .footerRight {
    text-align: right;
    padding-right: 6%;
    padding-bottom: 1%;
  }

  p {
    font-size: 70%;
    margin: 0;
  }

  i.material-icons {
    color: red;
    font-size: 100%;
  }

  a {
    text-decoration: none;
    color: var(--mainFont);
    transition: 0.2s;
    margin: 0 10px;
  }

  a:hover {
    color: var(--main);
  }

  span {
    font-weight: bold;
    color: var(--main);
  }

  .fa-discord {
    color: #7289da;
  }

  .fa-gitlab {
    color: #fa7035;
  }

  .fab {
    font-size: 150%;
    transition: 0.2s;
  }

  .fab:hover {
    color: var(--mainFont);
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    .footerLeft {
      text-align: center;
      margin: 10px auto 20px auto;

      a {
        font-size: 125%;
        display: block;
        padding: 15px;
        font-weight: 400;
      }
    }

    .footerRight {
      font-size: 175%;
      text-align: center;
      padding-bottom: 20px;
    }
  }
}
