<div class="footer">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 footerLeft">
      <a routerLink="/contact"> {{ 'contact' | translate }} </a>
      <a routerLink="/privacy"> {{ 'privacyPolicy' | translate }} </a>
      <a routerLink="/imprint"> {{ 'imprint' | translate }} </a>
      <a routerLink="/faq"> {{ 'faq' | translate }} </a>
      <a routerLink="/changelog"> {{ 'changelog' | translate }} </a>
      <a routerLink="/developer"> {{ 'fiehra' | translate }} </a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footerRight">
      <a href="https://gitlab.com/fiehra" target="_blank"><i class="fab fa-gitlab"></i></a>
      <a href="https://discord.gg/wkTGSHA" target="_blank"><i class="fab fa-discord"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-0"></div>
    <div class="col-md-4 col-sm-12">
      <p>{{ 'footerText' | translate }} <i class="material-icons">favorite</i></p>
      <p>{{ 'copyrightText' | translate }}</p>
      <p>
        {{ 'version' | translate }}: <span>{{ version }}</span>
      </p>
    </div>
    <div class="col-md-4 col-sm-0"></div>
  </div>
</div>
