<scroll-indicator></scroll-indicator>
<toolbar></toolbar>
<mat-card class="outerCard">
  <h2>{{ "workshops" | translate }}</h2>
  <workshop-info-section></workshop-info-section>
  <workshop-images-section></workshop-images-section>
  <workshop-topics-section></workshop-topics-section>
</mat-card>
<scroll-top></scroll-top>
<footer></footer>
