mat-card {
  color: var(--mainFont);
  padding: 1% 1%;
}

.outerCard {
  width: 100%;
  margin: 1rem auto;
  max-width: 1440px;
  background: var(--mainBackground);
  box-shadow: none !important;
}

h2 {
  margin: 3vh auto;
  font-weight: 400;
  font-size: 250%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .flexbox {
    min-height: auto;
  }

  .outerCard {
    margin: 0;
  }

  h2 {
    padding-top: 15px;
    font-size: 200%;
  }

}
