<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'loginHi' | translate }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="!verifiedLink"> {{ 'enterLoginInfo' | translate }} </p>
    <p *ngIf="verifiedLink"> {{ 'emailVerified' | translate }} </p>
    <div class="center">
      <switched-input (keyup.enter)="loggingIn()" [placeholder]="'playerEmail'|translate" [control]="loginForm.get('email')"></switched-input>
      <switched-password (keyup.enter)="loggingIn()" [placeholder]="'playerPassword'|translate" [control]="loginForm.get('password')"></switched-password>
    </div>
    <button class="button main" (click)="loggingIn()">{{'logIn'|translate}}</button>
    <p *ngIf="!verifiedLink"> {{ 'noAccountYet' | translate }} <a routerLink="/signup"> {{'signup' | translate }} </a></p>
  </mat-card-content>
</mat-card>