<scroll-indicator></scroll-indicator>
<toolbar></toolbar>
<mat-card class="outerCard">
  <div class="flexbox">
    <h2>{{ 'safetyAndProtection' | translate }}</h2>
    <mat-card-content>
      <p>{{ 'safetyProtection1' | translate }}</p>
      <br />
      <p>{{ 'safetyProtection2' | translate }}</p>
      <br />
      <p>{{ 'safetyProtection3' | translate }}</p>
      <br />
      <p>{{ 'safetyProtection4' | translate }}</p>
      <br />
      <img src="/assets/img/gear.jpg" alt="safetyGear" />
      <br />
      <p>{{ 'safetyProtection5' | translate }}</p>
      <br />
      <p>{{ 'safetyProtection6' | translate }}</p>
      <br />
      <p>{{ 'safetyProtection7' | translate }}</p>
      <br />
      <p>{{ 'safetyProtection8' | translate }}</p>
      <br />
      <p>
        <a
          href="https://cloud.montana-cans.com/index.php/s/wOhv7H8fIahfoFI"
          target="_blank"
        >
          {{ 'safetyDataSheet' | translate }} - montana gold
        </a>
      </p>
      <br />
      <p>
        <a
          href="https://cloud.montana-cans.com/index.php/s/TKnWvHXLlHwqHru"
          target="_blank"
        >
          {{ 'safetyDataSheet' | translate }} - montana black
        </a>
      </p>
      <br />
      <p>
        <a
          href="https://www.montanacolors.com/downloads/MSDS_MTN_94_EN.pdf"
          target="_blank"
        >
          {{ 'safetyDataSheet' | translate }} - MTN 94
        </a>
      </p>
      <br />
      <p>
        <a
          href="https://www.montanacolors.com/downloads/MSDS_Hardcore_EN.pdf"
          target="_blank"
        >
          {{ 'safetyDataSheet' | translate }} - MTN harcore
        </a>
      </p>
      <br />
      <p>{{ 'safetyProtectionWarning' | translate }}</p>
      <br />
      <p class="sprayHeader">{{ 'conclusion' | translate }}</p>
      <br />
      <p class="safetyList">{{ 'safetyList1' | translate }}</p>
      <p class="safetyList">{{ 'safetyList2' | translate }}</p>
      <p class="safetyList">{{ 'safetyList3' | translate }}</p>
      <p class="safetyList">{{ 'safetyList4' | translate }}</p>
      <p class="safetyList">{{ 'safetyList5' | translate }}</p>
      <p class="safetyList">{{ 'safetyList6' | translate }}</p>
      <p class="safetyList">{{ 'safetyList7' | translate }}</p>
    </mat-card-content>
  </div>
</mat-card>
<scroll-top></scroll-top>
<footer></footer>
