mat-card {
  color: var(--mainFont);
  padding: 15px;
}

.outerCard {
  width: 100%;
  margin: 1rem auto;
  max-width: 1440px;
  background: var(--mainBackground);
  box-shadow: none !important;
}

.flexbox {
  text-align: center;
  min-height: 64vh;
  padding-bottom: 2rem;
}

h2 {
  max-width: 900px;
  margin: 2rem auto;
  text-align: left;
}

p {
  max-width: 900px;
  margin: 0 auto;
  text-align: justify;
  font-size: 1rem;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.sprayHeader {
  color: var(--main);
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--main);
  transition: 0.2s;
}

a:hover {
  color: var(--mainDark);
}

img {
  width: 100%;
  max-width: 900px;
  margin: 1rem auto 2rem auto;
}

.safetyList {
  margin-bottom: 3px;
}

@media only screen and (max-width: 768px) {
  .outerCard {
    margin: 0;
  }

  h2 {
    margin: 1rem auto;
    font-size: 150%;
  }

  p {
    font-size: 125%;
  }

  .safetyList {
    text-align: left;
  }

  a {
    font-size: 100%;
  }
}
