mat-card {
  margin: 0 auto;
  max-width: 900px;
  background: var(--mainBackground) !important;
  color: var(--mainFont);
}

.outerCard {
  margin: 8vh auto;
  padding: 6% 6%;
}

.innerCard {
  background: var(--altBackground) !important;
  margin-bottom: 15px;
  padding: 2% 4%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

mat-card-header {
  margin-bottom: 25px;
}

mat-card-content {
  padding: 0 auto;
}

button {
  margin: 20px 8px 0px 8px;
}

