<mat-card class="outerCard">
  <mat-card-header>
    <mat-card-title>
      {{ 'createForumHeader' | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="innerCard">
      <switched-input [placeholder]="'postTitle'|translate" [control]="forumPostForm.get('title')"></switched-input>
    </mat-card>
    <mat-card class="innerCard">
      <switched-textarea [minRows]="5" [maxRows]="50" [placeholder]="'postContent'|translate" [control]="forumPostForm.get('content')"></switched-textarea>
    </mat-card>
    <div class="center">
      <button class="button main" *ngIf="!created" (click)="emitCreated()">{{'create'|translate}}</button>
      <button class="button alt" *ngIf="!created" routerLink="/viewForumList">{{'cancel'| translate}}</button>
      <button class="button alt" *ngIf="created" routerLink="/viewForumList">{{'back'| translate}}</button>
    </div>
  </mat-card-content>
</mat-card>