<toolbar></toolbar>
<div class="error404 center">
  <h2>{{'error404' | translate}}</h2>
  <p>{{'pageNotFound' | translate}}</p>
  <button class="button outline" routerLink="/home">{{'home'|translate}}</button>
</div>

<footer></footer>