.mat-toolbar {
  background: var(--main);
  color: var(--dark);
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 55px;
  padding: 0;
}

.spacer {
  height: 55px;
  flex: 1 1 auto;
}

// toolbarButtons
.toolbarButton {
  padding: 0 10px;
  height: 55px;
  background: var(--main);
  border: none;
  transition: 0.2s;
  cursor: pointer;

  .material-icons {
    cursor: pointer;
    position: relative;
    top: 3px;
    font-size: 225%;
  }
}

.toolbarButton:hover,
.toolbarButton:active {
  background: var(--mainSuperDark);
  color: var(--light);
}

.floatingMenu {
  left: 50px;
  bottom: 40px;
  position: fixed;
  z-index: 3;
}

@media only screen and (max-width: 768px) {
  .floatingMenu {
    left: 16px;
  }
}
