<mat-toolbar>
  <main-menu></main-menu>
  <span class="spacer"></span>
  <button class="toolbarButton" routerLink="/home">
    <i class="material-icons">home</i>
  </button>
</mat-toolbar>
<main-menu class="floatingMenu" *ngIf="showFloatingMenu"></main-menu>
