<mat-toolbar>
  <h1> {{ 'allTopics' | translate }}</h1>
  <span class="spacer"></span>
  <button *ngIf="loggedIn" class="button alt" routerLink="/createForumPost" matTooltip="{{'createPost'|translate}}" matTooltipPosition="below" matTooltipShowDelay="1000">
    <i class="material-icons">add</i>
    <span>{{ 'create' | translate }}</span>
  </button>
  <button *ngIf="!loggedIn" class="button main" routerLink="/signup">
    <i class="material-icons">person_add</i>
    <span> {{ 'signup' | translate }}</span>
  </button>
</mat-toolbar>