<toolbar></toolbar>
<profile-toolbar
  *ngIf="userForm"
  (saveClicked)="updateProfile($event)"
  (deleteClicked)="openDeleteAccountConfirmation($event)"
  [userForm]="userForm"
></profile-toolbar>
<profile-form
  *ngIf="userForm"
  (imagePicked)="uploadImage($event)"
  [userForm]="userForm"
></profile-form>
<scroll-top></scroll-top>
<footer></footer>
