p {
  padding-bottom: 20px;
}

.mat-dialog-container {
  background: var(--mainBackground) !important;
  color: var(--mainFont);
  padding-bottom: 25px;
  box-shadow: 0 0 10px var(--altBackground);
}

.cdk-overlay-dark-backdrop {
  background: #333333bb;
}

.dialogContainer {
  width: 450px;
  h1 {
    font-size: 100%;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .dialogContainer {
    width: auto;
  }

  .dialogContainer {
    .button {
      margin: 0;
      margin-bottom: 15px;
      width: 100%;
    }
  }
}
