<div class="dialogContainer center">
  <h1>{{ data.title }}</h1>
  <p>{{ data.text }}</p>
  <button class="button main" (click)="confirmAction()" mat-dialog-close>
    {{ 'snackOk' | translate }}
  </button>
  <button class="button outline" (click)="cancelAction()">
    {{ 'cancel' | translate }}
  </button>
</div>
