.section {
  margin-bottom: 12vh;
  text-align: center;
}

p {
  margin: 0 auto;
  letter-spacing: 1px;
  max-width: 900px;
  font-size: 125%;
}

.infoText {
  margin-bottom: 2rem;
}

.additionalInfoText {
  margin-top: 2rem;
}

.scrollButton {
  height: 5rem;
  margin: 12px auto;
  width: 100%;
}

.toggled {
  background: var(--mainLight);
  color: var(--dark);
  box-shadow: 0 0 12px var(--mainLight);
}

.material-icons {
  display: none;
}

.contactButton {
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .section {
    margin-bottom: 10vh;
  }

  .scrollButton {
    height: 6rem;
  }

  .infoText {
    margin-bottom: 1rem;
  }

  .additionalInfoText {
    margin-top: 1rem;
  }

  span {
    font-weight: 400;
    font-size: 60%;
  }

  p {
    font-size: 100%;
    text-align: justify;
    padding: 15px;
  }

  .material-icons {
    margin: 0;
    display: block;
    font-size: 125%;
  }
}
