<div class="section">
  <p class="infoText">{{ "workshopInfoText" | translate }}</p>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
      <button
        class="button main scrollButton toggled"
        *ngIf="currentInfo === 'festival'"
        (click)="setInfo('festival')"
      >
        <i class="material-icons">nature_people</i
        ><span>{{ "festivals" | translate }}</span>
      </button>
      <button
        class="button main scrollButton"
        *ngIf="currentInfo !== 'festival'"
        (click)="setInfo('festival')"
      >
        <i class="material-icons">nature_people</i
        ><span>{{ "festivals" | translate }}</span>
      </button>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
      <button
        class="button main scrollButton toggled"
        *ngIf="currentInfo === 'private'"
        (click)="setInfo('private')"
      >
        <i class="material-icons">person</i
        ><span>{{ "private" | translate }}</span>
      </button>
      <button
        class="button main scrollButton"
        *ngIf="currentInfo !== 'private'"
        (click)="setInfo('private')"
      >
        <i class="material-icons">person</i
        ><span>{{ "private" | translate }}</span>
      </button>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
      <button
        class="button main scrollButton toggled"
        *ngIf="currentInfo === 'groups'"
        (click)="setInfo('groups')"
      >
        <i class="material-icons">group</i
        ><span>{{ "groups" | translate }}</span>
      </button>
      <button
        class="button main scrollButton"
        *ngIf="currentInfo !== 'groups'"
        (click)="setInfo('groups')"
      >
        <i class="material-icons">group</i
        ><span>{{ "groups" | translate }}</span>
      </button>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
      <button
        class="button main scrollButton toggled"
        *ngIf="currentInfo === 'session'"
        (click)="setInfo('session')"
      >
        <span class="icon-spraycan material-icons"></span>
        <span>{{ "session" | translate }}</span>
      </button>
      <button
      class="button main scrollButton"
      *ngIf="currentInfo !== 'session'"
      (click)="setInfo('session')"
      >
        <span class="icon-spraycan material-icons"></span>
        <span>{{ "session" | translate }}</span>
      </button>
    </div>
  </div>
  <p class="additionalInfoText" *ngIf="currentInfo === 'festival'">
    {{ "festivalText" | translate }}
  </p>
  <p class="additionalInfoText" *ngIf="currentInfo === 'private'">
    {{ "privateText" | translate }}
  </p>
  <p class="additionalInfoText" *ngIf="currentInfo === 'groups'">
    {{ "groupText" | translate }}
  </p>
  <p class="additionalInfoText" *ngIf="currentInfo === 'session'">
    {{ "sessionText" | translate }}
  </p>
  <button class="button main contactButton" routerLink="/application/create">
    {{ "bookNow" | translate }}
  </button>
</div>
