 <mat-form-field>
   <input matInput placeholder="{{placeholder + (isRequired ? ' *': '')}}" [formControl]="inputControl"/>
   <mat-error *ngIf="inputControl.hasError('required')">{{requiredErrorMessage}}</mat-error>
   <mat-error *ngIf="inputControl.hasError('email')">{{'email_invalid' | translate}}</mat-error>
   <mat-error *ngIf="inputControl.hasError('pwNotSame')">{{'pwsNotSame' | translate}}</mat-error>
   <mat-error *ngIf="inputControl.hasError('noValidNumber')">{{noValidNumberErrorMessage}}</mat-error>
 </mat-form-field>