mat-form-field {
  width: 100%;
  font-size: 140% !important;
  margin: 2px auto;
}

input {
  letter-spacing: 1px;
  word-spacing: 1px;
  color: var(--main) !important;
}

input:disabled {
  color: var(--mainFont) !important;
}