.mat-calendar {
  background-color: var(--altBackground) !important;
  color: var(--mainFont);
}

.mat-calendar-body-cell-content,
.mat-calendar-table-header,
.mat-calendar-header,
.mat-focus-indicator {
  color: var(--mainFont);

}

.mat-calendar-body-label,
.mat-calendar-previous-button::after,
.mat-calendar-next-button::after,
.mat-calendar-body-today {
  color: var(--main);
}

.mat-calendar-body-selected {
  color: var(--altFont);
}