<mat-form-field>
  <input #pickerInput matInput [matDatepicker]="picker" placeholder="{{placeholder + (isRequired ? ' *': '')}}" [(ngModel)]="date" (dateChange)="dateChanged($event)" [disabled]="inputControl.disabled">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<div class="error" *ngIf="showError"> {{errorMessage}}</div>